## Used care listings
We are working with dataset fof used cars from eBay 'Kleinanzeigen', a classfieds section of the German eBay website. The dataset was originally scraped and uploaded to Kaggle, now with a few modifications from the original dataset:

+ now sampled 50,000 data points from the full dataset to ensure the code runs quickly in hosted enviroment
+ Dirtied the dataset a bit to more closely resemable what would have been expected from a scraped dataset

The aim of this proejct is to clearn the data and analyze the included used car listings.

In [1]:
import pandas as pd

dateparser = lambda x:pd.datetime.strptime(x,'%Y-%m-%d %H:%M:%S')
autos = pd.read_csv('autos.csv',encoding='Latin-1',parse_dates=['dateCrawled','dateCreated','lastSeen'],date_parser=dateparser)
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01,0,39218,2016-04-01 14:38:50

In [2]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null datetime64[ns]
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null datetime64[ns]
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null datetime64[ns]
dtypes: datetime64[ns](3), int64(5), object(12)
memory usage: 7.6+ MB

## Observations
+ data volume of 50000
+ memory usage of 7.6+ MB
+ 20 columns of mostly strings
+ some columns have null values, not more than 20% of the data
+ The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

In [3]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [4]:
autos = autos.rename(columns={'dateCrawled':'date_crawled', 
                              'yearOfRegistration':'registration_year',
                      'monthOfRegistration':'registration_month',
                      'notRepairedDamage':'unrepaired_damage',
                      'dateCreated':'ad_created',
                      'lastSeen':'last_seen',
                      'postalCode':'postal_code',
                     'nrOfPictures':'number_pictures',
                     'fuelType':'fuel_type',
                     'powerPS':'power_ps',
                     'vehicleType':'vehicle_type',
                     'offerType':'offer_type'})

In [5]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01,0,39218,2016-04-01 14:38:50

Let's convert the column names from camelcase to snakecase and reword some of the column names based on the data dictionary to e more descriptive

In [6]:
autos.describe()

,registration_year,power_ps,registration_month,number_pictures,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

## Observations
+ number of pictures seem to mostly have one value that may not be relevant to our analysis
+ let's investigate more into power_ps
+ seems registration year and month might be stored as strings and may need some cleaning
+ We may also have to clean up the trailing longs into floats in each column depending on our usage

In [7]:
import re

autos.loc[:,['price','odometer']].replace(to_replace='\$([0-9,\.]+).*', value=r'\1',regex=True,inplace=True)

In [8]:
autos['price'] = [i.replace('$','').replace(',','') if '$' in i else i for i in autos['price']]
autos['price'] = autos['price'].astype('int')

In [9]:
autos['odometer'] = [i.replace('km','').replace(',','') if 'km' in i else i for i in autos['odometer']]
autos['odometer'] = autos['price'].astype('int')

In [10]:
autos[['price','odometer']].dtypes

price       int64
odometer    int64
dtype: object

In [11]:
autos = autos.rename(columns={'odometer':'odometer_km'})

In [12]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,5000,3,lpg,peugeot,nein,2016-03-26,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,8500,6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,8990,7,benzin,volkswagen,nein,2016-03-26,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,4350,6,benzin,smart,nein,2016-03-12,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,1350,7,benzin,ford,nein,2016-04-01,0,39218,2016-04-01 14:38:50

In [13]:
autos[['price','odometer_km']].sort_values(by=['price','odometer_km'],ascending=False)

          price  odometer_km
39705  99999999     99999999
42221  27322222     27322222
27371  12345678     12345678
39377  12345678     12345678
47598  12345678     12345678
2897   11111111     11111111
24384  11111111     11111111
11137  10000000     10000000
47634   3890000      3890000
7814    1300000      1300000
22947   1234566      1234566
514      999999       999999
43049    999999       999999
37585    999990       999990
36818    350000       350000
14715    345000       345000
34723    299000       299000
35923    295000       295000
12682    265000       265000
47337    259000       259000
38299    250000       250000
37840    220000       220000
40918    198000       198000
43668    197000       197000
28090    194000       194000
20351    190000       190000
17140    180000       180000
11433    175000       175000
32840    169999       169999
18509    169000       169000
...         ...          ...
48882         0            0
48889         0            0
48891         0            0
48982         0            0
48985         0            0
49043         0            0
49082         0            0
49254         0            0
49301         0            0
49342         0            0
49350         0            0
49404         0            0
49408         0            0
49479         0            0
49496         0            0
49504         0            0
49507         0            0
49525         0            0
49538         0            0
49551         0            0
49614         0            0
49739         0            0
49755         0            0
49793         0            0
49880         0            0
49884         0            0
49943         0            0
49960         0            0
49974         0            0
49984         0            0

[50000 rows x 2 columns]

In [14]:
autos = autos[(autos[['price','odometer_km']] > 0).all(axis=1) & (autos[['price','odometer_km']] < 169000).all(axis=1)]

# cleaning summary
+ did a sort values of both columns
+ found repeating dubious integer values, went ahead to index in to smallest range out of those values

In [19]:
autos.sort_values(by=['date_crawled','ad_created','last_seen'],ascending=True)

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_pictures,postal_code,last_seen
29899,2016-03-05 14:06:30,VW_Multivan_T4_2.5_Automatik_/_auch_Behinderte...,privat,Angebot,3950,test,bus,1995,automatik,110,transporter,3950,6,benzin,volkswagen,nein,2016-03-05,0,65719,2016-03-13 10:11:17
26440,2016-03-05 14:06:40,Seat_Alhambra_1.9_TDI,privat,Angebot,3300,test,bus,2001,manuell,116,alhambra,3300,10,diesel,seat,nein,2016-03-05,0,57577,2016-03-12 14:16:09
20681,2016-03-05 14:07:04,Schanier._Tuerschanier___hecktuerschanier_merc...,privat,Angebot,100,test,NaN,2005,NaN,0,g_klasse,100,0,NaN,mercedes_benz,NaN,2016-03-05,0,57610,2016-04-06 20:45:36
12426,2016-03-05 14:07:08,Opel_Corsa_B_1_2_L_TÜV_01.2018,privat,Angebot,750,test,NaN,2018,manuell,0,corsa,750,4,benzin,opel,nein,2016-03-05,0,53547,2016-03-06 12:33:37
9524,2016-03-05 14:07:21,Skoda_Fabia_1.2_HTP_Combi_Exact,privat,Angebot,2600,test,kombi,2003,manuell,64,fabia,2600,2,benzin,skoda,nein,2016-03-05,0,65197,2016-03-06 15:31:29
25599,2016-03-05 14:07:26,BMW_320_Cd,privat,Angebot,7249,test,coupe,2004,manuell,150,3er,7249,4,diesel,bmw,nein,2016-03-04,0,61479,2016-03-09 06:16:18
47236,2016-03-05 14:07:40,BMW_Z4_2.2i_schw._met._+_Hardtop_8_Fach_bereift,privat,Angebot,9990,test,cabrio,2005,manuell,170,z_reihe,9990,5,benzin,bmw,nein,2016-03-04,0,35519,2016-03-09 23:16:02
2469,2016-03-05 14:07:45,Volkswagen_Golf_3_mit_TÜV_bis_10/17,privat,Angebot,1450,test,kleinwagen,1996,automatik,75,golf,1450,9,benzin,volkswagen,nein,2016-03-04,0,61381,2016-03-05 15:16:47
12739,2016-03-05 14:08:00,"Chrysler_Stratus_2.5_LX_""Gepflegt""_AHK",privat,Angebot,2700,test,cabrio,1998,automatik,163,andere,2700,2,benzin,chrysler,nein,2016-03-04,0,35510,2016-03-07 17:19:55
21321,2016-03-05 14:08:00,Honda_HR_V_2wd_TÜV_NEU,privat,Angebot,2499,test,suv,2001,manuell,105,andere,2499,3,benzin,honda,nein,2016-03-04,0,57610,2016-04-06 05:16:44
4022,2016-03-05 14:08:05,Audi_A6_Avant_3.0_TDI__Voll_Ausstattung,privat,Angebot,6499,test,kombi,2005,automatik,224,a6,6499,11,diesel,audi,nein,2016-03-04,0,65439,2016-03-09 14:15:40
4392,2016-03-05 14:08:05,Volkswagen_Golf_2.3_V5_4Motion,privat,Angebot,2950,test,limousine,2000,manuell,150,golf,2950,7,benzin,volkswagen,nein,2016-03-04,0,57299,2016-04-06 02:45:33
2679,2016-03-05 14:08:27,Vw_Polo_1_4_Ohne_Tuev,privat,Angebot,500,test,kleinwagen,1998,manuell,60,polo,500,9,benzin,volkswagen,nein,2016-03-04,0,65428,2016-04-06 03:44:51
10947,2016-03-05 14:08:42,Chevrolet_Camaro_4_9l_V8_Coupé_Oldtimer,privat,Angebot,15000,test,coupe,1979,automatik,145,andere,15000,6,benzin,chevrolet,nein,2016-03-04,0,65760,2016-04-06 02:44:41
20014,2016-03-05 14:09:02,Audi_A6_Avant_3.0_TDI,privat,Angebot,7000,test,kombi,2005,automatik,224,a6,7000,10,diesel,audi,nein,2016-03-04,0,60435,2016-03-18 01:15:15
14331,2016-03-05 14:09:02,BMW_118d_DPF_Sitzheizung_Klima_Schiebedach,privat,Angebot,10280,test,limousine,2009,manuell,143,1er,10280,2,diesel,bmw,nein,2016-03-04,0,57584,2016-03-30 20:18:17
24640,2016-03-05 14:09:05,Nissan_370Z_Base_Coupe,privat,Angebot,18500,test,coupe,2010,manuell,330,andere,18500,8,benzin,nissan,nein,2016-03-04,0,57578,2016-03-20 19:18:18
8008,2016-03-05 14:09:20,Opel_Corsa_b,privat,Angebot,390,test,kleinwagen,1998,manuell,54,corsa,390,12,benzin,opel,NaN,2016-03-04,0,60486,2016-03-11 05:45:30
9723,2016-03-05 14:09:22,Volkswagen_Der_Fuerhling_kommt_..._Golf_Cabrio...,privat,Angebot,4500,test,cabrio,2003,manuell,116,golf,4500,1,benzin,volkswagen,nein,2016-03-04,0,61348,2016-04-05 19:17:54
44030,2016-03-05 14:09:38,"MINI_One_Cabrio""SPICY""_125_PS_pepper_white",privat,Angebot,9250,test,cabrio,2005,manuell,125,one,9250,10,benzin,mini,nein,2016-03-03,0,56410,2016-03-17 18:18:31
40570,2016-03-05 14:09:46,Nissan_Qashqai_2.0_4_x_4_tekna,privat,Angebot,9800,test,suv,2007,manuell,141,qashqai,9800,6,benzin,nissan,nein,2016-03-03,0,65307,2016-04-07 05:15:58
16456,2016-03-05 14:09:56,Golf_III_GT,privat,Angebot,150,test,limousine,1996,manuell,101,golf,150,11,benzin,volkswagen,NaN,2016-03-03,0,56235,2016-03-10 12:44:21
9867,2016-03-05 14:09:57,BMW_320d_DPF_Aut.,privat,Angebot,7500,test,limousine,2007,automatik,163,3er,7500,2,diesel,bmw,nein,2016-03-03,0,65934,2016-03-12 15:48:07
41632,2016-03-05 14:09:58,Audi_A2,privat,Angebot,2200,test,limousine,2002,manuell,0,a2,2200,8,benzin,audi,nein,2016-03-03,0,65934,2016-03-17 18:17:16
29531,2016-03-05 14:09:58,mercedes_benz_eklasse_220_cdi_w211,privat,Angebot,7800,test,kombi,2008,automatik,170,e_klasse,7800,11,diesel,mercedes_benz,nein,2016-03-03,0,63069,2016-03-20 20:19:15
21468,2016-03-05 14:10:18,Mercedes_Benz_230_E,privat,Angebot,900,test,limousine,1987,manuell,132,andere,900,9,benzin,mercedes_benz,nein,2016-03-03,0,65795,2016-04-05 15:17:51
49416,2016-03-05 14:10:20,Skoda_Fabia_1.4_16V_Combi_Ambiente,privat,Angebot,6250,test,kombi,2008,manuell,86,fabia,6250,8,benzin,skoda,nein,2016-03-03,0,56566,2016-03-07 06:17:50
30783,2016-03-05 14:10:46,BMW_520d_Automatik,privat,Angebot,22400,test,limousine,2010,automatik,184,5er,22400,11,diesel,bmw,NaN,2016-03-03,0,60487,2016-04-05 15:17:22
34139,2016-03-05 14:11:03,Nissan_Primera_Traveller_2.0_Behindertengerech...,privat,Angebot,1700,test,kombi,1998,automatik,131,primera,1700,3,benzin,nissan,nein,2016-03-03,0,35435,2016-03-05 16:45:57
24771,2016-03-05 14:11:05,Seat_Inca_1.9_SDI_VW_Caddy,privat,Angebot,2500,test,andere,2003,manuell,64,andere,2500,9,diesel,seat,nein,2016-03-03,0,57614,2016-04-07 07:15:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44551,2016-04-07 10:36:24,Audi_200_Turbo,privat,Angebot,2250,control,limousine,1986,manuell,182,200,2250,6,benzin,audi,nein,2016-04-07,0,82490,2016-04-07 10:36:24
48576,2016-04-07 10:36:25,Audi_A4_Avant___TÜV_6.2016,privat,Angebot,1000,control,kombi,1999,manuell,125,a4,1000,6,benzin,audi,nein,2016-04-07,0,23879,2016-04-07 10:36:25
17151,2016-04-07 10:36:35,Opel_meriva_**29000**_Navi*klima*kamera,privat,Angebot,4950,control,NaN,2016,automatik,101,meriva,4950,10,benzin,opel,NaN,2016-04-07,0,52223,2016-04-07 10:36:35
23409,2016-04-07 10:36:36,Auto_Corsa_C,privat,Angebot,3400,control,limousine,2006,manuell,80,corsa,3400,5,benzin,opel,nein,2016-04-07,0,9618,2016-04-07 10:36:36
11538,2016-04-07 10:36:37,Opel_Combo__1.6_CNG_ecoF_Enjoy__Erdgas__Verkau...,privat,Angebot,7700,control,kombi,2009,manuell,94,combo,7700,2,cng,opel,nein,2016-04-07,0,78464,2016-04-07 10:36:37
24929,2016-04-07 10:36:37,Peugeot_206_sw,privat,Angebot,3500,control,kombi,2002,manuell,74,2_reihe,3500,6,benzin,peugeot,nein,2016-04-07,0,66123,2016-04-07 10:36:37
34041,2016-04-07 11:06:33,Sehr_gepflegter_SMART_CDI_Tuev_Au_4/2018,privat,Angebot,1999,test,kleinwagen,2003,automatik,45,fortwo,1999,7,NaN,smart,nein,2016-04-07,0,35392,2016-04-07 11:25:20
16304,2016-04-07 11:36:19,Opel_Vivaro_2.5_CDTi_L2H1_9_Sitzer,privat,Angebot,8999,control,bus,2008,manuell,114,vivaro,8999,1,diesel,opel,NaN,2016-04-07,0,28844,2016-04-07 11:36:19
29938,2016-04-07 11:36:23,C_220_CDI_DPF_Avantgarde,privat,Angebot,4500,control,limousine,2008,NaN,0,c_klasse,4500,11,diesel,mercedes_benz,nein,2016-04-07,0,75365,2016-04-07 11:36:23
21527,2016-04-07 11:36:24,Opel_Corsa_Bj_2002,privat,Angebot,2000,control,NaN,2016,manuell,74,corsa,2000,4,benzin,opel,nein,2016-04-07,0,18057,2016-04-07 11:36:24
8036,2016-04-07 11:36:25,Perfektes_Stadt_und_Frauen_Auto!+Wenig_Km,privat,Angebot,3299,control,kleinwagen,2005,manuell,60,punto,3299,9,benzin,fiat,nein,2016-04-07,0,42697,2016-04-07 11:36:25
12119,2016-04-07 11:36:34,Kia_Sephia_GTX_71000Km,privat,Angebot,999,control,limousine,1999,manuell,80,andere,999,5,benzin,kia,nein,2016-04-07,0,34266,2016-04-07 11:36:34
20677,2016-04-07 11:36:34,Ford_Focus_Ghia,privat,Angebot,1250,control,limousine,1999,manuell,116,focus,1250,10,benzin,ford,nein,2016-04-07,0,36199,2016-04-07 11:36:34
4719,2016-04-07 11:36:35,Audi_A4_b5__1.8,privat,Angebot,950,control,limousine,1997,NaN,0,a4,950,12,benzin,audi,nein,2016-04-07,0,2828,2016-04-07 11:36:35
19282,2016-04-07 12:06:19,BMW_525d_Limousine,privat,Angebot,17000,test,limousine,2010,automatik,204,5er,17000,10,diesel,bmw,nein,2016-04-07,0,35510,2016-04-07 12:06:19
37268,2016-04-07 12:06:23,Volkswagen_Multivan_Highline,privat,Angebot,17300,test,bus,2004,manuell,174,transporter,17300,10,diesel,volkswagen,nein,2016-04-07,0,57629,2016-04-07 12:06:23
43691,2016-04-07 12:25:34,Volkswagen_Beetle,privat,Angebot,1950,control,coupe,1999,manuell,116,beetle,1950,3,benzin,volkswagen,nein,2016-04-07,0,35708,2016-04-07 12:25:34
8576,2016-04-07 12:25:35,Mercedes_Benz_ML_320_CDI_4Matic_7G_TRONIC_DPF,privat,Angebot,10300,control,suv,2005,automatik,224,m_klasse,10300,12,diesel,mercedes_benz,nein,2016-04-07,0,60433,2016-04-07 12:25:35
44797,2016-04-07 13:06:18,VW_Passat_1_6_Kombi_Schiebedach__Veloursaussta...,privat,Angebot,490,control,kombi,1998,manuell,101,passat,490,3,benzin,volkswagen,nein,2016-04-07,0,56584,2016-04-07 13:06:18
2213,2016-04-07 13:25:39,Opel_Zafira_2.0_DTI_Selection_Executive,privat,Angebot,2250,control,bus,2002,manuell,101,zafira,2250,5,diesel,opel,nein,2016-04-07,0,35102,2016-04-07 13:25:39
19809,2016-04-07 13:36:19,Skoda_oktavia,privat,Angebot,2800,control,NaN,2017,manuell,75,octavia,2800,2,NaN,skoda,nein,2016-04-07,0,38444,2016-04-07 13:36:19
49569,2016-04-07 13:36:20,Mitsubishi_L_300_KAT,privat,Angebot,2500,control,bus,1996,manuell,111,andere,2500,3,benzin,mitsubishi,nein,2016-04-07,0,67657,2016-04-07 13:36:20
9363,2016-04-07 13:36:37,Volkswagen_T4_Doka,privat,Angebot,2750,control,andere,1993,manuell,78,transporter,2750,11,diesel,volkswagen,nein,2016-04-07,0,39646,2016-04-07 13:36:37
14150,2016-04-07 13:36:38,Front_Spoiler_Chromleiste,privat,Angebot,120,control,kombi,2009,NaN,0,a4,120,0,NaN,audi,NaN,2016-04-07,0,88637,2016-04-07 13:36:38
45786,2016-04-07 14:07:04,Citroen_Berlingo_Multispace_1.6_HDi_Advance_*T...,privat,Angebot,2999,control,bus,2007,manuell,75,berlingo,2999,6,diesel,citroen,nein,2016-04-07,0,55218,2016-04-07 14:07:04
7982,2016-04-07 14:30:09,Volkswagen_Golf_1.9_TDI_GruenePlakette,privat,Angebot,2150,test,limousine,1999,manuell,90,golf,2150,9,diesel,volkswagen,nein,2016-04-07,0,65549,2016-04-07 14:30:09
20941,2016-04-07 14:30:26,BMW_320i,privat,Angebot,7500,test,limousine,2005,manuell,150,3er,7500,11,benzin,bmw,nein,2016-04-07,0,60385,2016-04-07 14:30:26
4752,2016-04-07 14:36:44,Fiat_Barchetta_TÜV_Neu!,privat,Angebot,5900,control,cabrio,2002,manuell,131,andere,5900,4,benzin,fiat,nein,2016-04-07,0,63322,2016-04-07 14:36:44
4378,2016-04-07 14:36:55,Audi_A6_Avant_2.7_TDI_DPF_schwarz,privat,Angebot,15200,control,kombi,2008,manuell,190,a6,15200,9,diesel,audi,nein,2016-04-07,0,81476,2016-04-07 14:36:55
16947,2016-04-07 14:36:56,Mercedes_Benz_GLK_220_CDI_DPF_4Matic_BlueEFFIC...,privat,Angebot,25900,control,suv,2009,automatik,170,glk,25900,7,diesel,mercedes_benz,nein,2016-04-07,0,27299,2016-04-07 14:36:56

In [21]:
import numpy as np
autos[autos[['date_crawled','ad_created','last_seen']].all(axis=1) == np.nan ]

Empty DataFrame
Columns: [date_crawled, name, seller, offer_type, price, abtest, vehicle_type, registration_year, gearbox, power_ps, model, odometer_km, registration_month, fuel_type, brand, unrepaired_damage, ad_created, number_pictures, postal_code, last_seen]
Index: []

In [23]:
autos.loc[:,'date_crawled'].value_counts(normalize=True,dropna=False)

2016-03-08 10:40:35    0.000062
2016-03-12 16:06:22    0.000062
2016-03-09 11:54:38    0.000062
2016-04-04 16:40:33    0.000062
2016-03-23 19:38:20    0.000062
2016-03-11 22:38:16    0.000062
2016-03-30 19:48:02    0.000062
2016-03-21 20:37:19    0.000062
2016-04-02 15:49:30    0.000062
2016-03-05 16:57:05    0.000062
2016-03-25 19:57:10    0.000062
2016-03-19 17:36:18    0.000062
2016-04-02 11:37:04    0.000062
2016-03-22 09:51:06    0.000062
2016-03-29 23:42:13    0.000062
2016-03-16 21:50:53    0.000062
2016-03-14 20:50:02    0.000062
2016-03-23 18:39:34    0.000062
2016-03-31 11:42:09    0.000041
2016-03-20 15:49:05    0.000041
2016-03-20 20:42:08    0.000041
2016-03-07 17:38:17    0.000041
2016-03-20 13:39:29    0.000041
2016-03-08 17:52:23    0.000041
2016-04-04 16:25:24    0.000041
2016-03-19 13:42:48    0.000041
2016-03-17 10:37:23    0.000041
2016-03-27 19:50:57    0.000041
2016-04-01 22:49:21    0.000041
2016-03-17 21:37:43    0.000041
                         ...
2016-03-14 03:53:46    0.000021
2016-03-10 00:56:13    0.000021
2016-04-02 17:00:58    0.000021
2016-03-16 20:37:55    0.000021
2016-04-04 10:50:55    0.000021
2016-03-07 11:50:03    0.000021
2016-03-16 21:50:32    0.000021
2016-03-24 00:56:44    0.000021
2016-03-09 17:57:49    0.000021
2016-04-01 22:48:39    0.000021
2016-03-17 09:51:16    0.000021
2016-04-02 17:45:51    0.000021
2016-04-04 22:53:02    0.000021
2016-03-21 07:58:17    0.000021
2016-03-20 23:42:16    0.000021
2016-03-14 08:52:54    0.000021
2016-03-26 23:51:26    0.000021
2016-03-06 09:50:20    0.000021
2016-03-12 01:53:57    0.000021
2016-03-09 18:48:16    0.000021
2016-03-25 09:56:27    0.000021
2016-03-30 17:43:29    0.000021
2016-03-25 16:56:45    0.000021
2016-03-05 14:43:46    0.000021
2016-03-12 17:45:42    0.000021
2016-04-03 01:25:24    0.000021
2016-03-26 18:56:02    0.000021
2016-03-22 20:51:45    0.000021
2016-03-05 15:55:59    0.000021
2016-03-15 14:52:55    0.000021
Name: date_crawled, Length: 46867, dtype: float64