## Used care listings
We are working with dataset fof used cars from eBay 'Kleinanzeigen', a classfieds section of the German eBay website. The dataset was originally scraped and uploaded to Kaggle, now with a few modifications from the original dataset:

+ now sampled 50,000 data points from the full dataset to ensure the code runs quickly in hosted enviroment
+ Dirtied the dataset a bit to more closely resemable what would have been expected from a scraped dataset

The aim of this proejct is to clearn the data and analyze the included used car listings.

In [1]:
import pandas as pd

dateparser = lambda x:pd.datetime.strptime(x,'%Y-%m-%d %H:%M:%S')
autos = pd.read_csv('autos.csv',encoding='Latin-1',parse_dates=['dateCrawled','dateCreated','lastSeen'],date_parser=dateparser)
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01,0,39218,2016-04-01 14:38:50

In [2]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null datetime64[ns]
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null datetime64[ns]
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null datetime64[ns]
dtypes: datetime64[ns](3), int64(5), object(12)
memory usage: 7.6+ MB

## Observations
+ data volume of 50000
+ memory usage of 7.6+ MB
+ 20 columns of mostly strings
+ some columns have null values, not more than 20% of the data
+ The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

In [3]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [4]:
autos = autos.rename(columns={'dateCrawled':'date_crawled', 
                              'yearOfRegistration':'registration_year',
                      'monthOfRegistration':'registration_month',
                      'notRepairedDamage':'unrepaired_damage',
                      'dateCreated':'ad_created',
                      'lastSeen':'last_seen',
                      'postalCode':'postal_code',
                     'nrOfPictures':'number_pictures',
                     'fuelType':'fuel_type',
                     'powerPS':'power_ps',
                     'vehicleType':'vehicle_type',
                     'offerType':'offer_type'})

In [5]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01,0,39218,2016-04-01 14:38:50

Let's convert the column names from camelcase to snakecase and reword some of the column names based on the data dictionary to e more descriptive

In [6]:
autos.unrepaired_damage

0        nein
1        nein
2        nein
3        nein
4        nein
5         NaN
6         NaN
7        nein
8        nein
9        nein
10       nein
11        NaN
12       nein
13       nein
14        NaN
15       nein
16       nein
17       nein
18        NaN
19       nein
20        NaN
21       nein
22       nein
23       nein
24       nein
25         ja
26       nein
27        NaN
28         ja
29       nein
         ...
49970    nein
49971    nein
49972      ja
49973    nein
49974    nein
49975    nein
49976    nein
49977    nein
49978      ja
49979    nein
49980     NaN
49981    nein
49982     NaN
49983     NaN
49984     NaN
49985     NaN
49986    nein
49987    nein
49988    nein
49989      ja
49990    nein
49991     NaN
49992    nein
49993     NaN
49994    nein
49995    nein
49996    nein
49997    nein
49998    nein
49999    nein
Name: unrepaired_damage, Length: 50000, dtype: object

may be there is a need to thoroughly look through the entry representations of the difference between 'nein' and NaN entries

In [7]:
autos.describe()

,registration_year,power_ps,registration_month,number_pictures,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

## Observations
+ let's investigate more into power_ps
+ seems registration year and month might be stored as strings and may need some cleaning
+ We may also have to clean up the trailing longs into floats in each column depending on our usage


+ There are a number of text columns where all (or nearly all) of the values are the same:
+ + seller
+ +  offer_type
+ The num_photos column looks odd, we'll need to investigate this further.

In [8]:
autos = autos.drop(['seller','offer_type','number_pictures'],axis=1)

In [9]:
# import re

# autos.loc[:,['price','odometer']].replace(to_replace='\$([0-9,\.]+).*', value=r'\1',regex=True,inplace=True)

In [10]:
autos['price'] = [i.replace('$','').replace(',','') if '$' in i else i for i in autos['price']]
autos['price'] = autos['price'].astype('int')

In [11]:
autos['odometer'] = [i.replace('km','').replace(',','') if 'km' in i else i for i in autos['odometer']]
autos['odometer'] = autos['odometer'].astype('int')

In [12]:
autos[['price','odometer']].dtypes

price       int64
odometer    int64
dtype: object

In [13]:
autos = autos.rename(columns={'odometer':'odometer_km'})

In [14]:
autos.head()

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01,39218,2016-04-01 14:38:50

went ahead and took out some unnecessary characters to more easily manipulate data

In [15]:
print(autos["price"].unique().shape)
print(autos["price"].describe())
autos["price"].value_counts().head(20)

(2357,)
count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

0       1421
500      781
1500     734
2500     643
1000     639
1200     639
600      531
800      498
3500     498
2000     460
999      434
750      433
900      420
650      419
850      410
700      395
4500     394
300      384
2200     382
950      379
Name: price, dtype: int64

In [16]:
autos.odometer_km.value_counts()

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

In [17]:
autos.price.value_counts()

0         1421
500        781
1500       734
2500       643
1000       639
1200       639
600        531
800        498
3500       498
2000       460
999        434
750        433
900        420
650        419
850        410
700        395
4500       394
300        384
2200       382
950        379
1100       376
1300       371
3000       365
550        356
1800       355
5500       340
1250       335
350        335
1600       327
1999       322
          ...
46200        1
29600        1
13480        1
21700        1
7373         1
3279         1
4286         1
188          1
17830        1
9130         1
910          1
238          1
2671         1
69900        1
151990       1
2479         1
4510         1
86500        1
47499        1
16998        1
27299        1
41850        1
4780         1
686          1
6495         1
20790        1
8970         1
846          1
2895         1
33980        1
Name: price, Length: 2357, dtype: int64

In [18]:
autos[['price','odometer_km']].sort_values(by=['price','odometer_km'],ascending=False)

          price  odometer_km
39705  99999999       150000
42221  27322222        40000
27371  12345678       150000
39377  12345678       150000
47598  12345678       150000
24384  11111111       150000
2897   11111111        50000
11137  10000000       100000
47634   3890000         5000
7814    1300000        50000
22947   1234566       150000
43049    999999       150000
514      999999       125000
37585    999990       150000
36818    350000         5000
14715    345000        20000
34723    299000       100000
35923    295000         5000
12682    265000         5000
47337    259000        20000
38299    250000         5000
37840    220000        30000
40918    198000         5000
43668    197000       150000
28090    194000         5000
20351    190000        60000
17140    180000        50000
11433    175000         5000
32840    169999        40000
18509    169000        20000
...         ...          ...
39015         0         5000
39371         0         5000
39594         0         5000
39604         0         5000
39635         0         5000
40264         0         5000
40324         0         5000
40568         0         5000
40955         0         5000
41251         0         5000
42181         0         5000
42851         0         5000
43224         0         5000
43481         0         5000
43492         0         5000
44109         0         5000
44195         0         5000
44415         0         5000
44624         0         5000
46213         0         5000
46220         0         5000
46665         0         5000
47142         0         5000
47280         0         5000
47310         0         5000
47368         0         5000
48193         0         5000
48290         0         5000
48985         0         5000
49496         0         5000

[50000 rows x 2 columns]

In [19]:
autos["price"].value_counts().sort_index(ascending=False).head(20)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price, dtype: int64

In [20]:
autos["price"].value_counts().sort_index(ascending=True).head(20)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
Name: price, dtype: int64

There are a number of listings with prices below \$30, including about 1,500 at \$0. There are also a small number of listings with very high values, including 14 at around or over $1 million.

Given that eBay is an auction site, there could legitimately be items where the opening bid is \$1. We will keep the \$1 items, but remove anything above \$350,000, since it seems that prices increase steadily to that number and then jump up to less realistic numbers.

In [21]:
# autos = autos[(autos[['price','odometer_km']] > 0).all(axis=1) & (autos[['price','odometer_km']] < 169000).all(axis=1)]

In [22]:
autos = autos[autos['price'].between(1,351000)]
autos.price.describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

# cleaning summary
+ did a sort values of both columns
+ found repeating dubious integer values, went ahead to index in to smallest range out of those values


## Exploring the date columns
There are a number of columns with date information:

+ date_crawled
+ registration_month
+ registration_year
+ ad_created
+ last_seen
These are a combination of dates that were crawled, and dates with meta-information from the crawler. The non-registration dates are stored as strings.

We'll explore each of these columns to learn more about the listings.

In [23]:
autos = autos.sort_values(by=['date_crawled','ad_created','last_seen'],ascending=True)

sorted autos by date_crawled, ad_created and last_seen from ascending order

In [24]:
autos['date_crawled'] = pd.to_datetime(autos['date_crawled']).dt.date

In [25]:
autos['last_seen'] = pd.to_datetime(autos['last_seen']).dt.date

changed last_seen and date_crawled columns to datetime date objects instead of time stamp for percentage distrubutions

In [26]:
autos['date_crawled'].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.025327
2016-03-06    0.014043
2016-03-07    0.036014
2016-03-08    0.033296
2016-03-09    0.033090
2016-03-10    0.032184
2016-03-11    0.032575
2016-03-12    0.036920
2016-03-13    0.015670
2016-03-14    0.036549
2016-03-15    0.034284
2016-03-16    0.029610
2016-03-17    0.031628
2016-03-18    0.012911
2016-03-19    0.034778
2016-03-20    0.037887
2016-03-21    0.037373
2016-03-22    0.032987
2016-03-23    0.032225
2016-03-24    0.029342
2016-03-25    0.031607
2016-03-26    0.032204
2016-03-27    0.031092
2016-03-28    0.034860
2016-03-29    0.034099
2016-03-30    0.033687
2016-03-31    0.031834
2016-04-01    0.033687
2016-04-02    0.035478
2016-04-03    0.038608
2016-04-04    0.036487
2016-04-05    0.013096
2016-04-06    0.003171
2016-04-07    0.001400
Name: date_crawled, dtype: float64

In [27]:
autos['ad_created'].value_counts(normalize=True,dropna=False).sort_index()

2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
2015-12-30    0.000021
2016-01-03    0.000021
2016-01-07    0.000021
2016-01-10    0.000041
2016-01-13    0.000021
2016-01-14    0.000021
2016-01-16    0.000021
2016-01-22    0.000021
2016-01-27    0.000062
2016-01-29    0.000021
2016-02-01    0.000021
2016-02-02    0.000041
2016-02-05    0.000041
2016-02-07    0.000021
2016-02-08    0.000021
2016-02-09    0.000021
2016-02-11    0.000021
2016-02-12    0.000041
2016-02-14    0.000041
2016-02-16    0.000021
2016-02-17    0.000021
2016-02-18    0.000041
2016-02-19    0.000062
2016-02-20    0.000041
2016-02-21    0.000062
                ...
2016-03-09    0.033151
2016-03-10    0.031895
2016-03-11    0.032904
2016-03-12    0.036755
2016-03-13    0.017008
2016-03-14    0.035190
2016-03-15    0.034016
2016-03-16    0.030125
2016-03-17    0.031278
2016-03-18    0.013590
2016-03-19    0.033687
2016-03-20    0.037949
2016-03-21    0.037579
2016-03-22    0.032801
2016-03-23    0.032060
2016-03-24    0.029280
2016-03-25    0.031751
2016-03-26    0.032266
2016-03-27    0.030989
2016-03-28    0.034984
2016-03-29    0.034037
2016-03-30    0.033501
2016-03-31    0.031875
2016-04-01    0.033687
2016-04-02    0.035149
2016-04-03    0.038855
2016-04-04    0.036858
2016-04-05    0.011819
2016-04-06    0.003253
2016-04-07    0.001256
Name: ad_created, Length: 76, dtype: float64

In [28]:
autos['last_seen'].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.001071
2016-03-06    0.004324
2016-03-07    0.005395
2016-03-08    0.007413
2016-03-09    0.009595
2016-03-10    0.010666
2016-03-11    0.012375
2016-03-12    0.023783
2016-03-13    0.008895
2016-03-14    0.012602
2016-03-15    0.015876
2016-03-16    0.016452
2016-03-17    0.028086
2016-03-18    0.007351
2016-03-19    0.015834
2016-03-20    0.020653
2016-03-21    0.020632
2016-03-22    0.021373
2016-03-23    0.018532
2016-03-24    0.019767
2016-03-25    0.019211
2016-03-26    0.016802
2016-03-27    0.015649
2016-03-28    0.020859
2016-03-29    0.022341
2016-03-30    0.024771
2016-03-31    0.023783
2016-04-01    0.022794
2016-04-02    0.024915
2016-04-03    0.025203
2016-04-04    0.024483
2016-04-05    0.124761
2016-04-06    0.221806
2016-04-07    0.131947
Name: last_seen, dtype: float64

The crawler recorded the date it last saw any listing, which allows us to determine on what day a listing was removed, presumably because the car was sold.

The last three days contain a disproportionate amount of 'last seen' values. Given that these are 6-10x the values from the previous days, it's unlikely that there was a massive spike in sales, and more likely that these values are to do with the crawling period ending and don't indicate car sales.

In [29]:
import datetime as dt
march_date_crawled = autos.loc[(autos['date_crawled'] >= dt.date(2016,3,1)) & (autos['date_crawled'] <= dt.date(2016,4,1)),'date_crawled'].value_counts(normalize=True, dropna=False)

In [30]:
march_date_crawled.sort_index()

2016-03-05    0.029053
2016-03-06    0.016109
2016-03-07    0.041311
2016-03-08    0.038194
2016-03-09    0.037957
2016-03-10    0.036918
2016-03-11    0.037367
2016-03-12    0.042351
2016-03-13    0.017975
2016-03-14    0.041926
2016-03-15    0.039327
2016-03-16    0.033966
2016-03-17    0.036280
2016-03-18    0.014810
2016-03-19    0.039894
2016-03-20    0.043461
2016-03-21    0.042870
2016-03-22    0.037839
2016-03-23    0.036965
2016-03-24    0.033659
2016-03-25    0.036257
2016-03-26    0.036942
2016-03-27    0.035666
2016-03-28    0.039989
2016-03-29    0.039115
2016-03-30    0.038642
2016-03-31    0.036517
2016-04-01    0.038642
Name: date_crawled, dtype: float64

sample percentage distribution of march by date_crawled column

In [31]:
march_last_seen = autos.loc[(autos['last_seen'] > dt.date(2016,3,1)) & (autos['last_seen'] < dt.date(2016,4,1)),'last_seen'].value_counts(normalize=True, dropna=False)

In [32]:
march_last_seen.sort_index()

2016-03-05    0.002525
2016-03-06    0.010196
2016-03-07    0.012721
2016-03-08    0.017479
2016-03-09    0.022626
2016-03-10    0.025151
2016-03-11    0.029180
2016-03-12    0.056079
2016-03-13    0.020975
2016-03-14    0.029715
2016-03-15    0.037434
2016-03-16    0.038794
2016-03-17    0.066226
2016-03-18    0.017333
2016-03-19    0.037337
2016-03-20    0.048699
2016-03-21    0.048650
2016-03-22    0.050398
2016-03-23    0.043698
2016-03-24    0.046611
2016-03-25    0.045300
2016-03-26    0.039619
2016-03-27    0.036900
2016-03-28    0.049184
2016-03-29    0.052680
2016-03-30    0.058409
2016-03-31    0.056079
Name: last_seen, dtype: float64

Sample of distribution percentage of march last_seen logs

In [33]:
march_ad_created = autos.loc[(autos['ad_created'] > dt.date(2016,3,1)) & (autos['ad_created'] < dt.date(2016,4,1)),'ad_created'].value_counts(normalize=True,dropna=False)

In [34]:
march_ad_created.sort_index()

2016-03-02    0.000123
2016-03-03    0.001033
2016-03-04    0.001770
2016-03-05    0.027343
2016-03-06    0.018294
2016-03-07    0.041482
2016-03-08    0.039786
2016-03-09    0.039589
2016-03-10    0.038089
2016-03-11    0.039294
2016-03-12    0.043892
2016-03-13    0.020311
2016-03-14    0.042023
2016-03-15    0.040622
2016-03-16    0.035974
2016-03-17    0.037351
2016-03-18    0.016229
2016-03-19    0.040228
2016-03-20    0.045318
2016-03-21    0.044876
2016-03-22    0.039171
2016-03-23    0.038286
2016-03-24    0.034966
2016-03-25    0.037917
2016-03-26    0.038532
2016-03-27    0.037007
2016-03-28    0.041777
2016-03-29    0.040646
2016-03-30    0.040007
2016-03-31    0.038064
Name: ad_created, dtype: float64

sample of percentage distribution of march ad_created logs

## Summary of exploratory date_crawled,  ad_created, and last_seen logs
+ sorted autos by date_crawled, ad_created and last_seen from ascending order
+ changed last_seen and date_crawled columns to datetime date objects instead of time stamp for percentage distrubutions
+ provided some sample percentages distribution logs for each column

In [35]:
autos['registration_year'].describe()

count    48565.000000
mean      2004.755421
std         88.643887
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

The year that the car was first registered will likely indicate the age of the car. Looking at this column, we note some odd values. The minimum value is 1000, long before cars were invented and the maximum is 9999, many years into the future.

In [36]:
autos.registration_year.sort_values(ascending=False)

33950    9999
8012     9999
38076    9999
49910    9000
25003    8888
8360     6200
27618    5911
24519    5000
4164     5000
22799    5000
49153    5000
42079    4800
453      4500
4549     4100
27578    2800
5763     2019
49185    2019
33091    2018
6748     2018
41372    2018
22550    2018
3716     2018
47809    2018
33999    2018
49218    2018
20978    2018
20377    2018
13244    2018
45825    2018
11264    2018
         ...
44406    1951
35921    1951
32091    1950
14020    1950
1171     1950
11047    1948
11585    1943
13963    1941
25792    1941
24855    1939
26103    1938
23804    1937
21421    1937
39725    1937
26607    1937
2221     1934
2573     1934
11246    1931
22101    1929
21416    1927
45157    1910
30781    1910
3679     1910
28693    1910
22659    1910
10556    1800
32585    1800
24511    1111
49283    1001
22316    1000
Name: registration_year, Length: 48565, dtype: int64

In [37]:
autos['registration_year'].between(1900,2018).sum()/autos.shape[0]

0.9995469988674972

 contrary to dataquest solution, we may be using an updated version of the original data set, since our registration_year column has 96% listings between 1900 - 2016

## Dealing with Incorrect Registration Year Data¶
Because a car can't be first registered before the listing was seen, any vehicle with a registration year above 2016 is definitely inaccurate. Determining the earliest valid year is more difficult. Realistically, it could be somewhere in the first few decades of the 1900s.

One option is to remove the listings with these values. Let's determine what percentage of our data has invalid values in this column:

In [38]:
autos = autos[autos['registration_year'].between(1900,2020)].sort_values(by=['registration_year'],ascending=False)

In [39]:
autos.tail()

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
22659,2016-03-14,Opel_Corsa_B,500,test,NaN,1910,NaN,0,corsa,150000,0,NaN,opel,NaN,2016-03-14,52393,2016-04-03
28693,2016-03-22,Renault_Twingo,599,control,kleinwagen,1910,manuell,0,NaN,5000,0,benzin,renault,NaN,2016-03-22,70376,2016-04-06
3679,2016-04-04,Suche_Auto,1,test,NaN,1910,NaN,0,NaN,5000,0,NaN,sonstige_autos,NaN,2016-04-04,40239,2016-04-04
45157,2016-03-11,Motorhaube,15,control,NaN,1910,NaN,0,NaN,5000,0,NaN,trabant,NaN,2016-03-11,90491,2016-03-25
30781,2016-03-25,Opel_Calibra_V6_DTM_Bausatz_1:24,30,test,NaN,1910,NaN,0,calibra,100000,0,NaN,opel,NaN,2016-03-25,47638,2016-03-26

simply took out the outrageously irrelevant entries which comprised of lesson that 1% of the data

In [40]:
autos.registration_year.value_counts(normalize=True)

2000    0.065012
2005    0.060480
1999    0.059677
2004    0.055680
2003    0.055598
2006    0.055001
2001    0.054300
2002    0.051210
1998    0.048676
2007    0.046905
2008    0.045628
2009    0.042950
1997    0.040190
2011    0.033433
2010    0.032733
2017    0.028674
1996    0.028283
2012    0.026985
1995    0.025276
2016    0.025131
2013    0.016541
2014    0.013657
1994    0.012957
2018    0.009682
1993    0.008755
2015    0.008075
1992    0.007622
1990    0.007148
1991    0.006983
1989    0.003584
          ...
1976    0.000433
1969    0.000391
1975    0.000371
1965    0.000350
1964    0.000247
1963    0.000165
1959    0.000124
1961    0.000124
1910    0.000103
1937    0.000082
1962    0.000082
1958    0.000082
1956    0.000082
1950    0.000062
1955    0.000041
2019    0.000041
1934    0.000041
1957    0.000041
1951    0.000041
1941    0.000041
1954    0.000041
1953    0.000021
1948    0.000021
1927    0.000021
1943    0.000021
1929    0.000021
1939    0.000021
1938    0.000021
1931    0.000021
1952    0.000021
Name: registration_year, Length: 81, dtype: float64

it seems a large percentage of car manufactering occured between 2000 - 2010

In [41]:
# autos.registration_year = pd.to_datetime(autos.registration_year,format="%Y")

In [42]:
# autos.registration_year = pd.DatetimeIndex(autos.registration_year).year

In [43]:
autos.brand.value_counts(normalize=True).head(20)

volkswagen        0.212813
opel              0.108641
bmw               0.108641
mercedes_benz     0.095787
audi              0.085858
ford              0.069667
renault           0.047894
peugeot           0.029457
fiat              0.025996
seat              0.018931
skoda             0.016068
nissan            0.015264
mazda             0.015223
smart             0.014296
citroen           0.014111
toyota            0.012586
hyundai           0.009950
sonstige_autos    0.009641
volvo             0.009043
mini              0.008611
Name: brand, dtype: float64

The Top 5 brands of cars are volkswagen,opel, bmw, mercedez benz, and audi. They comprise of roughly 50 % of the share in entries in the brand column.

In [44]:
dic = {}
for brand in autos.brand.value_counts(normalize=True):
    volkswagen = autos[autos['brand'] == 'volkswagen']
    opel = autos[autos['brand'] == 'opel']
    bmw = autos[autos['brand'] == 'bmw']
    mercedez_benz = autos[autos['brand'] == 'mercedes_benz']
    audi = autos[autos['brand'] == 'audi']
    volks_avg = volkswagen.price.sum() / volkswagen.shape[0]
    dic['volkswagen'] = volks_avg
    opel_avg = opel.price.sum()/opel.shape[0]
    dic['opel'] = opel_avg
    bmw_avg = bmw.price.sum()/bmw.shape[0]
    dic['bmw'] = bmw_avg
    mercedes_avg = mercedez_benz.price.sum()/mercedez_benz.shape[0]
    dic['mercedes_benz'] = mercedes_avg
    audi_avg = audi.price.sum()/audi.shape[0]
    dic['audi'] = audi_avg

In [45]:
print(dic)

{'volkswagen': 5333.1962055948115, 'opel': 2941.4664391353813, 'audi': 9212.9306621881, 'mercedes_benz': 8526.623225806452, 'bmw': 8261.382442169132}

+ audi: 9212
+ mercedes_benz: 8526
+ volkswagen: 5333
+ bmw: 8261
+ opel: 2941

In [46]:
mean_mileage = {}
for brand in autos.brand.value_counts(normalize=True):
    volkswagen = autos[autos['brand'] == 'volkswagen']
    opel = autos[autos['brand'] == 'opel']
    bmw = autos[autos['brand'] == 'bmw']
    mercedez_benz = autos[autos['brand'] == 'mercedes_benz']
    audi = autos[autos['brand'] == 'audi']
    mean_mileage['volkswagen'] = volkswagen.odometer_km.sum()/volkswagen.shape[0]
    mean_mileage['opel'] = opel.odometer_km.sum()/opel.shape[0]
    mean_mileage['bmw'] = bmw.odometer_km.sum()/opel.shape[0]
    mean_mileage['mercedes_benz'] = mercedez_benz.odometer_km.sum()/mercedez_benz.shape[0]
    mean_mileage['audi'] = audi.odometer_km.sum()/audi.shape[0]

In [47]:
print(mean_mileage)

{'volkswagen': 128955.570612719, 'opel': 129452.02882062951, 'audi': 129492.56238003839, 'mercedes_benz': 130848.3870967742, 'bmw': 132682.97307546454}

In [48]:
dic = pd.Series(dic)
mean_mileage = pd.Series(mean_mileage)

In [49]:
dic = pd.DataFrame(dic,columns=['mean_price'])
mean_mileage = pd.DataFrame(mean_mileage,columns=['mean_mileage'])

In [50]:
dic

                mean_price
audi           9212.930662
bmw            8261.382442
mercedes_benz  8526.623226
opel           2941.466439
volkswagen     5333.196206

In [51]:
mean_mileage

                mean_mileage
audi           129492.562380
bmw            132682.973075
mercedes_benz  130848.387097
opel           129452.028821
volkswagen     128955.570613

In [52]:
dic.join(mean_mileage)

                mean_price   mean_mileage
audi           9212.930662  129492.562380
bmw            8261.382442  132682.973075
mercedes_benz  8526.623226  130848.387097
opel           2941.466439  129452.028821
volkswagen     5333.196206  128955.570613

There is no particular relationship between the car brands pricing and its mileage in usage

## Identify categorical data that uses german words
+ translate them, map the values to their english counterparts.

In [53]:
autos.unrepaired_damage.value_counts(normalize=True)

nein    0.881171
ja      0.118829
Name: unrepaired_damage, dtype: float64

In [54]:
autos.unrepaired_damage = ['no' if i == 'nein' else 'yes' if i == 'ja' else i for i in autos.unrepaired_damage]

In [55]:
autos.gearbox.value_counts(normalize=True)

manuell      0.781084
automatik    0.218916
Name: gearbox, dtype: float64

In [56]:
autos.gearbox = ['manual' if i == 'manuell' else 'automatic' if i == 'automatik' else i for i in autos.gearbox]

In [57]:
autos.fuel_type.value_counts(normalize=True)

benzin     0.659413
diesel     0.322307
lpg        0.015001
cng        0.001639
hybrid     0.000831
elektro    0.000427
andere     0.000382
Name: fuel_type, dtype: float64

In [58]:
autos.fuel_type = autos.fuel_type.replace({'benzin':'gasoline','elektro':'electricity','andere':'other'})

In [59]:
autos.head()

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
49185,2016-03-28,Alfa_Romeo_156_Sportwagon_1_8_T_Spark,1200,control,NaN,2019,manual,140,156,150000,5,gasoline,alfa_romeo,no,2016-03-28,91058,2016-04-06
5763,2016-03-05,Suche_Auspuff_Anlage_honda_crx_del_sol,100,test,NaN,2019,manual,125,cr_reihe,20000,4,NaN,honda,no,2016-03-05,18106,2016-03-06
47258,2016-03-18,Jaguar_xj40,3500,control,NaN,2018,automatic,222,x_type,150000,4,NaN,jaguar,no,2016-03-18,89269,2016-04-05
38345,2016-03-28,Chevrolet_Aveo_LT___euro_4__1399_cc__TÜV_neu_....,2199,control,NaN,2018,NaN,90,NaN,150000,11,NaN,chevrolet,NaN,2016-03-28,33378,2016-03-31
29864,2016-03-05,VW_Lupo_BJ_1999,700,control,NaN,2018,manual,75,lupo,150000,0,gasoline,volkswagen,yes,2016-03-05,49124,2016-03-11

## Convert dates to tbe uniform numeriuc data
+ e.g. '2016-03-21' becomes 20160321
+ see if there are particular keywords in the name column that you can extract as new columns

In [60]:
def to_integer(dt_time):
    int_array = [10000*i.year + 100*i.month + i.day for i in dt_time]
        
    return int_array

In [61]:
autos.date_crawled = to_integer(autos.date_crawled)

In [62]:
autos.date_crawled.head()

49185    20160328
5763     20160305
47258    20160318
38345    20160328
29864    20160305
Name: date_crawled, dtype: int64

In [63]:
autos.last_seen = to_integer(autos.last_seen)

In [64]:
autos.last_seen.head()

49185    20160406
5763     20160306
47258    20160405
38345    20160331
29864    20160311
Name: last_seen, dtype: int64

In [65]:
autos.ad_created = to_integer(autos.ad_created)

In [66]:
autos.ad_created.head()

49185    20160328
5763     20160305
47258    20160318
38345    20160328
29864    20160305
Name: ad_created, dtype: int64

## lets see if there are keywords in name column that can be extracted as new columns

In [67]:
autos.name.value_counts(normalize=True)

Ford_Fiesta                                                          0.001566
Volkswagen_Golf_1.4                                                  0.001545
BMW_316i                                                             0.001545
Volkswagen_Polo                                                      0.001483
BMW_318i                                                             0.001483
BMW_320i                                                             0.001463
Opel_Corsa                                                           0.001421
Renault_Twingo                                                       0.001421
Volkswagen_Golf                                                      0.001174
Opel_Corsa_1.2_16V                                                   0.001154
BMW_116i                                                             0.001092
Peugeot_206                                                          0.001030
Ford_Focus                                                           0.000989
Volkswagen_Polo_1.2                                                  0.000989
Opel_Corsa_B                                                         0.000989
Volkswagen_Golf_1.6                                                  0.000968
Opel_Astra                                                           0.000886
Opel_Corsa_1.0_12V                                                   0.000845
Volkswagen_Passat_Variant_1.9_TDI                                    0.000803
BMW_320d_DPF_Touring                                                 0.000783
BMW_520i                                                             0.000762
Opel_Astra_1.6                                                       0.000721
Audi_A4_Avant_2.0_TDI_DPF                                            0.000700
Renault_Twingo_1.2                                                   0.000680
Volkswagen_Golf_1.9_TDI                                              0.000659
Ford_Mondeo                                                          0.000659
Ford_Ka                                                              0.000618
Volkswagen_Lupo_1.0                                                  0.000597
Fiat_Punto                                                           0.000597
Ford_Fiesta_1.3                                                      0.000597
                                                                       ...
Fiat_Scudo_120_Multijet_Kombilimousine                               0.000021
Golf_4_dunkelblau                                                    0.000021
Ford_Focus_Futura_2                                                  0.000021
Audi_A8_2.8_quattro/SCHALTER/TÜV_NEU_/TAUSCH_MÖGLICH                 0.000021
Volkswagen_Golf_1.4_Goal_1.Hand                                      0.000021
~~?Sehr_gepfleges_Fiesta_§Sparsam§_wenig_Kilometer_§_TÜV2018?~~    0.000021
Skoda_Felicia_1_6                                                    0.000021
Mercedes_Benz_C180_Sport                                             0.000021
OPEL_Vectra_B_Kombi_2.0_DTI_mit_AHK                                  0.000021
opel_corsa_b_1liter12v_1.0_x10xe                                     0.000021
VW_Golf_4_Automatik                                                  0.000021
Biete_Kia_Carnival_mit_Gebrauchs_Spuren                              0.000021
VW_Polo_9n_1.2_Highline_8fach_Bereift_CD_Wechsler_TÜV_Juli_2017      0.000021
Astra_G_Cabriolet                                                    0.000021
Citroën_DS3_VTi_120_SoChic_erste_Hand                                0.000021
Renault_Megane_Cabriolet_1.6_Evidence                                0.000021
Audi_A3_1.8_T_Automatik                                              0.000021
Seat_Ibiza_1.2_Style__Winterpaket_+_Navi                             0.000021
Opel_astra_1_9_bj_2007_mit_1_Jahr_TÜV_..                             0.000021
VW_Lupo__8_fach_bereift                                              0.000021
VW_Lupo_1.0_mit_Servo!!!erst_103tkm__Polo_Corsa_Arosa_Clio_          0.000021
Suche_ein_auto_bis_500_euro_ab_bj_2000                               0.000021
Audi_A4_Avant_2.7_TDI_DPF_S_line_Sportpaket__plus_                   0.000021
MINI_JOHN_COOPER_WORKS_CABRIO__Sidewalk                              0.000021
Mercedes_Benz_280sl_Pagode_seltener_Handschalter                     0.000021
Nissan_Primastar_*Tuev_Neu*_no_Trafic_Vivaro_T5_T4                   0.000021
Audi_A6_3.0_TDI_DPF_quattro_tiptronic__Bose_luftfeder                0.000021
Vw_t5_.diesel_1.9_tdi                                                0.000021
Sehr_gut_erhaltener_Golf_3__Servo__E_Dach_                           0.000021
BMW_1er_M_Coupe___Navi_Prof___Harman&Kardon                          0.000021
Name: name, Length: 37452, dtype: float64

In [68]:
autos.sort_values(by='name')

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
46266,20160314,!!!!!!!!!!!!!!Renault_Clio_5_Tuerig_Servolenku...,100,control,kleinwagen,1995,manual,60,clio,150000,8,gasoline,renault,no,20160314,53757,20160317
35776,20160305,!!!!!!BMW_325_COUPE_TOP_ZUSTAND_ANSCHAUEN_LOHN...,4549,control,coupe,2000,manual,192,3er,150000,11,gasoline,bmw,no,20160305,13353,20160322
18849,20160329,!!!!!VW_PASSAT_3C_2.0TDI!!!!_SEHR_GEPFLEGT,8399,control,kombi,2006,automatic,140,passat,150000,3,diesel,volkswagen,NaN,20160329,99734,20160406
23991,20160316,!!!!!_Mittwoch_Angebot_!!!!_Nissan_Micra_1.2_A...,5250,test,kleinwagen,2011,manual,80,micra,100000,3,gasoline,nissan,no,20160316,48527,20160317
4017,20160314,!!!!!_Montag_Angebot_!!!!_Nissan_Micra_1.2_Ace...,5250,control,kleinwagen,2011,manual,80,micra,100000,3,gasoline,nissan,no,20160314,48527,20160316
18421,20160324,!!!!!_Ostern_Angebot_!!!!_Nissan_Micra_1.2_Ace...,5248,test,kleinwagen,2011,manual,80,micra,100000,3,gasoline,nissan,no,20160324,48527,20160326
3528,20160316,!!!!!_Skoda_Octavia_1.9_TDI_DPF_Ambiente_!!!!!,7600,test,limousine,2009,manual,105,octavia,70000,6,diesel,skoda,yes,20160316,26203,20160319
46858,20160307,!!!!ACHTUNG_FORD_ESCORT_TÜV_NEU_!!!!!!,1080,control,kleinwagen,1997,manual,75,escort,150000,6,gasoline,ford,no,20160307,39130,20160309
34092,20160329,!!!!Gepflegert_Fiat_Punto_1_Hand_!!!!!,1200,control,NaN,2005,manual,0,punto,125000,0,gasoline,fiat,NaN,20160329,90530,20160406
17193,20160309,!!!!VW_Polo_mit_neuem_TÜV_!!!,1800,test,kleinwagen,2000,manual,50,NaN,150000,7,gasoline,volkswagen,NaN,20160309,88416,20160309
30980,20160317,!!!!_Verkauf_ein_Renault_!!!!,400,test,limousine,1997,manual,116,laguna,150000,6,gasoline,renault,no,20160317,37139,20160321
30511,20160327,!!!BMW_320d_Automatik!!!,4899,test,limousine,2005,automatic,163,3er,5000,11,diesel,bmw,no,20160327,42389,20160327
7942,20160405,!!!Familien_kombi_lauft_sehr_gut_zu_verlassig_!!!,999,test,kombi,1999,manual,0,c_klasse,150000,7,gasoline,mercedes_benz,NaN,20160405,12169,20160407
5540,20160331,!!!Rentner_sucht_kombi_oder_golf_4!!!,1000,test,NaN,2018,automatic,122,c_klasse,5000,5,NaN,mercedes_benz,NaN,20160331,12169,20160406
22480,20160316,!!!Verkaufe_mein_Cabrio!!!,600,control,cabrio,1996,manual,70,NaN,150000,11,NaN,ford,NaN,20160316,17036,20160324
35482,20160323,!!!_AUFGEPASST_!!!_Geiler_Opel_Mit_TÜV_und_vie...,500,control,NaN,2016,manual,56,corsa,150000,8,gasoline,opel,no,20160323,32756,20160323
18186,20160330,!!!_Neu_Tuev_!!!,6200,test,bus,2005,manual,0,touran,150000,3,diesel,volkswagen,NaN,20160330,25826,20160407
34690,20160404,!!!_Opel_Corsa_B_TÜV_Neu_zu_verkaufen___!!!,555,control,kleinwagen,1997,manual,44,corsa,150000,0,gasoline,opel,no,20160404,38820,20160404
32930,20160309,!!!_Opel_zafira_2.0_dti_16_v_tausch/verkauft_!!!,1500,test,NaN,2001,manual,101,zafira,5000,7,NaN,opel,no,20160309,66117,20160309
19776,20160325,!!!_SUCHEN_Mercedes_Viano_oder_Vito_!!!,3500,control,NaN,2005,automatic,122,vito,150000,10,NaN,mercedes_benz,no,20160325,48712,20160330
40208,20160401,!!!_Schoene_A_Klasse_neuer_Preis_!!!,1400,test,NaN,2017,manual,82,a_klasse,150000,2,gasoline,mercedes_benz,NaN,20160401,19055,20160407
30579,20160402,!!!_Smart_forfour_Bj.2005_schwarz_!!!!,2500,test,kleinwagen,2005,NaN,75,forfour,150000,0,gasoline,smart,no,20160402,27753,20160407
9859,20160325,!!!_TOP_!!!_gepflegter_Colt_zu_verkaufen,6800,test,kleinwagen,2012,manual,95,NaN,40000,2,gasoline,mitsubishi,NaN,20160325,65307,20160406
29735,20160315,!!!_TOP_Fiesta_mit_neuem_Tuev_!!!,1500,control,kleinwagen,2001,manual,66,fiesta,150000,4,gasoline,ford,no,20160315,31515,20160315
34620,20160324,!!!_TÜV_NEU_!!!_Hyundai_Atos_1.1_Prime__unfall...,1750,test,kleinwagen,2005,manual,63,andere,150000,12,gasoline,hyundai,no,20160324,14467,20160405
31733,20160320,!!!_Viel_neue_Teile_!!!_Golf_3_TÜV_neu_!!!,1500,test,kleinwagen,1997,manual,75,golf,150000,9,gasoline,volkswagen,no,20160320,49477,20160406
2513,20160328,!!Nur_heute!!Ford_Fiesta_1.Hand,300,control,kleinwagen,1997,manual,60,NaN,150000,4,gasoline,ford,no,20160328,99631,20160402
3473,20160401,!!Verkaufe_Renault_laguna!!_+_anhaengerkupplung,400,test,limousine,2000,manual,107,laguna,150000,3,gasoline,renault,yes,20160401,2779,20160403
44309,20160307,!!Zahnriehmen_Schaden!!,550,control,limousine,2001,manual,125,vectra,5000,9,gasoline,opel,yes,20160307,57072,20160407
38756,20160403,!!_POLO_6N_TÜV_1.2018!!,550,test,kleinwagen,1997,manual,60,polo,150000,3,gasoline,volkswagen,yes,20160403,26919,20160405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2318,20160319,zu_verkaufen_Audi_A6_C4_Avant_2.0,2000,control,kombi,1995,manual,116,a6,150000,1,gasoline,audi,no,20160319,31319,20160323
34274,20160323,zu_verkaufen_BMW_525_e61,5500,control,kombi,2005,manual,160,5er,150000,3,diesel,bmw,no,20160323,63069,20160324
107,20160330,zu_verkaufen_Fat_punto_1.9,550,test,kleinwagen,2001,manual,85,punto,150000,4,diesel,fiat,NaN,20160330,50389,20160330
37111,20160320,zu_verkaufen_Seat_Ibiza,6800,control,NaN,2011,manual,90,ibiza,150000,0,diesel,seat,NaN,20160320,56249,20160406
18516,20160313,zu_verkaufen_maine_Vw_passat,2000,test,kombi,1997,manual,0,passat,150000,0,gasoline,volkswagen,no,20160313,79739,20160406
12900,20160322,zu_verkaufen_oder_tauschen,1755,control,bus,2001,NaN,101,andere,150000,7,diesel,mazda,no,20160322,47443,20160324
47678,20160307,zu_verkaufen_opel_corsa_1.0_12v,399,control,kleinwagen,1999,manual,56,corsa,150000,3,gasoline,opel,NaN,20160307,24539,20160311
2393,20160315,zu_verkaufen_polo_6n,1500,control,kleinwagen,1995,manual,75,polo,150000,7,gasoline,volkswagen,NaN,20160315,97447,20160407
30695,20160331,zu_verkaufen_vw_Golf_3_1.4,500,control,kleinwagen,1996,manual,75,golf,150000,4,gasoline,volkswagen,NaN,20160331,50389,20160331
3139,20160403,zu_verkaufen_vw_polo,300,control,kleinwagen,1991,manual,45,polo,125000,4,gasoline,volkswagen,yes,20160403,28844,20160407
11960,20160317,zu_verkaufen_zafira_a,1800,test,bus,2003,manual,125,zafira,150000,10,gasoline,opel,NaN,20160317,67071,20160320
16423,20160316,zum_Ausschlachten_oder_als_Ersatzteillager,1000,control,kombi,2001,manual,125,vectra,150000,8,gasoline,opel,NaN,20160316,86842,20160318
46627,20160308,zum_Verkauf,500,test,limousine,1997,manual,0,andere,150000,0,gasoline,alfa_romeo,no,20160308,84478,20160406
31589,20160316,zum_Verkauf_in_den_Golf__V_Plus,4200,control,NaN,2017,manual,0,golf,150000,0,gasoline,volkswagen,NaN,20160316,13055,20160407
44077,20160320,zum_verkauf_kommt_ein_silberner_renault_megane...,1100,test,kombi,2005,manual,116,megane,150000,5,gasoline,renault,no,20160320,46145,20160326
20974,20160309,zuverkaufen_opel_corsa_1.7.diesel_euro_3_gelbe...,1600,test,kombi,2002,manual,75,corsa,150000,4,diesel,opel,no,20160309,53474,20160330
23615,20160323,zuverlaessig_fuer_10_Monate,300,test,NaN,2017,NaN,60,polo,150000,0,NaN,volkswagen,NaN,20160323,52068,20160405
986,20160327,zuverlaessiger_Ford_Focus_Turnier_1_6___Euro3_...,900,test,kombi,2004,manual,101,focus,150000,3,gasoline,ford,yes,20160327,7987,20160327
47943,20160404,zuverlaessiger_Mercedes_E_KLASSE_t_ansanicblau...,4350,control,limousine,2006,manual,170,e_klasse,150000,7,diesel,mercedes_benz,yes,20160404,42389,20160404
27012,20160329,zuverlaessiger_und_sehr_gepflegter_Opel_Corsa,1750,test,kleinwagen,2000,automatic,65,corsa,90000,8,gasoline,opel,no,20160329,20355,20160406
4860,20160307,~.A.U.D.I.~A6~3.0.TDI~QUATTRO~BOSE~,26850,control,limousine,2011,automatic,245,a6,150000,3,diesel,audi,no,20160307,13599,20160407
29226,20160321,~_Audi_A3_2.0_TDI_~_Navi_Gross_~_Leder_~_Xenon...,7290,test,limousine,2004,manual,140,a3,150000,11,diesel,audi,no,20160321,33605,20160406
33853,20160321,~~Renault_megane_Kombi_8_Fach_bereift_mit_TÜV_~~~,1000,control,kombi,2001,manual,95,megane,150000,12,gasoline,renault,no,20160321,47877,20160321
18125,20160312,~~?Sehr_gepfleges_Fiesta_§Sparsam§_wenig_Kilo...,1200,control,kleinwagen,2001,manual,60,fiesta,125000,1,gasoline,ford,no,20160312,74909,20160313
44985,20160329,_Mercedes_Benz_E200_Kompressor___Garage___S...,6500,test,limousine,2004,automatic,163,e_klasse,150000,9,gasoline,mercedes_benz,no,20160329,28215,20160405
50,20160309,??_????????_??Top!!!_Peugeot_308_sw_Sport_?...,5999,test,kombi,2008,manual,150,3_reihe,125000,8,gasoline,peugeot,no,20160309,55569,20160407
8199,20160312,°_Mercedes_Benz_190_E_2.0_1.Hd_SEC_Front_ESSD_...,1550,control,limousine,1991,manual,0,c_klasse,150000,9,gasoline,mercedes_benz,NaN,20160312,20251,20160325
48349,20160320,°_°_MERCEDES_C_KLASSE_180_MIT_TÜV_°_°,1150,test,kombi,1997,manual,125,c_klasse,150000,2,gasoline,mercedes_benz,no,20160320,30457,20160407
22770,20160403,»_TWINGO_«,1850,control,kleinwagen,2003,manual,58,twingo,100000,6,gasoline,renault,no,20160403,74321,20160406
38438,20160317,Älteres_Auto_zu_Verkaufen_aber_Laeuft.,799,control,limousine,1996,NaN,75,andere,150000,2,gasoline,daewoo,NaN,20160317,34431,20160407

sort values of name column via .sort_values

In [69]:
type(autos.name)

pandas.core.series.Series

In [70]:
autos.name = autos.name.str.replace('!|_|»|~|°|%',' ').str.replace('?',' ')

In [71]:
autos = autos.sort_values('brand', ascending=True)

In [72]:
autos.name.nunique()

37451

In [73]:
autos.head(2)

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
49185,20160328,Alfa Romeo 156 Sportwagon 1 8 T Spark,1200,control,NaN,2019,manual,140,156,150000,5,gasoline,alfa_romeo,no,20160328,91058,20160406
9100,20160316,Alfa Romeo 156 2.5 V6 24V Distinctive,5000,test,limousine,2002,manual,192,156,150000,7,gasoline,alfa_romeo,no,20160316,80933,20160317

In [74]:
autos.tail()

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
39887,20160328,XC 90 D5 SPORT DYNAUDIO 7 SITZE 1.HAND S HEFT,8000,test,suv,2008,automatic,185,xc_reihe,90000,1,diesel,volvo,no,20160328,60311,20160328
9114,20160308,Volvo S80 2.4 Automatic,1600,control,limousine,1999,automatic,170,andere,150000,10,gasoline,volvo,no,20160308,48151,20160320
23944,20160404,Volvo 240 GL Family Edition,1800,test,kombi,1993,manual,116,andere,150000,5,gasoline,volvo,no,20160404,80797,20160406
25226,20160306,Volvo XC60 2.4D DRIVe 8 fach bereift/ Scheckheft,21590,control,suv,2010,manual,175,xc_reihe,80000,5,diesel,volvo,no,20160306,24242,20160406
16484,20160330,Volvo V50 2.0D DPF,11000,test,kombi,2006,manual,136,v50,125000,3,diesel,volvo,no,20160330,91732,20160405

In [75]:
autos.iloc[16484,1]

'Unfallwagen zum Herrichten oder Ausschlachten.'

In [76]:
autos['V'] = autos.name.str.extract('(\d+)')

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [77]:
autos.columns

Index(['date_crawled', 'name', 'price', 'abtest', 'vehicle_type',
       'registration_year', 'gearbox', 'power_ps', 'model', 'odometer_km',
       'registration_month', 'fuel_type', 'brand', 'unrepaired_damage',
       'ad_created', 'postal_code', 'last_seen', 'V'],
      dtype='object')

In [78]:
autos.head()

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen,V
49185,20160328,Alfa Romeo 156 Sportwagon 1 8 T Spark,1200,control,NaN,2019,manual,140,156,150000,5,gasoline,alfa_romeo,no,20160328,91058,20160406,156
9100,20160316,Alfa Romeo 156 2.5 V6 24V Distinctive,5000,test,limousine,2002,manual,192,156,150000,7,gasoline,alfa_romeo,no,20160316,80933,20160317,156
30099,20160317,Alfa Romeo 147 1.6 Twin Spark ECO,790,test,limousine,2002,manual,105,147,150000,10,gasoline,alfa_romeo,yes,20160317,79576,20160322,147
42637,20160326,Alfa Romeo Spider/el.Verdeck/Klima/Leder/HU 03...,3450,control,cabrio,1997,manual,150,spider,150000,5,gasoline,alfa_romeo,no,20160326,14789,20160406,03
18892,20160323,Alfa Romeo 147 Tuev bis 02/2018,2390,test,limousine,2006,manual,105,147,150000,3,gasoline,alfa_romeo,no,20160323,49084,20160402,147

In [79]:
autos.columns

Index(['date_crawled', 'name', 'price', 'abtest', 'vehicle_type',
       'registration_year', 'gearbox', 'power_ps', 'model', 'odometer_km',
       'registration_month', 'fuel_type', 'brand', 'unrepaired_damage',
       'ad_created', 'postal_code', 'last_seen', 'V'],
      dtype='object')

In [80]:

autos = autos[['brand','name','model','V',
               'vehicle_type','fuel_type','gearbox','power_ps','odometer_km','unrepaired_damage',
               'abtest','registration_year','registration_month','date_crawled','ad_created','last_seen','price','postal_code']]

In [81]:
autos.sort_values('brand')

,brand,name,model,V,vehicle_type,fuel_type,gearbox,power_ps,odometer_km,unrepaired_damage,abtest,registration_year,registration_month,date_crawled,ad_created,last_seen,price,postal_code
49185,alfa_romeo,Alfa Romeo 156 Sportwagon 1 8 T Spark,156,156,NaN,gasoline,manual,140,150000,no,control,2019,5,20160328,20160328,20160406,1200,91058
38446,alfa_romeo,Alfo romeo zum verkaufen,147,NaN,limousine,NaN,automatic,0,150000,no,test,2001,1,20160327,20160327,20160329,550,38300
34692,alfa_romeo,Alfa Romeo,NaN,NaN,limousine,gasoline,manual,0,150000,no,test,1998,0,20160315,20160315,20160320,950,79258
48378,alfa_romeo,Alfa Romeo Spider Twin Spark L Cabrio Luxus Au...,spider,NaN,cabrio,gasoline,manual,150,150000,no,test,1998,4,20160402,20160402,20160406,5990,35394
18352,alfa_romeo,Alfa Romeo 147,147,147,kleinwagen,gasoline,manual,0,150000,no,test,2001,0,20160326,20160326,20160406,1000,99734
4832,alfa_romeo,Alfa Romeo 147 2.0 Twin Spark Selespeed Distin...,147,147,limousine,gasoline,automatic,150,125000,no,control,2001,6,20160331,20160331,20160406,2700,25761
3610,alfa_romeo,Alfa Romeo 147 1.6 TS 16V Corse,147,147,limousine,gasoline,manual,105,60000,no,test,2009,7,20160308,20160308,20160405,6200,87757
13781,alfa_romeo,Alfa Romeo 1 6 Twin Spark,147,1,limousine,gasoline,manual,105,125000,yes,test,2001,4,20160327,20160327,20160329,600,28857
12168,alfa_romeo,Alfa Romeo 147 1.6 Twin Spark Distinctive,147,147,limousine,gasoline,manual,120,125000,no,test,2001,11,20160405,20160405,20160407,1399,72760
28947,alfa_romeo,Alfa Romeo 159 1.9 JTDM 8V DPF Distinctive,159,159,limousine,diesel,manual,120,150000,no,control,2007,2,20160325,20160324,20160325,4000,27404
26076,alfa_romeo,Alfa Romeo Mito 155 ps,NaN,155,NaN,NaN,NaN,0,100000,NaN,control,2009,0,20160327,20160327,20160330,6500,48268
12910,alfa_romeo,Alfa Romeo 156 1.8 16V Twin Spark,156,156,limousine,gasoline,manual,140,150000,no,test,2001,6,20160316,20160316,20160317,1500,18146
12927,alfa_romeo,Ersatzteilspender,156,NaN,kombi,diesel,manual,0,150000,yes,control,2001,0,20160315,20160315,20160321,150,6688
35094,alfa_romeo,Alfa Romeo Giulietta Super 1.4 TB 16V Klimaaut...,andere,1,limousine,gasoline,manual,120,10000,yes,test,2015,1,20160307,20160306,20160318,12350,56220
36448,alfa_romeo,Alfa Romeo 156 2.0 16V Twin Spark,156,156,limousine,gasoline,manual,150,150000,yes,control,2001,3,20160327,20160327,20160407,790,90429
21657,alfa_romeo,Alfa Romeo 156 Sportwagon 2.5 V6 24V,156,156,kombi,gasoline,manual,192,150000,no,control,2001,1,20160315,20160315,20160331,1299,96182
17731,alfa_romeo,Alfa MiTo 1.4 V16 schwarz TÜV neu,andere,1,kleinwagen,gasoline,manual,95,150000,NaN,test,2009,3,20160309,20160309,20160325,4550,70619
25056,alfa_romeo,Alfa romeo,147,NaN,limousine,diesel,manual,120,150000,no,control,2007,12,20160324,20160324,20160407,4400,31249
30388,alfa_romeo,Alfa 156 1.8 TS 144 ps,156,156,kleinwagen,gasoline,manual,144,150000,no,test,1998,4,20160402,20160402,20160402,450,54290
20741,alfa_romeo,Fahrzeug mit Motorschaden,156,NaN,kombi,gasoline,manual,150,150000,yes,control,2001,0,20160317,20160317,20160331,490,53577
46045,alfa_romeo,sportlichen kleinen Flitzer / Alfa Romeo MiTo,andere,NaN,kleinwagen,gasoline,automatic,95,60000,no,control,2009,10,20160322,20160322,20160329,7300,93309
5168,alfa_romeo,Alfa Romeo 159 Sportwagon 2.4 JTDM 20V DPF Dis...,159,159,kombi,diesel,automatic,200,125000,yes,control,2008,5,20160314,20160314,20160324,8700,30880
39353,alfa_romeo,Alfa Romeo 156 2.0 16V Selespeed,156,156,limousine,lpg,automatic,155,150000,yes,control,1999,4,20160308,20160307,20160405,500,29525
8948,alfa_romeo,Alfa Romeo 156 Sportwagon 2.5 V6 24V,156,156,kombi,gasoline,automatic,192,100000,no,control,2001,4,20160321,20160321,20160403,2500,19370
4410,alfa_romeo,Alfa Romeo 147 1.6 Twin Spark Progression,147,147,limousine,gasoline,manual,120,60000,no,test,2001,4,20160321,20160321,20160324,1500,31855
36745,alfa_romeo,Alfa Romeo 159 Sportwagon 3.2 JTS 24V Q4 Progr...,159,159,kombi,gasoline,manual,260,150000,no,control,2007,1,20160328,20160328,20160407,4500,13507
25374,alfa_romeo,ALFA 159 SW,159,159,kombi,diesel,manual,150,90000,NaN,test,2008,11,20160319,20160319,20160406,8499,86842
37534,alfa_romeo,Sportliches Cabrio zu verkaufen,spider,NaN,cabrio,gasoline,manual,155,150000,no,control,1999,4,20160403,20160403,20160405,1750,37520
13133,alfa_romeo,Alfa romeo spider,spider,NaN,cabrio,gasoline,manual,0,150000,no,control,2001,7,20160305,20160305,20160305,3299,89077
26279,alfa_romeo,ALFA ROMEO 156 2.0 TWIN SPARK KLIMA,156,156,limousine,gasoline,manual,150,150000,yes,control,2001,1,20160323,20160323,20160324,199,70190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17518,volvo,Volvo XC90 D5 Aut. Momentum,xc_reihe,90,suv,diesel,automatic,185,150000,no,test,2006,12,20160328,20160328,20160406,15800,66578
5293,volvo,Volvo XC60 D5 Momentum MJ2012 weiss Schaltg...,xc_reihe,60,suv,diesel,manual,215,100000,no,control,2011,8,20160306,20160306,20160406,23000,29223
45155,volvo,Volvo V70 2.5,v70,70,kombi,gasoline,manual,144,150000,no,test,1998,12,20160312,20160312,20160406,1650,10439
35696,volvo,Volvo V40 1.9 D,v40,40,kombi,diesel,manual,116,150000,no,control,2004,3,20160327,20160327,20160405,4000,50170
42674,volvo,Volvo v40 mit TÜV bis 07/2017,v40,40,NaN,gasoline,manual,140,150000,yes,test,2017,7,20160323,20160323,20160326,250,94032
18799,volvo,Alter Schwede Volvo V40 Diesel,v40,40,kombi,diesel,manual,115,150000,no,test,2003,1,20160308,20160308,20160324,2000,18209
37446,volvo,Volvo S80 2.9 Automatik TÜV 12/17 AHK eSSD,andere,80,limousine,gasoline,automatic,204,150000,yes,test,1999,3,20160404,20160404,20160406,980,29308
4791,volvo,Volvo V70 D5 DPF Aut.,v70,70,kombi,diesel,automatic,185,125000,no,control,2006,6,20160316,20160316,20160406,9900,67271
46333,volvo,Volvo 850 2.5 10V KLIMA/LEDER/ TÜV 06 2017,850,850,kombi,gasoline,manual,144,150000,no,control,1996,9,20160315,20160315,20160317,990,71065
901,volvo,Volvo zum Verkaufen,v40,NaN,kombi,gasoline,automatic,116,150000,no,test,1998,5,20160321,20160321,20160406,1300,10587
41831,volvo,Volvo V70 2.4D Kinetic Zahnriemen NEU unfall...,v70,70,kombi,diesel,manual,163,150000,no,test,2008,6,20160325,20160325,20160406,8250,71737
22410,volvo,Volvo V50 2.0D,v50,50,kombi,diesel,manual,136,150000,no,control,2004,6,20160328,20160328,20160406,4490,25821
13754,volvo,Volvo V40 1 8 115PS Schwarz Beige Teilleder,v40,40,kombi,gasoline,manual,116,150000,yes,control,1997,10,20160309,20160309,20160311,1200,32657
16063,volvo,Volvo S60 D3 Geartronic.mwst ausweisbar,s60,60,limousine,diesel,automatic,136,90000,no,test,2013,6,20160314,20160314,20160406,16890,63065
3035,volvo,Volvo V50 1.6D DPF 2. Hand Leder Tempomat Sche...,v50,50,kombi,diesel,manual,110,150000,no,test,2005,6,20160317,20160317,20160327,3500,53894
38709,volvo,VOLVO 850,850,850,NaN,gasoline,manual,144,150000,NaN,test,2000,0,20160324,20160324,20160406,550,57581
23855,volvo,Volvo V50 DPF DRIVe R Design,v50,50,kombi,diesel,manual,114,60000,no,control,2011,4,20160327,20160327,20160407,15550,87700
31037,volvo,Volvo V50 Momentum Leder Navi Telefon Schiebedach,v50,50,kombi,gasoline,manual,140,150000,no,control,2004,4,20160317,20160317,20160406,3850,59590
26464,volvo,Volvo V40 1.9 D TÜV neu Klima,v40,40,kombi,diesel,manual,116,150000,no,control,2003,1,20160321,20160321,20160406,2690,94424
5373,volvo,Volvo V70 2.5,v70,70,kombi,gasoline,manual,144,150000,no,control,1999,8,20160326,20160326,20160406,2800,30453
27487,volvo,Volvo V70 II 2 Volleder,v70,70,kombi,NaN,manual,140,150000,no,control,2002,4,20160403,20160403,20160405,2600,23554
20629,volvo,Volvo C30 1.6,c_reihe,30,limousine,gasoline,manual,101,80000,no,test,2007,3,20160326,20160326,20160406,7499,33689
46545,volvo,Volvo V70 2.4D Aut. Kinetic,v70,70,kombi,diesel,automatic,163,150000,no,test,2007,7,20160328,20160328,20160405,8222,22926
13160,volvo,Volvo XC60 2.4D Summum Kindersitze Leder Xe...,xc_reihe,60,suv,diesel,manual,175,125000,no,test,2010,2,20160403,20160403,20160405,19300,86529
4393,volvo,Volvo S80 2.0T,andere,80,limousine,gasoline,manual,179,150000,no,test,2000,11,20160317,20160317,20160407,2500,49740
48541,volvo,Volvo XC90 D5 Aut. Exclusive Topzustand,xc_reihe,90,suv,diesel,automatic,185,90000,no,control,2008,1,20160321,20160321,20160330,16000,22085
20125,volvo,Volvo V50 DPF D2 Kinetic,v50,50,kombi,diesel,manual,114,150000,no,test,2010,6,20160314,20160314,20160405,8700,27576
32835,volvo,Volvo XC60 D5 AWD Aut. Summum,xc_reihe,60,suv,diesel,automatic,205,125000,no,control,2009,9,20160328,20160328,20160401,18990,98554
3192,volvo,Volvo S40 1.8,andere,40,limousine,gasoline,automatic,116,150000,no,control,1999,2,20160321,20160321,20160406,2000,9126
16484,volvo,Volvo V50 2.0D DPF,v50,50,kombi,diesel,manual,136,125000,no,test,2006,3,20160330,20160330,20160405,11000,91732

In [82]:
autos.name.str.split(' ')

49185       [Alfa, Romeo, 156, Sportwagon, 1, 8, T, Spark]
9100         [Alfa, Romeo, 156, 2.5, V6, 24V, Distinctive]
30099            [Alfa, Romeo, 147, 1.6, Twin, Spark, ECO]
42637    [Alfa, Romeo, Spider/el.Verdeck/Klima/Leder/HU...
18892               [Alfa, Romeo, 147, Tuev, bis, 02/2018]
46991          [Alfa, Romeo, 159, 2.2, JTS, 16V, Elegante]
30244    [Alfa, 156, JTD, 2, 4, Sportwagon, , rot, , Vo...
8046               [Alfa, Romeo, 147, 1.6, TS, 16V, Corse]
18846    [Alfa, Romeo, 159, Sportwagon, 1.9, JTDM, 16V,...
15323                 [Alfa, Romeo, 147, 2.0, Twin, Spark]
46627                                       [zum, Verkauf]
22209    [Alfa, Romeo, 166, 2.4, JTD, DistinctiveTuev, ...
45570                           [Alfa, Romeo, Spyder, 916]
3045     [Alfa, Romeo, 156, 2.0, JTS, Sportwagon, Disti...
16504                           [159, ti, Diesel, 170, PS]
34994                              [Alfa, Romeo, 156, GTA]
43327              [Alfa, Romeo, GT, 3.2, V6, Distinctive]
48854                             [Alfa, Romeo, Alfa, 156]
47391    [Alfa, Romeo, 156, Sportwagon, 2.0, JTS, Disti...
46978    [Alfa, Romeo, 145, Klimaan., elektr.Fenster., ...
10869    [Alfa, Romeo, 147, 1.6, Twin, Spark, Progression]
11928    [Alfa, Romeo, 156, Sportwagon, 2.4, JTD, Motor...
18523                              [Alfa, Romeo, 147, 1.6]
20759      [Alfa, 156, 1.8, TS, leider, mit, Motorschaden]
22902                                [Alfaromeo, 2.0, JTS]
9082        [Alfa, Romeo, Brera, 2.2, JTS, 16V, Sky, View]
38505    [Alfa, Romeo, GT, 1.9, JTD, M, Jet, DPF, Progr...
37549             [Alfa, Romeo, 147, 1.6, TS, 16V, Moving]
27909                 [Alfa, Romeo, 147, 1.6, Twin, Spark]
18767    [Alfa, Romeo, 147, 1.6, Twin, Spark, Distinctive]
                               ...
27898                                    [Volvo, V40, 1.6]
22481    [Volvo, V, 70, , , LPG, , , nur, heute, Sofort...
12825                                  [Volvo, V50, Kombi]
8269                                     [Volvo, 850, GLT]
29486                                  [Volvo, V40, Kombi]
9375                                [Volvo, V40, 1.9, Did]
44547                                 [Volvo, V40, 1.9, D]
24808                                 [Volvo, V70, Benzin]
18629    [Volvo, XC90, D5, Aut., RDesign, R, Design, AW...
2844                         [Volvo, V40, 1.9, D, Comfort]
4772                     [Volvo, XC70, D5, AWD, Automatik]
33794    [VOLVO, V, 40, TURBO, aus, 1., Hand, SCHECKHEF...
49545                     [Volvo, seltene, Version, 244dl]
48839    [Volvo, V40, , sehr, gepflegt, TÜV, bis, 08/17, ]
49679    [An, Bastler, Volvo, V40, Kombi, 1.8, Liter, B...
14874                               [Volvo, V40, 1.8, GDI]
3253                         [Volvo, V70, zu, verkaufen, ]
9952                     [Volvo, XC90, D5, Aut., Momentum]
19183                            [Volvo, v70, 2.5, diesel]
17384                                   [Volvo, C70, 2.4T]
5149     [, Fast, , Oldtimer, Liebhaberfahrzeug, , P24...
19349                                [Volvo, 66GL, , blau]
46849                                 [Volvo, V70, 2.5, D]
48626                            [Volvo, XC90, D5, Summum]
77                             [Volvo, V40, , , Tuev, neu]
39887    [XC, 90, D5, SPORT, DYNAUDIO, 7, SITZE, 1.HAND...
9114                          [Volvo, S80, 2.4, Automatic]
23944                    [Volvo, 240, GL, Family, Edition]
25226    [Volvo, XC60, 2.4D, DRIVe, , 8, fach, bereift/...
16484                              [Volvo, V50, 2.0D, DPF]
Name: name, Length: 48545, dtype: object

In [83]:
autos.name.str.replace('\d+', '')

49185                     Alfa Romeo  Sportwagon   T Spark
9100                         Alfa Romeo  . V V Distinctive
30099                         Alfa Romeo  . Twin Spark ECO
42637        Alfa Romeo Spider/el.Verdeck/Klima/Leder/HU .
18892                               Alfa Romeo  Tuev bis /
46991                         Alfa Romeo  . JTS V Elegante
30244    Alfa  JTD   Sportwagon  rot  Vollausstattung  ...
8046                              Alfa Romeo  . TS V Corse
18846    Alfa Romeo  Sportwagon . JTDM V  Xenon fach  S...
15323                             Alfa Romeo  . Twin Spark
46627                                          zum Verkauf
22209          Alfa Romeo  . JTD DistinctiveTuev neu Apr.
45570                                   Alfa Romeo Spyder
3045              Alfa Romeo  . JTS Sportwagon Distinctive
16504                                        ti Diesel  PS
34994                                      Alfa Romeo  GTA
43327                        Alfa Romeo GT . V Distinctive
48854                                     Alfa Romeo Alfa
47391             Alfa Romeo  Sportwagon . JTS Distinctive
46978        Alfa Romeo  Klimaan. elektr.Fenster. TÜV+ASU/
10869                 Alfa Romeo  . Twin Spark Progression
11928            Alfa Romeo  Sportwagon . JTD Motorschaden
18523                                        Alfa Romeo  .
20759                   Alfa  . TS leider mit Motorschaden
22902                                      Alfaromeo . JTS
9082                     Alfa Romeo Brera . JTS V Sky View
38505            Alfa Romeo GT . JTD M Jet DPF Progression
37549                            Alfa Romeo  . TS V Moving
27909                             Alfa Romeo  . Twin Spark
18767                 Alfa Romeo  . Twin Spark Distinctive
                               ...
27898                                            Volvo V .
22481            Volvo V    LPG   nur heute Sofortkauf   
12825                                        Volvo V Kombi
8269                                            Volvo  GLT
29486                                        Volvo V Kombi
9375                                         Volvo V . Did
44547                                          Volvo V . D
24808                                       Volvo V Benzin
18629    Volvo XC D Aut. RDesign R Design AWD GSHD Sitz...
2844                                   Volvo V . D Comfort
4772                              Volvo XC D AWD Automatik
33794         VOLVO V  TURBO aus . Hand SCHECKHEFTGEPFLEGT
49545                             Volvo seltene Version dl
48839                    Volvo V  sehr gepflegt TÜV bis /
49679            An Bastler Volvo V Kombi . Liter Benziner
14874                                        Volvo V . GDI
3253                                 Volvo V zu verkaufen
9952                              Volvo XC D Aut. Momentum
19183                                     Volvo v . diesel
17384                                           Volvo C .T
5149      Fast  Oldtimer Liebhaberfahrzeug  P Kombi  ...
19349                                       Volvo GL  blau
46849                                          Volvo V . D
48626                                    Volvo XC D Summum
77                                      Volvo V   Tuev neu
39887             XC  D SPORT DYNAUDIO  SITZE .HAND S HEFT
9114                                   Volvo S . Automatic
23944                             Volvo  GL Family Edition
25226         Volvo XC .D DRIVe   fach bereift/ Scheckheft
16484                                       Volvo V .D DPF
Name: name, Length: 48545, dtype: object

In [84]:
autos.name.str.replace('V','')

49185                Alfa Romeo 156 Sportwagon 1 8 T Spark
9100                   Alfa Romeo 156 2.5 6 24 Distinctive
30099                    Alfa Romeo 147 1.6 Twin Spark ECO
42637    Alfa Romeo Spider/el.erdeck/Klima/Leder/HU 03....
18892                      Alfa Romeo 147 Tuev bis 02/2018
46991                   Alfa Romeo 159 2.2 JTS 16 Elegante
30244    Alfa 156 JTD 2 4 Sportwagon  rot  ollausstattu...
8046                        Alfa Romeo 147 1.6 TS 16 Corse
18846    Alfa Romeo 159 Sportwagon 1.9 JTDM 16  Xenon 8...
15323                        Alfa Romeo 147 2.0 Twin Spark
46627                                           zum erkauf
22209    Alfa Romeo 166 2.4 JTD DistinctiveTuev neu Apr...
45570                                Alfa Romeo Spyder 916
3045         Alfa Romeo 156 2.0 JTS Sportwagon Distinctive
16504                                 159 ti Diesel 170 PS
34994                                   Alfa Romeo 156 GTA
43327                      Alfa Romeo GT 3.2 6 Distinctive
48854                                  Alfa Romeo Alfa 156
47391        Alfa Romeo 156 Sportwagon 2.0 JTS Distinctive
46978    Alfa Romeo 145 Klimaan. elektr.Fenster. TÜ+ASU...
10869            Alfa Romeo 147 1.6 Twin Spark Progression
11928       Alfa Romeo 156 Sportwagon 2.4 JTD Motorschaden
18523                                   Alfa Romeo 147 1.6
20759              Alfa 156 1.8 TS leider mit Motorschaden
22902                                    Alfaromeo 2.0 JTS
9082                   Alfa Romeo Brera 2.2 JTS 16 Sky iew
38505          Alfa Romeo GT 1.9 JTD M Jet DPF Progression
37549                      Alfa Romeo 147 1.6 TS 16 Moving
27909                        Alfa Romeo 147 1.6 Twin Spark
18767            Alfa Romeo 147 1.6 Twin Spark Distinctive
                               ...
27898                                          olvo 40 1.6
22481        olvo  70   LPG   nur heute Sofortkauf 1700  
12825                                        olvo 50 Kombi
8269                                          olvo 850 GLT
29486                                        olvo 40 Kombi
9375                                       olvo 40 1.9 Did
44547                                        olvo 40 1.9 D
24808                                       olvo 70 Benzin
18629    olvo XC90 D5 Aut. RDesign R Design AWD GSHD Si...
2844                                 olvo 40 1.9 D Comfort
4772                            olvo XC70 D5 AWD Automatik
33794         OLO  40 TURBO aus 1. Hand SCHECKHEFTGEPFLEGT
49545                            olvo seltene ersion 244dl
48839                 olvo 40  sehr gepflegt TÜ bis 08/17
49679          An Bastler olvo 40 Kombi 1.8 Liter Benziner
14874                                      olvo 40 1.8 GDI
3253                                 olvo 70 zu verkaufen
9952                            olvo XC90 D5 Aut. Momentum
19183                                  olvo v70 2.5 diesel
17384                                        olvo C70 2.4T
5149      Fast  Oldtimer Liebhaberfahrzeug  P245 Kombi...
19349                                      olvo 66GL  blau
46849                                        olvo 70 2.5 D
48626                                  olvo XC90 D5 Summum
77                                      olvo 40   Tuev neu
39887        XC 90 D5 SPORT DYNAUDIO 7 SITZE 1.HAND S HEFT
9114                                olvo S80 2.4 Automatic
23944                           olvo 240 GL Family Edition
25226      olvo XC60 2.4D DRIe  8 fach bereift/ Scheckheft
16484                                     olvo 50 2.0D DPF
Name: name, Length: 48545, dtype: object

In [85]:
autos.name.str.replace('\D+','')

49185        15618
9100      15625624
30099        14716
42637       032018
18892    147022018
46991      1592216
30244        15624
8046       1471616
18846     15919168
15323        14720
46627
22209    166242018
45570          916
3045         15620
16504       159170
34994          156
43327          326
48854          156
47391        15620
46978    145032017
10869        14716
11928        15624
18523        14716
20759        15618
22902           20
9082          2216
38505           19
37549      1471616
27909        14716
18767        14716
           ...
27898         4016
22481       701700
12825           50
8269           850
29486           40
9375          4019
44547         4019
24808           70
18629          905
2844          4019
4772           705
33794          401
49545          244
48839       400817
49679         4018
14874         4018
3253            70
9952           905
19183         7025
17384         7024
5149           245
19349           66
46849         7025
48626          905
77              40
39887        90571
9114          8024
23944          240
25226        60248
16484         5020
Name: name, Length: 48545, dtype: object

Might not be a good idea to further explore more keywords in the name column that can be extracted as new columns

## Find most common brand/model combinations

In [86]:
autos.columns

Index(['brand', 'name', 'model', 'V', 'vehicle_type', 'fuel_type', 'gearbox',
       'power_ps', 'odometer_km', 'unrepaired_damage', 'abtest',
       'registration_year', 'registration_month', 'date_crawled', 'ad_created',
       'last_seen', 'price', 'postal_code'],
      dtype='object')

In [87]:
autos[autos['model'] == 'golf']

,brand,name,model,V,vehicle_type,fuel_type,gearbox,power_ps,odometer_km,unrepaired_damage,abtest,registration_year,registration_month,date_crawled,ad_created,last_seen,price,postal_code
24947,volkswagen,Sehr gut erhaltener Golf 3 Servo E Dach,golf,3,kleinwagen,NaN,manual,0,150000,NaN,control,1995,0,20160327,20160327,20160403,650,13583
40065,volkswagen,Volkswagen Golf 1.6 FSI Automatik,golf,1,limousine,gasoline,automatic,116,80000,no,control,2004,9,20160312,20160312,20160329,4999,25524
46937,volkswagen,Volkswagen Golf,golf,NaN,coupe,diesel,manual,90,150000,no,test,2001,10,20160327,20160327,20160329,1400,29683
7866,volkswagen,Volkswagen Golf 3. 1 6 Preis: 350  VB,golf,3,kleinwagen,gasoline,manual,75,150000,NaN,control,1995,0,20160404,20160403,20160406,350,44789
21054,volkswagen,Volkswagen Golf 1.2 TSI BlueMotion Technology ...,golf,1,limousine,gasoline,manual,105,40000,no,control,2010,9,20160324,20160324,20160407,11700,28217
27680,volkswagen,Golf 3 Liebhaber TÜV Mai 2017,golf,3,limousine,gasoline,manual,60,150000,yes,control,1995,11,20160322,20160322,20160324,449,31737
113,volkswagen,Golf 4 Anfaenger auto,golf,4,NaN,NaN,manual,75,150000,NaN,test,2017,7,20160403,20160403,20160405,1200,97656
1346,volkswagen,Volkswagen Golf 7 GTI Top,golf,7,limousine,gasoline,manual,220,40000,no,test,2014,11,20160314,20160314,20160406,22299,55743
30052,volkswagen,Volkswagen Golf Cabrio 1.2 TSI,golf,1,cabrio,gasoline,manual,105,40000,no,test,2011,12,20160324,20160324,20160407,15999,27777
18296,volkswagen,Golf IV 1.9TDI 4Motion Highline OHNE ROST DP...,golf,1,kombi,diesel,manual,101,150000,no,control,2004,2,20160326,20160326,20160329,4500,63679
19063,volkswagen,Volkswagen Golf 2.0 GTI Edition,golf,2,limousine,gasoline,manual,116,150000,no,test,1994,7,20160309,20160309,20160407,1200,88719
28661,volkswagen,Golf III Avenue Klima 75 PS,golf,75,limousine,gasoline,manual,75,150000,NaN,test,1995,10,20160321,20160321,20160321,350,44892
47632,volkswagen,Volkswagen Golf IV 1.6,golf,1,limousine,gasoline,manual,101,150000,no,test,2001,8,20160326,20160326,20160406,2500,33104
7295,volkswagen,Golf 3 ohne tuev,golf,3,NaN,NaN,NaN,60,150000,NaN,control,1995,0,20160404,20160404,20160404,370,32545
5087,volkswagen,Volkswagen Golf v 1.9 TDI Klimaautomatik,golf,1,limousine,diesel,manual,105,150000,no,control,2004,5,20160331,20160331,20160405,3990,90431
44891,volkswagen,Golf 3 zu verkaufen,golf,3,kleinwagen,gasoline,NaN,90,150000,NaN,control,1994,0,20160312,20160312,20160312,550,24238
7882,volkswagen,Golf 4 1 4 Benzin,golf,4,limousine,gasoline,manual,75,150000,NaN,test,2003,8,20160305,20160305,20160306,1850,39326
25913,volkswagen,VW Golf 3 1 4l TÜV 5/2016 Scheckheft e...,golf,3,limousine,gasoline,manual,60,125000,no,control,1995,5,20160305,20160305,20160308,490,31628
11831,volkswagen,Verkaufe mein Golf 6 Styel,golf,6,limousine,gasoline,manual,86,80000,no,test,2011,6,20160324,20160324,20160407,10300,23730
30751,volkswagen,Golf Kombi 1.6 TDI Highline,golf,1,kombi,diesel,NaN,0,125000,no,test,2011,11,20160319,20160319,20160319,4200,20535
8301,volkswagen,Gepflegter VW Golf 3,golf,3,NaN,NaN,manual,90,125000,NaN,test,2018,8,20160401,20160401,20160403,2999,7745
7947,volkswagen,Volkswagen Golf 1 4 Edition,golf,1,kleinwagen,gasoline,manual,75,150000,no,control,2001,5,20160331,20160331,20160402,2800,50997
49494,volkswagen,Volkswagen Golf Variant 1.6 TDI DPF BlueMotion...,golf,1,kombi,diesel,manual,105,150000,no,control,2010,6,20160329,20160329,20160406,6499,87629
14975,volkswagen,Golf VI 6 1 6 Comfortline Garagenfahrzeug,golf,6,limousine,gasoline,manual,102,40000,no,test,2010,1,20160326,20160326,20160406,12899,48151
4972,volkswagen,Volkswagen Golf 1.6 CL,golf,1,limousine,gasoline,manual,75,150000,yes,control,1994,6,20160309,20160309,20160405,500,27568
29731,volkswagen,VW Golf 4 Top Zustand TÜV 03/2018,golf,4,limousine,gasoline,automatic,102,150000,no,test,2001,6,20160326,20160326,20160326,2100,12047
46969,volkswagen,Volkswagen Golf Variant 1.4 TSI Comfortline,golf,1,kombi,gasoline,manual,122,90000,no,control,2010,1,20160330,20160330,20160406,8850,88079
27733,volkswagen,Golf 3 Cabrio,golf,3,cabrio,gasoline,manual,115,150000,NaN,control,1995,0,20160404,20160403,20160406,450,35260
44490,volkswagen,Golf Cabrio im super Zustand Dach NEU Alufe...,golf,NaN,cabrio,gasoline,manual,75,150000,no,control,1995,5,20160404,20160404,20160406,2490,25813
23767,volkswagen,VW Golf 1.4 TÜV Neu,golf,1,NaN,NaN,manual,75,150000,no,control,2018,6,20160319,20160319,20160323,1600,6749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28963,volkswagen,Golf 3 Cabrio ColorConcept 1.8 TÜV neu tadello...,golf,3,cabrio,gasoline,manual,90,125000,NaN,control,1997,6,20160305,20160305,20160406,970,40472
36059,volkswagen,"Golf 3 ""PINK FLOYD in ROT",golf,3,NaN,gasoline,manual,75,150000,NaN,test,2017,10,20160330,20160330,20160407,550,49088
47256,volkswagen,Golf 4 25 Jahre Jubi Gti,golf,4,NaN,gasoline,manual,210,150000,NaN,test,2005,0,20160403,20160403,20160403,6500,34253
47932,volkswagen,VW Golf V 1 6l 102 PS TÜV 05/2017,golf,1,limousine,gasoline,manual,102,150000,no,control,2005,8,20160310,20160310,20160406,4400,17109
10456,volkswagen,Volkswagen Golf Sportsvan 1.2 TSI BlueMotion T...,golf,1,bus,gasoline,manual,110,5000,no,test,2015,8,20160330,20160330,20160407,20900,38446
29281,volkswagen,Volkswagen Golf 1.8 Klima,golf,1,limousine,gasoline,manual,75,150000,no,control,1997,5,20160327,20160327,20160406,650,56244
23709,volkswagen,Volkswagen Golf 1.9 TDI *Highline* *TÜV 2018 *,golf,1,limousine,diesel,manual,116,150000,no,control,2000,1,20160317,20160317,20160320,2400,88239
47955,volkswagen,Volkswagen Golf Variant 1.9 TDI Trendline,golf,1,kombi,diesel,manual,90,150000,no,control,2000,10,20160317,20160317,20160323,2100,51105
25289,volkswagen,Volkswagen Golf 1.6,golf,1,limousine,gasoline,manual,105,150000,no,control,2000,3,20160317,20160317,20160317,1300,49477
35972,volkswagen,Wv golf comfortline klima,golf,NaN,limousine,NaN,manual,70,125000,no,test,2005,7,20160310,20160310,20160401,4950,22115
20190,volkswagen,Golf V 5 1.6 GTI R32 H&R Ragazzon Xenon 2008 ...,golf,5,limousine,gasoline,manual,74,150000,no,test,2008,1,20160402,20160402,20160403,9500,12487
39953,volkswagen,Volkswagen Golf Variant 2.0 TDI BlueMotion Tec...,golf,2,kombi,diesel,manual,150,20000,no,test,2015,3,20160308,20160308,20160318,22800,26802
36293,volkswagen,Golf 3 Scheckheft gepflegt,golf,3,limousine,gasoline,manual,75,150000,NaN,test,1997,12,20160314,20160314,20160314,1600,45739
45881,volkswagen,Golf Variant TDI 1 9 DSG Getriebe,golf,1,kombi,diesel,automatic,105,150000,yes,control,2008,10,20160330,20160330,20160403,4500,77767
17234,volkswagen,Verkaufe VW Golf,golf,NaN,kombi,gasoline,manual,105,150000,no,control,2000,1,20160328,20160328,20160401,3100,39435
24776,volkswagen,Golf 4 Diesel 1.9 gruene Plakette 19 Monate TÜ...,golf,4,kleinwagen,diesel,manual,0,125000,NaN,test,2000,8,20160317,20160317,20160323,3200,44328
36658,volkswagen,Golf 4 1.9 TDI mit *Russpartikelfilter* und 1...,golf,4,kombi,diesel,manual,0,150000,no,control,2000,6,20160307,20160307,20160311,1900,31787
15398,volkswagen,Golf 3 Joker fahrbereit & reperaturbeduerftig,golf,3,limousine,gasoline,manual,60,150000,yes,test,1997,2,20160321,20160321,20160401,150,22083
35610,volkswagen,Volkswagen Golf 1.2 TSI BlueMotion Technology Cup,golf,1,limousine,gasoline,manual,86,30000,no,test,2015,3,20160320,20160320,20160406,14900,38531
48457,volkswagen,Golf VII Variant Highline 2 0 l TDI BMT 110 kW...,golf,2,kombi,diesel,manual,150,20000,no,test,2015,3,20160308,20160308,20160329,22400,26802
24502,volkswagen,Volkswagen Golf 2.0 Generation Tuev/AU neu Top...,golf,2,limousine,gasoline,manual,116,150000,no,test,2000,4,20160317,20160317,20160317,2398,31787
12072,volkswagen,Volkswagen Golf 1.6 United,golf,1,limousine,gasoline,manual,102,60000,no,test,2008,9,20160307,20160307,20160405,9200,86165
10615,volkswagen,Volkswagen Golf VI Comfortline,golf,NaN,limousine,gasoline,manual,80,150000,no,control,2008,12,20160327,20160327,20160405,7000,74653
8205,volkswagen,Golf 3 mit Schiebedach,golf,3,limousine,gasoline,manual,75,150000,no,control,1997,11,20160321,20160321,20160324,525,51515
23352,volkswagen,Volkswagen Golf Variant 2.0 TDI Comfortline,golf,2,kombi,diesel,manual,140,150000,no,control,2008,9,20160308,20160308,20160405,6950,65929
20964,volkswagen,VW Golf III mit fast neuen Winterreifen zu ver...,golf,NaN,kleinwagen,gasoline,manual,60,150000,no,test,1997,4,20160314,20160314,20160406,500,53797
29604,volkswagen,Volkswagen Golf Plus 1.4 TSI,golf,1,bus,gasoline,manual,122,90000,no,test,2008,8,20160316,20160316,20160405,8900,26639
7088,volkswagen,VW Golf III,golf,NaN,kleinwagen,gasoline,manual,60,150000,NaN,test,1997,10,20160313,20160313,20160314,599,57482
17586,volkswagen,VW Golf 5 GTI,golf,5,NaN,gasoline,manual,200,150000,NaN,control,2005,5,20160311,20160311,20160407,5000,75173
22238,volkswagen,Golf 3,golf,3,kleinwagen,gasoline,manual,75,150000,no,control,1997,1,20160326,20160326,20160407,650,57518

In [88]:
autos[autos['model'] == 'andere']

,brand,name,model,V,vehicle_type,fuel_type,gearbox,power_ps,odometer_km,unrepaired_damage,abtest,registration_year,registration_month,date_crawled,ad_created,last_seen,price,postal_code
46627,alfa_romeo,zum Verkauf,andere,NaN,limousine,gasoline,manual,0,150000,no,test,1997,0,20160308,20160308,20160406,500,84478
22209,alfa_romeo,Alfa Romeo 166 2.4 JTD DistinctiveTuev neu Apr...,andere,166,limousine,diesel,manual,140,150000,no,test,2002,2,20160404,20160404,20160406,4000,83737
43327,alfa_romeo,Alfa Romeo GT 3.2 V6 Distinctive,andere,3,coupe,gasoline,manual,241,125000,yes,control,2006,4,20160331,20160331,20160331,3500,81927
9082,alfa_romeo,Alfa Romeo Brera 2.2 JTS 16V Sky View,andere,2,coupe,gasoline,manual,185,50000,no,test,2006,8,20160322,20160322,20160407,14900,65623
38505,alfa_romeo,Alfa Romeo GT 1.9 JTD M Jet DPF Progression,andere,1,coupe,diesel,manual,150,70000,no,control,2010,5,20160326,20160326,20160405,13999,77871
35929,alfa_romeo,Alfa Romeo Mito 1.4 16V,andere,1,kleinwagen,gasoline,manual,79,90000,yes,test,2009,9,20160323,20160323,20160323,2850,15713
33553,alfa_romeo,Alfa Romeo 146 Junior,andere,146,limousine,gasoline,manual,103,150000,no,control,1998,0,20160322,20160322,20160406,1650,37170
16527,alfa_romeo,Alfa Romeo 146 1.4,andere,146,limousine,gasoline,manual,103,150000,yes,test,1998,4,20160329,20160329,20160405,1000,60431
26007,alfa_romeo,Alfa Romeo Mito TB 1.4 16V,andere,1,kleinwagen,gasoline,manual,155,150000,no,test,2009,3,20160401,20160401,20160407,6950,24782
22405,alfa_romeo,Alfa Romeo 4C 1.8 TBi Coupe,andere,4,coupe,gasoline,automatic,241,5000,no,control,2015,6,20160323,20160323,20160405,55000,44227
36604,alfa_romeo,Alfa 166 Bj 2003 2.5 V6 127.000 Km,andere,166,limousine,NaN,manual,188,150000,no,control,2003,12,20160308,20160308,20160323,3800,72760
18361,alfa_romeo,Alfa Romeo 1 8 155,andere,1,limousine,gasoline,manual,0,150000,no,control,1995,3,20160329,20160329,20160405,400,15299
21698,alfa_romeo,Alfa Romeo Giulietta 2.0 JTDM 16V,andere,2,limousine,diesel,manual,140,150000,no,control,2011,7,20160403,20160403,20160405,9900,75397
24710,alfa_romeo,Alfa Romeo Giulietta 1.8 TBi 16V QV xenon na...,andere,1,limousine,gasoline,manual,235,80000,no,control,2011,11,20160316,20160316,20160407,16900,22359
17186,alfa_romeo,Alfa Romeo Typ 146,andere,146,limousine,gasoline,manual,0,150000,yes,test,1997,5,20160330,20160330,20160407,399,45138
31204,alfa_romeo,Alfa Romeo 146 1.8 Twin Spark Klima TÜV 06...,andere,146,limousine,gasoline,manual,140,150000,no,control,1997,10,20160331,20160331,20160406,700,66636
5721,alfa_romeo,Alfa Romeo 146,andere,146,limousine,gasoline,manual,120,150000,NaN,control,1997,0,20160324,20160324,20160331,150,55411
41029,alfa_romeo,Alfa Romeo GTV 2.0 Twin Spark,andere,2,coupe,gasoline,manual,150,150000,no,test,2003,3,20160314,20160314,20160402,2900,76149
21929,alfa_romeo,Alfa Romeo Giulietta 1.6 JTDM 16V Turismo,andere,1,limousine,diesel,manual,105,40000,no,control,2011,2,20160404,20160404,20160406,12800,37215
783,alfa_romeo,Alfa 2 4 jdt Sportwagen,andere,2,coupe,diesel,manual,200,150000,no,control,2006,6,20160316,20160316,20160317,7500,75175
6919,alfa_romeo,Alfa Romeo 166 2.4 JTD 20V M Jet,andere,166,limousine,diesel,manual,185,150000,no,control,2006,12,20160311,20160311,20160322,3900,13593
46495,alfa_romeo,Tausche gegen Alfa Romeo 159 sportwagon ti ode...,andere,159,coupe,gasoline,manual,166,125000,no,control,2007,9,20160326,20160326,20160326,10000,20095
42232,alfa_romeo,Alfa Romeo GT 2.0 JTS Distinctive Sportiva,andere,2,coupe,gasoline,manual,166,125000,no,control,2008,3,20160325,20160325,20160406,8700,47906
41407,alfa_romeo,Verkaufe Alfa 166 2.0 an Bastler,andere,166,limousine,gasoline,manual,155,125000,NaN,test,1999,4,20160314,20160314,20160324,700,71706
32438,alfa_romeo,Alfa Romeo Brera 2.4 JTDM 20V DPF Sky View,andere,2,coupe,diesel,manual,200,150000,no,control,2007,10,20160317,20160317,20160407,9199,85748
41703,alfa_romeo,Alfa Romeo Mito 155 ps,andere,155,NaN,NaN,NaN,155,100000,no,test,2017,0,20160331,20160331,20160406,6000,48268
11358,alfa_romeo,Alfa Romeo Gtv tspark,andere,NaN,coupe,gasoline,manual,190,125000,yes,control,1999,10,20160403,20160403,20160407,500,97350
42003,alfa_romeo,Alfa Romeo Brera 2.4 JTDM 20V DPF Sky View,andere,2,coupe,diesel,manual,209,80000,no,control,2008,5,20160317,20160317,20160407,12800,97729
45444,alfa_romeo,alfa romeo brera 2 4jd vollausstattung,andere,2,coupe,diesel,manual,200,150000,no,test,2007,10,20160320,20160320,20160404,7400,64297
3369,alfa_romeo,Alfa Romeo GTV 916 2.0 Twinspark super zustand,andere,916,coupe,gasoline,manual,155,150000,no,test,2000,1,20160308,20160308,20160407,3000,22926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49680,volvo,Volvo Kombi GL 940 mit tuev und evtl einen Hae...,andere,940,kombi,gasoline,manual,130,150000,NaN,control,1992,7,20160403,20160403,20160407,1300,90449
15599,volvo,Volvo V90 3.0,andere,90,kombi,gasoline,manual,179,150000,no,test,1997,11,20160403,20160403,20160403,3000,22419
18631,volvo,Volvo S40 MwSt Ausweisbar,andere,40,NaN,diesel,manual,114,125000,no,test,2012,4,20160310,20160310,20160406,11000,56459
37301,volvo,Volvo 240 GL Super Zustand,andere,240,kombi,gasoline,automatic,116,150000,no,test,1992,12,20160305,20160305,20160308,6490,55124
35067,volvo,Volvo S80 2.4 Black Edition,andere,80,limousine,gasoline,manual,140,60000,no,control,2006,9,20160401,20160401,20160405,14500,67550
34953,volvo,Volvo s40 2 4 navi Klima standheizung,andere,40,limousine,gasoline,manual,140,150000,no,control,2005,0,20160325,20160325,20160405,5150,34134
43149,volvo,Volvo S80 2.4,andere,80,limousine,gasoline,manual,140,80000,no,control,1999,11,20160404,20160404,20160406,4990,42553
1984,volvo,Volvo S40 2.0 Momentum,andere,40,limousine,gasoline,manual,145,150000,no,control,2006,11,20160312,20160312,20160313,4500,61440
13821,volvo,Volvo 240 Kombi,andere,240,kombi,gasoline,manual,115,150000,no,test,1991,3,20160405,20160405,20160405,3800,34246
40543,volvo,Volvo 940 GL,andere,940,limousine,gasoline,manual,131,150000,no,control,1991,3,20160317,20160317,20160318,750,73571
43966,volvo,Volvo 940 16V GLT,andere,940,kombi,gasoline,manual,155,150000,no,control,1991,4,20160402,20160402,20160405,1800,61231
33370,volvo,Ich verkaufe einen Volvo S 40,andere,40,limousine,diesel,manual,90,150000,yes,control,1998,7,20160311,20160311,20160312,500,27755
9506,volvo,Verkaufe meinen Volvo 440,andere,440,limousine,gasoline,manual,90,150000,yes,control,1995,6,20160320,20160320,20160320,300,32429
43432,volvo,VOLVO 960 KOMBI 1 Hand 172000 km,andere,960,kombi,gasoline,automatic,205,150000,NaN,test,1990,12,20160402,20160402,20160402,1700,59174
44582,volvo,Volvo 244 GLT 1981 USA Exportmodell,andere,244,limousine,gasoline,manual,0,150000,yes,control,1981,0,20160322,20160322,20160327,1000,33378
1738,volvo,Volvo S40 im Technisch guten Zustand,andere,40,limousine,gasoline,automatic,115,150000,no,test,1996,7,20160328,20160328,20160406,550,39218
20666,volvo,Volvo P1800 ES,andere,1800,NaN,gasoline,manual,0,125000,no,control,1980,0,20160320,20160320,20160406,26500,55481
39322,volvo,VOLVO 244 Oldtimer Garagenwagen Technisch TIP ...,andere,244,limousine,gasoline,manual,107,100000,yes,test,1980,7,20160325,20160325,20160406,3550,18059
40505,volvo,Verkaufe Volvo S40 Tuev bis 3/16,andere,40,limousine,gasoline,manual,115,150000,no,control,1996,4,20160317,20160317,20160318,600,56412
18480,volvo,Volvo 440 Bj. 1992 mit Automatik Tuev 02/17,andere,440,limousine,gasoline,automatic,102,150000,no,control,1992,1,20160321,20160321,20160321,599,24229
1671,volvo,Volvo 240 GL SE,andere,240,kombi,gasoline,manual,115,150000,no,control,1992,10,20160324,20160324,20160405,2400,22417
14835,volvo,Volvo 960 Modell 94,andere,960,limousine,gasoline,automatic,204,150000,no,test,1993,12,20160330,20160330,20160401,1500,10717
6096,volvo,Volvo 940 GL 2.3 ti Klima SHZ TÜV 02/2017,andere,940,kombi,gasoline,manual,135,150000,no,control,1995,6,20160403,20160403,20160405,980,24977
13639,volvo,Volvo S40 1.8,andere,40,limousine,gasoline,manual,116,150000,no,control,1996,6,20160321,20160321,20160330,1400,1904
7135,volvo,Volvo 262 BERTONE Coupe Old Timer AUTOMATIK ...,andere,262,coupe,gasoline,automatic,204,150000,yes,test,1979,12,20160310,20160310,20160310,4000,14513
49545,volvo,Volvo seltene Version 244dl,andere,244,limousine,gasoline,automatic,0,150000,NaN,control,1980,1,20160314,20160314,20160406,5000,22177
5149,volvo,Fast Oldtimer Liebhaberfahrzeug  P245 Kombi...,andere,245,kombi,gasoline,automatic,115,150000,no,test,1991,0,20160305,20160305,20160306,2850,73760
19349,volvo,Volvo 66GL blau,andere,66,NaN,gasoline,automatic,57,125000,NaN,test,1980,3,20160308,20160308,20160312,500,36391
9114,volvo,Volvo S80 2.4 Automatic,andere,80,limousine,gasoline,automatic,170,150000,no,control,1999,10,20160308,20160308,20160320,1600,48151
23944,volvo,Volvo 240 GL Family Edition,andere,240,kombi,gasoline,manual,116,150000,no,test,1993,5,20160404,20160404,20160406,1800,80797

In [89]:
autos.model.value_counts(normalize=True)

golf                  0.084566
andere                0.074587
3er                   0.058272
polo                  0.036621
corsa                 0.036447
astra                 0.030590
passat                0.030004
a4                    0.027249
c_klasse              0.025188
5er                   0.024949
e_klasse              0.021196
a3                    0.018788
a6                    0.017746
focus                 0.017204
fiesta                0.016314
transporter           0.014948
twingo                0.014188
2_reihe               0.013234
a_klasse              0.012648
fortwo                0.012409
vectra                0.012106
1er                   0.011585
3_reihe               0.010804
clio                  0.010782
mondeo                0.010565
touran                0.010045
punto                 0.009567
zafira                0.009068
ka                    0.007854
ibiza                 0.007571
                        ...
forester              0.000260
lanos                 0.000239
300c                  0.000239
move                  0.000217
mii                   0.000217
lybra                 0.000217
terios                0.000217
r19                   0.000195
range_rover           0.000195
nubira                0.000174
90                    0.000174
amarok                0.000152
exeo                  0.000152
crossfire             0.000130
delta                 0.000130
9000                  0.000108
145                   0.000108
range_rover_evoque    0.000108
lodgy                 0.000108
croma                 0.000108
materia               0.000087
charade               0.000065
v60                   0.000065
samara                0.000065
kappa                 0.000043
kalina                0.000043
200                   0.000022
b_max                 0.000022
i3                    0.000022
rangerover            0.000022
Name: model, Length: 245, dtype: float64

The most common brand/model combinations is the golf model of the brand Volkswagen. The next most common model/brand combinations is alfa-romeos andere model

## See if average prices follows any patterns based on the milage by splitting odometer_km in to groups

In [90]:
autos.sort_values(['odometer_km','price'])

,brand,name,model,V,vehicle_type,fuel_type,gearbox,power_ps,odometer_km,unrepaired_damage,abtest,registration_year,registration_month,date_crawled,ad_created,last_seen,price,postal_code
41577,alfa_romeo,Alfa Romeo 156 Schlachtfest 2.5 V6 24V 428/B B...,156,156,limousine,gasoline,manual,190,5000,NaN,test,1998,5,20160403,20160403,20160405,1,87743
1987,audi,Audi A4 B5 Ersatzteile,a4,4,limousine,gasoline,NaN,0,5000,NaN,control,1997,0,20160316,20160316,20160407,1,64839
32819,audi,Suche VW / Audi,NaN,NaN,NaN,NaN,NaN,0,5000,NaN,control,2000,0,20160322,20160322,20160405,1,84326
13679,audi,Suche Audi 80 Cabrio,a3,80,NaN,NaN,manual,150,5000,NaN,test,2017,0,20160326,20160326,20160406,1,65558
18569,audi,Suche Leasing Audi A4 Avant A6 oder Q5 SQ5 P...,NaN,4,NaN,NaN,NaN,0,5000,NaN,test,2014,0,20160405,20160405,20160405,1,82166
5246,bmw,Autoaufbereitung,6er,NaN,NaN,NaN,NaN,0,5000,NaN,test,2015,12,20160312,20160312,20160312,1,29640
17984,chevrolet,Oldtimer Chevrolet Malibu 5.7l V8 Bj.:1978,NaN,5,limousine,gasoline,automatic,195,5000,NaN,control,1978,0,20160324,20160324,20160330,1,74078
344,honda,Verkaufe hier mein mein schoener honda crx in ...,andere,NaN,NaN,NaN,manual,125,5000,NaN,test,2000,0,20160322,20160322,20160406,1,65391
24362,mercedes_benz,Suche Mercedes CLS 320 CDI,NaN,320,NaN,NaN,NaN,0,5000,NaN,control,2007,0,20160403,20160403,20160403,1,90443
7442,mercedes_benz,Suche Mercedes 280 SE w108 Karosserie oder zum...,s_klasse,280,NaN,NaN,NaN,160,5000,NaN,test,1980,3,20160325,20160325,20160406,1,89312
47087,mercedes_benz,W124 SCHLACHTFEST | Kombi | 1995 | Aktiv Bass,e_klasse,124,kombi,gasoline,manual,0,5000,NaN,test,1996,0,20160317,20160317,20160407,1,50667
43623,mitsubishi,1.6 60 kW 90ps,carisma,1,NaN,gasoline,manual,0,5000,yes,control,2016,1,20160305,20160305,20160407,1,86438
1422,opel,zerlege Astra f teile guenstig,astra,NaN,NaN,gasoline,NaN,75,5000,NaN,control,1995,0,20160316,20160316,20160319,1,1728
2892,opel,Suche Opel Omega gerne DTI ab BJ 2000,omega,2000,NaN,NaN,NaN,0,5000,NaN,control,2000,0,20160308,20160308,20160312,1,29456
4496,renault,RENAULT MEGAN GRANTOUR bj 2001 TAUSCHE...,megane,2001,kombi,gasoline,manual,0,5000,no,test,2001,12,20160325,20160325,20160406,1,14199
27171,sonstige_autos,Wartburg Scheunenfund Teilespender,NaN,NaN,NaN,NaN,NaN,0,5000,NaN,test,1990,0,20160331,20160331,20160406,1,16269
3679,sonstige_autos,Suche Auto,NaN,NaN,NaN,NaN,NaN,0,5000,NaN,test,1910,0,20160404,20160404,20160404,1,40239
36652,sonstige_autos,WER WÜRDE MICH SEIN AUTO AUF RATEN VERKAUFEN,NaN,NaN,NaN,NaN,NaN,0,5000,NaN,control,2000,12,20160317,20160317,20160406,1,83026
5883,volkswagen,Suche ein Auto,NaN,NaN,NaN,NaN,NaN,0,5000,NaN,test,2005,0,20160328,20160328,20160402,1,61118
9643,volkswagen,Golf 2 gti Umbau 1 8 L 107 PS,golf,2,NaN,electricity,manual,107,5000,no,test,2016,0,20160404,20160404,20160404,1,26524
49845,volkswagen,Schlachte VW Sharan vr6 Automatik no GTI 16V...,sharan,6,NaN,gasoline,automatic,174,5000,no,test,2000,6,20160321,20160320,20160405,1,14621
1171,seat,Seat Leon Spielzeug Auto,leon,NaN,limousine,diesel,automatic,5,5000,NaN,control,1950,0,20160329,20160329,20160406,2,26919
24413,sonstige_autos,Tausch iPhone 6 gegen Auto,NaN,6,NaN,NaN,NaN,0,5000,NaN,test,2015,0,20160327,20160327,20160328,2,65183
28372,porsche,500 Designer Pumps Echt Leder Italien Restpost...,NaN,500,NaN,NaN,NaN,0,5000,NaN,test,2015,0,20160317,20160316,20160317,8,50678
31054,mini,LVM Versicherung BMW Mini Fahrzeug,cooper,NaN,limousine,other,manual,0,5000,NaN,control,2016,3,20160321,20160321,20160321,9,51145
17079,ford,Kofferraumwanne sehr schoen,focus,NaN,NaN,NaN,NaN,0,5000,NaN,control,2000,0,20160317,20160317,20160406,10,64750
35009,opel,2 mal Opel Omega Reparaturanleitung,omega,2,NaN,cng,NaN,0,5000,NaN,control,1995,0,20160313,20160313,20160320,10,41379
15747,audi,Reparatur Handbuch,NaN,NaN,NaN,NaN,NaN,0,5000,NaN,test,2000,0,20160320,20160320,20160407,12,88046
3416,bmw,BMW E61 Originale Kofferraumwanne,5er,61,NaN,NaN,NaN,0,5000,NaN,test,2015,0,20160311,20160311,20160312,12,28237
5132,skoda,Chromleiste Skoda Superb 3T Heckklappe Neu,superb,3,NaN,NaN,NaN,0,5000,NaN,control,2012,0,20160316,20160316,20160406,13,2977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16376,mercedes_benz,Mercedes Benz 450 SLC 5.0,andere,450,coupe,gasoline,automatic,241,150000,no,test,1978,7,20160318,20160318,20160406,39900,70197
21986,porsche,Porsche Panamera 4S MEGA VOLL PORSCHE GARANTI...,andere,4,limousine,gasoline,automatic,400,150000,no,control,2011,1,20160326,20160326,20160405,39990,33719
28668,porsche,Porsche 997 Facelift,911,997,cabrio,gasoline,automatic,325,150000,no,control,2006,8,20160319,20160319,20160320,39999,24357
13633,sonstige_autos,Pontiac Bonneville,NaN,NaN,cabrio,gasoline,automatic,290,150000,no,control,1966,7,20160314,20160314,20160405,41000,72766
21,porsche,Porsche 911 Carrera 4S Cabrio,911,911,cabrio,gasoline,manual,320,150000,no,test,2004,4,20160306,20160306,20160405,41500,65428
2097,porsche,Porsche 911 997 Carrera 4 S Tiptronic S,911,911,coupe,gasoline,automatic,381,150000,no,test,2007,6,20160314,20160314,20160405,41500,73614
15527,honda,Honda NSX dt. Fahrzeug Motor erst 88000 km,andere,88000,coupe,gasoline,manual,273,150000,no,test,1991,8,20160328,20160328,20160406,41900,57368
6538,porsche,Porsche 993,911,993,coupe,gasoline,automatic,272,150000,no,control,1994,3,20160317,20160317,20160317,46911,73547
46123,porsche,Porsche 911S Modell77 zitronengelb,911,911,coupe,gasoline,manual,165,150000,no,control,1977,7,20160328,20160328,20160406,47000,74343
15912,porsche,Porsche 997,911,997,cabrio,gasoline,manual,325,150000,no,control,2007,12,20160328,20160328,20160407,47500,81545
33189,sonstige_autos,ALPINA B10 Bi Turbo BiTurbo,NaN,10,limousine,NaN,NaN,360,150000,no,test,1993,3,20160402,20160402,20160406,48700,76131
42190,porsche,Porsche 911 997 S4 Cabrio,911,911,cabrio,gasoline,automatic,355,150000,no,control,2007,6,20160323,20160323,20160405,49000,67125
34535,porsche,Porsche 993,911,993,coupe,gasoline,manual,300,150000,no,control,1994,10,20160321,20160321,20160325,49900,48161
23503,porsche,Porsche 911 Carrera S Cabriolet,911,911,cabrio,gasoline,manual,355,150000,no,control,2005,6,20160402,20160402,20160406,51500,23568
31688,mercedes_benz,Mercedes Benz SL 55 AMG,sl,55,cabrio,gasoline,automatic,476,150000,no,control,2002,7,20160321,20160321,20160406,52900,72144
41421,mercedes_benz,Mercedes Benz sl 250 Pagode,andere,250,cabrio,gasoline,automatic,150,150000,no,control,1967,7,20160325,20160325,20160325,52900,65812
43059,porsche,Porsche 911 Carrera,911,911,coupe,gasoline,manual,231,150000,no,control,1985,5,20160328,20160328,20160407,52911,83737
36073,porsche,996 GT3 MK1,911,996,coupe,gasoline,manual,360,150000,no,test,2000,12,20160319,20160319,20160325,53000,70437
10133,porsche,Porsche 996 Turbo Cabrio aus serioesem Vorbesitz,911,996,cabrio,gasoline,automatic,420,150000,no,test,2003,9,20160311,20160311,20160407,55996,90763
29489,porsche,Porsche 911 Carrera 4 Targa,911,911,cabrio,gasoline,manual,250,150000,no,test,1990,5,20160402,20160402,20160405,59000,61191
43564,mercedes_benz,Mercedes Benz 280sl Pagode seltener Handschalter,sl,280,cabrio,gasoline,manual,170,150000,no,control,1969,0,20160402,20160402,20160406,60000,67067
16006,sonstige_autos,Bentley Continental GTC,NaN,NaN,cabrio,gasoline,automatic,559,150000,no,test,2008,7,20160405,20160405,20160405,60000,50858
46558,porsche,Porsche 911 / 993 Carrera S Schalter Deutsch ...,911,911,coupe,gasoline,manual,286,150000,no,test,1997,3,20160320,20160320,20160320,64900,66459
48097,porsche,Porsche 964/ 911 Carrera 2 Targa,911,964,cabrio,gasoline,manual,250,150000,no,control,1991,7,20160316,20160316,20160407,67911,79108
41891,porsche,Porsche 993 Targa,911,993,coupe,gasoline,automatic,286,150000,no,control,1996,5,20160308,20160308,20160407,69993,1445
34375,audi,Audi Audi 20V quattro,andere,20,coupe,gasoline,manual,220,150000,no,control,1990,4,20160326,20160326,20160406,80000,84051
2184,land_rover,Land Rover Vouge,andere,NaN,suv,diesel,automatic,220,150000,no,test,2004,6,20160306,20160306,20160407,99000,13357
17540,porsche,Porsche 930 Turbo classic analytics Gutachten 2+,911,930,coupe,gasoline,manual,300,150000,no,test,1988,6,20160330,20160329,20160406,105000,76829
38814,porsche,Porsche Porsche 964 TURBO S X33 WLS ab Werk 35...,911,964,coupe,gasoline,manual,355,150000,no,test,1992,6,20160322,20160322,20160324,119500,52062
43668,porsche,Porsche 993/911 Turbo WLS II Exclusive S deuts...,911,993,coupe,NaN,manual,450,150000,no,control,1998,3,20160316,20160316,20160407,197000,46147

In [91]:
group = autos[['odometer_km','price']].sort_values(['odometer_km','price'])

In [92]:
group

       odometer_km   price
41577         5000       1
1987          5000       1
32819         5000       1
13679         5000       1
18569         5000       1
5246          5000       1
17984         5000       1
344           5000       1
24362         5000       1
7442          5000       1
47087         5000       1
43623         5000       1
1422          5000       1
2892          5000       1
4496          5000       1
27171         5000       1
3679          5000       1
36652         5000       1
5883          5000       1
9643          5000       1
49845         5000       1
1171          5000       2
24413         5000       2
28372         5000       8
31054         5000       9
17079         5000      10
35009         5000      10
15747         5000      12
3416          5000      12
5132          5000      13
...            ...     ...
16376       150000   39900
21986       150000   39990
28668       150000   39999
13633       150000   41000
21          150000   41500
2097        150000   41500
15527       150000   41900
6538        150000   46911
46123       150000   47000
15912       150000   47500
33189       150000   48700
42190       150000   49000
34535       150000   49900
23503       150000   51500
31688       150000   52900
41421       150000   52900
43059       150000   52911
36073       150000   53000
10133       150000   55996
29489       150000   59000
43564       150000   60000
16006       150000   60000
46558       150000   64900
48097       150000   67911
41891       150000   69993
34375       150000   80000
2184        150000   99000
17540       150000  105000
38814       150000  119500
43668       150000  197000

[48545 rows x 2 columns]

In [93]:
group.price.rolling(2).apply(lambda x:(x[1]-x[0])/x[0]*100).value_counts()

0.000000     40808
1.000000        40
0.909091        38
1.428571        25
2.500000        24
10.000000       22
1.250000        20
1.111111        20
2.000000        20
5.000000        19
1.020408        19
2.941176        17
0.561798        17
0.505051        17
1.724138        17
0.632911        16
2.222222        16
1.333333        16
1.176471        16
0.724638        16
0.769231        16
1.666667        15
1.282051        15
1.351351        15
0.314465        15
0.359712        15
1.063830        15
1.470588        15
4.000000        15
6.666667        14
             ...
8.181818         1
0.610687         1
0.852018         1
0.136674         1
1.838053         1
0.544959         1
1.501502         1
0.557009         1
0.093327         1
3.529412         1
0.080775         1
0.100150         1
3.600000         1
0.057449         1
0.216216         1
1.980198         1
0.008780         1
2.341463         1
0.209549         1
0.600601         1
21.276596        1
0.139373         1
0.306279         1
1.020356         1
0.096432         1
0.351254         1
0.317597         1
0.050531         1
0.416667         1
0.145370         1
Name: price, Length: 3317, dtype: int64

after trying to calculate rolling percent changes, there are lots of entries where there is no changes what so ever in price even in the same grouping of odometer_km. let's try to remove that those repeatitive entries and calculate the rolling percent changes again

In [94]:
grouped_drop_duplicate = group.drop_duplicates(subset='price')

In [95]:
grouped_drop_duplicate['PCT_change'] = grouped_drop_duplicate.price.rolling(2).apply(lambda x:round((x[1]-x[0])/x[0]*100,1))

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [96]:
grouped_drop_duplicate.PCT_change.value_counts(normalize=True)

0.1      0.049509
0.3      0.047375
0.2      0.046948
0.4      0.040546
0.5      0.036278
0.6      0.032864
0.8      0.030730
0.7      0.030730
0.0      0.029876
1.0      0.029876
0.9      0.025608
1.1      0.024328
1.3      0.022621
1.4      0.020913
1.5      0.020060
1.2      0.018353
1.6      0.017499
2.1      0.016219
1.9      0.016219
2.8      0.014938
1.7      0.014938
2.0      0.014938
2.3      0.012804
1.8      0.012804
2.4      0.012377
2.2      0.012377
2.6      0.010670
3.4      0.009816
2.7      0.009390
3.3      0.008963
           ...
40.5     0.000427
180.4    0.000427
27.7     0.000427
64.2     0.000427
25.4     0.000427
36.8     0.000427
13.2     0.000427
61.1     0.000427
111.4    0.000427
18.8     0.000427
25.1     0.000427
152.7    0.000427
17.1     0.000427
44.3     0.000427
735.7    0.000427
17.8     0.000427
32.4     0.000427
27.6     0.000427
18.6     0.000427
70.1     0.000427
52.6     0.000427
16.7     0.000427
69.5     0.000427
22.2     0.000427
35.4     0.000427
28.4     0.000427
64.9     0.000427
27.4     0.000427
16.6     0.000427
100.0    0.000427
Name: PCT_change, Length: 255, dtype: float64

Seems the common trend of odometer_km groups by price is a gradual 10% increase in prices in the same milage range

## Some additional data exploration

In [97]:
autos.groupby('odometer_km').groups.keys()

dict_keys([40000, 20000, 125000, 80000, 30000, 90000, 50000, 5000, 150000, 60000, 70000, 100000, 10000])

In [147]:
# from functools import reduce
grouped = []
for i in autos.groupby('odometer_km').groups.keys():
    milage_group = autos[autos['odometer_km'] == i][['odometer_km','price']].sort_values('price')
    milage_group.columns = ['odometer_km',i]
    milage_group.drop(columns='odometer_km')
    print(milage_group)
    grouped.append(milage_group)
#     print(milage_group)
grouped_final = pd.concat(grouped,axis=1)
# grouped_final = reduce(lambda left,right:pd.merge(left,right,), grouped)

       odometer_km   40000
38669        40000      70
42869        40000     120
17261        40000     200
26861        40000     300
1124         40000     300
40252        40000     350
49741        40000     400
28727        40000     500
898          40000     500
25542        40000     550
49650        40000     580
49554        40000     599
47333        40000     650
8068         40000     690
1429         40000     750
46911        40000     750
15240        40000     900
32102        40000     950
42288        40000     999
28368        40000     999
33176        40000    1111
47997        40000    1200
37016        40000    1250
48228        40000    1300
12599        40000    1450
34147        40000    1500
26807        40000    1550
14446        40000    1550
45598        40000    1799
12406        40000    1800
...            ...     ...
28355        40000   44000
27104        40000   44000
12297        40000   44777
45083        40000   45500
27077        40000   46000
38124        40000   46999
47489        40000   47500
40865        40000   47500
37842        40000   48500
34562        40000   49500
39145        40000   49900
46531        40000   49999
7798         40000   51000
23819        40000   53000
1564         40000   54500
8389         40000   58500
27577        40000   59000
35692        40000   59500
41208        40000   64990
5761         40000   65990
44153        40000   67000
13775        40000   68750
37940        40000   72500
16149        40000   73900
38551        40000   76997
19216        40000   83000
10382        40000   84997
38002        40000   85000
44943        40000   89000
32840        40000  169999

[815 rows x 2 columns]
       odometer_km   20000
30678        20000       2
36026        20000      25
28120        20000      30
42076        20000      50
16220        20000      50
17647        20000     100
5763         20000     100
46675        20000     120
28059        20000     145
45187        20000     150
28850        20000     150
49432        20000     156
6643         20000     173
47289        20000     190
1733         20000     199
44660        20000     200
30890        20000     200
31777        20000     200
23753        20000     225
22080        20000     250
23755        20000     250
35813        20000     250
12961        20000     250
45336        20000     255
2516         20000     269
14434        20000     299
24902        20000     300
13185        20000     300
44560        20000     300
14364        20000     340
...            ...     ...
22781        20000   47900
29716        20000   52900
462          20000   52900
15724        20000   54990
40975        20000   55000
15730        20000   55555
32434        20000   55999
13915        20000   56000
48129        20000   59500
40000        20000   60000
37135        20000   61500
43308        20000   62900
14149        20000   63499
34424        20000   64500
6839         20000   68000
40132        20000   68300
14073        20000   69500
19919        20000   71000
29654        20000   79980
22003        20000   82987
29836        20000   88900
30191        20000   93000
44406        20000  120000
2454         20000  137999
32185        20000  139997
33638        20000  151990
10500        20000  155000
18509        20000  169000
47337        20000  259000
14715        20000  345000

[762 rows x 2 columns]
       odometer_km  125000
31497       125000       1
23037       125000       1
39180       125000       1
12268       125000       1
12350       125000       1
3397        125000       1
45546       125000       1
55          125000       1
27960       125000       1
23308       125000       1
33752       125000       1
46184       125000      47
1985        125000      65
2111        125000      66
9000        125000      75
5501        125000      80
45348       125000      80
24647       125000      99
1455        125000      99
26171       125000      99
47920       125000     100
10659       125000     100
41898       125000     100
30792       125000     100
35241       125000     100
42059       125000     100
12759       125000     100
3878        125000     100
22236       125000     100
18927       125000     100
...            ...     ...
33089       125000   36000
47409       125000   36900
48087       125000   37800
35286       125000   38990
7220        125000   39500
6128        125000   39999
31578       125000   40000
47372       125000   40999
451         125000   42900
23260       125000   44200
24814       125000   44900
40424       125000   44996
5695        125000   45800
48127       125000   45949
43579       125000   46000
47796       125000   46900
39738       125000   48700
41847       125000   48888
39404       125000   49900
3483        125000   51999
18021       125000   55500
13390       125000   59500
3140        125000   62000
48251       125000   63999
30433       125000   65700
1462        125000   73996
40807       125000   74999
18967       125000   79933
2751        125000  120000
1878        125000  129000

[5057 rows x 2 columns]
       odometer_km   80000
12698        80000       1
16095        80000      50
48392        80000      80
23049        80000     100
28302        80000     100
4318         80000     175
9338         80000     180
34476        80000     199
44295        80000     200
6205         80000     200
23340        80000     230
40425        80000     250
583          80000     250
14879        80000     280
32574        80000     300
15645        80000     300
28322        80000     300
19687        80000     333
38659        80000     350
26438        80000     380
35792        80000     399
29713        80000     399
33578        80000     400
14909        80000     400
12653        80000     400
40001        80000     400
27284        80000     444
6970         80000     450
47426        80000     490
33272        80000     499
...            ...     ...
26656        80000   34000
45225        80000   34000
4545         80000   34900
34568        80000   34990
38335        80000   35000
46057        80000   35499
38724        80000   35500
23116        80000   35900
12450        80000   36000
16351        80000   36000
16184        80000   36800
4432         80000   37000
36925        80000   37300
3964         80000   37750
44662        80000   37800
15329        80000   37950
9050         80000   37999
3314         80000   40500
45705        80000   41000
28404        80000   42000
14772        80000   42900
28792        80000   43900
20324        80000   43900
34143        80000   44000
48085        80000   45900
49007        80000   48600
6368         80000   48900
49009        80000   50000
22523        80000   99900
16964        80000  105000

[1415 rows x 2 columns]
       odometer_km   30000
16398        30000       1
37141        30000      20
245          30000      50
461          30000     100
47102        30000     156
8133         30000     160
127          30000     190
48307        30000     200
11628        30000     299
33348        30000     340
32593        30000     350
14063        30000     356
39250        30000     400
2032         30000     400
18902        30000     414
49701        30000     500
28384        30000     520
19155        30000     555
17838        30000     555
25937        30000     600
20187        30000     650
6635         30000     650
30758        30000     650
22160        30000     700
3990         30000     750
6011         30000     750
8545         30000     750
3201         30000     780
12711        30000     790
32138        30000     800
...            ...     ...
10047        30000   47900
24           30000   48500
27746        30000   48500
32575        30000   48900
47104        30000   49000
13860        30000   49900
14325        30000   52500
17991        30000   55800
200          30000   56500
35928        30000   57800
33790        30000   61900
13217        30000   61999
31664        30000   64900
34111        30000   64900
35936        30000   66500
7597         30000   68500
22587        30000   68900
31678        30000   70850
39885        30000   74900
23342        30000   74900
17122        30000   74999
1719         30000   75900
47406        30000   79500
2683         30000   93000
29286        30000  104900
49391        30000  109999
33884        30000  116000
43282        30000  119900
14268        30000  135000
37840        30000  220000

[780 rows x 2 columns]
       odometer_km  90000
5308         90000      1
36024        90000    100
34344        90000    100
45992        90000    115
19961        90000    150
144          90000    150
21067        90000    150
2654         90000    150
40472        90000    150
45019        90000    150
10281        90000    150
28622        90000    180
7920         90000    199
46666        90000    199
9497         90000    200
14756        90000    200
6470         90000    200
42398        90000    200
22277        90000    200
40707        90000    200
38557        90000    219
13287        90000    250
40924        90000    250
31240        90000    250
12533        90000    250
35261        90000    250
16439        90000    250
41181        90000    250
22100        90000    290
3947         90000    300
...            ...    ...
42214        90000  32999
3461         90000  33449
25459        90000  33490
49855        90000  33500
30088        90000  34800
35791        90000  35000
42023        90000  35450
25403        90000  35900
34686        90000  35999
3228         90000  36999
24416        90000  37480
46882        90000  37499
42977        90000  37850
30333        90000  38000
32783        90000  39900
17244        90000  39900
38322        90000  39999
28824        90000  45000
29912        90000  45000
6723         90000  48000
9740         90000  48300
8163         90000  48900
20397        90000  48999
3156         90000  53000
11096        90000  53500
35989        90000  55900
19326        90000  56500
39950        90000  66964
39421        90000  69997
36794        90000  99900

[1734 rows x 2 columns]
       odometer_km   50000
17858        50000       1
44297        50000      55
11367        50000      60
17373        50000     139
49410        50000     150
37571        50000     250
36514        50000     250
41618        50000     250
26526        50000     285
23544        50000     300
21445        50000     300
3075         50000     350
32465        50000     350
12418        50000     400
15355        50000     490
17815        50000     499
22676        50000     500
20647        50000     500
20336        50000     600
9863         50000     650
37508        50000     700
46946        50000     800
8393         50000     800
9527         50000     850
44815        50000     999
31241        50000     999
35115        50000    1000
19064        50000    1000
20022        50000    1000
22553        50000    1000
...            ...     ...
39851        50000   38950
1524         50000   39500
19334        50000   39800
43924        50000   40900
24255        50000   41900
17098        50000   42000
35866        50000   42990
46326        50000   42996
362          50000   42999
8483         50000   43000
34212        50000   43900
17735        50000   44444
22623        50000   45900
2341         50000   46200
31699        50000   46500
30871        50000   46900
22929        50000   46990
44138        50000   49000
27551        50000   49500
35605        50000   52500
45512        50000   53500
47756        50000   55000
49567        50000   56000
29589        50000   58900
2849         50000   74900
25383        50000   78911
28962        50000   86500
27422        50000   98500
49815        50000  130000
17140        50000  180000

[1012 rows x 2 columns]
       odometer_km    5000
41577         5000       1
27171         5000       1
4496          5000       1
3679          5000       1
36652         5000       1
5246          5000       1
18569         5000       1
2892          5000       1
1422          5000       1
32819         5000       1
5883          5000       1
43623         5000       1
47087         5000       1
1987          5000       1
7442          5000       1
13679         5000       1
49845         5000       1
344           5000       1
17984         5000       1
9643          5000       1
24362         5000       1
24413         5000       2
1171          5000       2
28372         5000       8
31054         5000       9
35009         5000      10
17079         5000      10
15747         5000      12
3416          5000      12
5132          5000      13
...            ...     ...
39425         5000   42500
24174         5000   44500
32216         5000   45500
47241         5000   48000
22801         5000   48490
22483         5000   49500
46782         5000   49900
8215          5000   50000
5998          5000   52000
10429         5000   52500
34712         5000   53000
22057         5000   55000
22405         5000   55000
16599         5000   56000
28851         5000   56800
32981         5000   64280
40026         5000   70000
4045          5000   72600
3283          5000   80000
15368         5000   84000
15934         5000   99000
22060         5000  114400
7402          5000  115000
11433         5000  175000
28090         5000  194000
40918         5000  198000
38299         5000  250000
12682         5000  265000
35923         5000  295000
36818         5000  350000

[823 rows x 2 columns]
       odometer_km  150000
17110       150000       1
30382       150000       1
25281       150000       1
11671       150000       1
33067       150000       1
49377       150000       1
12006       150000       1
6604        150000       1
4253        150000       1
19547       150000       1
42445       150000       1
44816       150000       1
21342       150000       1
32839       150000       1
23307       150000       1
34506       150000       1
9636        150000       1
46990       150000       1
40681       150000       1
1115        150000       1
21898       150000       1
14350       150000       1
20663       150000       1
49528       150000       1
4787        150000       1
45754       150000       1
30759       150000       1
4632        150000       1
38064       150000       1
4928        150000       1
...            ...     ...
16376       150000   39900
21986       150000   39990
28668       150000   39999
13633       150000   41000
21          150000   41500
2097        150000   41500
15527       150000   41900
6538        150000   46911
46123       150000   47000
15912       150000   47500
33189       150000   48700
42190       150000   49000
34535       150000   49900
23503       150000   51500
31688       150000   52900
41421       150000   52900
43059       150000   52911
36073       150000   53000
10133       150000   55996
29489       150000   59000
16006       150000   60000
43564       150000   60000
46558       150000   64900
48097       150000   67911
41891       150000   69993
34375       150000   80000
2184        150000   99000
17540       150000  105000
38814       150000  119500
43668       150000  197000

[31414 rows x 2 columns]
       odometer_km   60000
20671        60000       1
19632        60000      14
30491        60000     100
35327        60000     100
12790        60000     117
17506        60000     120
47008        60000     125
8586         60000     150
19853        60000     150
49304        60000     180
27560        60000     200
35026        60000     225
16518        60000     249
16069        60000     250
17593        60000     300
46324        60000     350
14513        60000     350
18162        60000     350
20812        60000     378
9915         60000     400
43701        60000     444
39475        60000     450
13289        60000     450
28694        60000     450
39533        60000     500
22491        60000     500
9600         60000     500
39650        60000     500
44963        60000     500
49177        60000     517
...            ...     ...
48745        60000   41850
40820        60000   41900
10006        60000   42500
14845        60000   42500
13056        60000   42900
23887        60000   43500
46144        60000   44000
38870        60000   44200
4554         60000   45000
29237        60000   46900
6800         60000   47997
25070        60000   48999
20722        60000   49999
40903        60000   49999
11414        60000   55000
49           60000   56000
11395        60000   58700
30121        60000   59850
47499        60000   64999
15782        60000   65000
34482        60000   65699
1451         60000   69900
44844        60000   69999
25285        60000   73500
38214        60000   75997
8446         60000   79999
31421        60000   93911
9285         60000   94999
49668        60000  145000
20351        60000  190000

[1155 rows x 2 columns]
       odometer_km  70000
16989        70000      1
13135        70000      1
42338        70000     50
26824        70000    100
46860        70000    100
43161        70000    120
43694        70000    150
27215        70000    190
15313        70000    200
37586        70000    249
36157        70000    250
3944         70000    250
30165        70000    299
28553        70000    300
47918        70000    300
34621        70000    350
39689        70000    350
32646        70000    350
26460        70000    350
38391        70000    350
41846        70000    350
49866        70000    385
28100        70000    400
9906         70000    400
40334        70000    400
26252        70000    450
37946        70000    490
33769        70000    499
48259        70000    500
2305         70000    500
...            ...    ...
6257         70000  35900
44764        70000  35900
31227        70000  35900
40637        70000  36000
36734        70000  36000
26348        70000  37900
869          70000  38500
9309         70000  38800
43911        70000  39979
4800         70000  39999
25485        70000  39999
13897        70000  40000
2215         70000  40400
19485        70000  41500
42454        70000  44900
22708        70000  45500
6536         70000  45950
11203        70000  47000
25702        70000  47499
44474        70000  47800
6436         70000  48000
41500        70000  48500
16523        70000  49500
45818        70000  49999
48521        70000  51900
5803         70000  52900
2698         70000  54500
24515        70000  59000
38440        70000  61950
45971        70000  63999

[1217 rows x 2 columns]
       odometer_km  100000
32091       100000       1
6864        100000       1
33501       100000       1
10741       100000       1
10204       100000       1
13739       100000       1
46659       100000       1
18443       100000      12
30781       100000      30
20541       100000      49
11054       100000      50
19045       100000      50
32571       100000      65
22385       100000      99
21315       100000     100
14934       100000     100
23627       100000     100
18598       100000     100
5356        100000     140
2851        100000     150
17454       100000     150
38576       100000     150
17599       100000     150
32304       100000     150
35761       100000     150
31547       100000     150
11828       100000     150
35169       100000     150
23959       100000     150
11438       100000     180
...            ...     ...
7069        100000   34900
14330       100000   34900
14139       100000   34950
29854       100000   34996
40273       100000   36850
10608       100000   36900
11966       100000   39500
4009        100000   39900
7790        100000   39900
20984       100000   39911
11585       100000   41900
19937       100000   42000
47173       100000   42222
41885       100000   42750
12706       100000   42900
17130       100000   42996
14871       100000   44497
3578        100000   44900
18180       100000   45000
27481       100000   47000
160         100000   50500

In [146]:
grouped_final

,odometer_km,40000,odometer_km,20000,odometer_km,125000,odometer_km,80000,odometer_km,30000,...,odometer_km,150000,odometer_km,60000,odometer_km,70000,odometer_km,100000,odometer_km,10000
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,8500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70000.0,8990.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70000.0,4350.0,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,1350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,7900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,590.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,1350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,3999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,80000.0,18900.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,5500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,4150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,3500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,41500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10000.0,25450.0
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,7999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30000.0,48500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,125000.0,777.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,5250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,4999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,2100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,4500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,60000.0,15800.0,NaN,NaN,NaN,NaN,NaN,NaN
49971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,950.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,3300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,6000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,100000.0,9700.0,NaN,NaN
49976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,5900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,5500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70000.0,11000.0,NaN,NaN,NaN,NaN
49980,NaN,NaN,NaN,NaN,125000.0,400.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49986,NaN,NaN,NaN,NaN,125000.0,15900.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,9550.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30000.0,17500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49992,NaN,NaN,NaN,NaN,125000.0,4800.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,1650.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,100000.0,24900.0,NaN,NaN
49996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,1980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49998,40000.0,22900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150000.0,1250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
# grouped_final

In [102]:
# grouped

In [103]:
autos[autos['odometer_km'] == 5000][['odometer_km','price']].sort_values('price')

       odometer_km   price
41577         5000       1
27171         5000       1
4496          5000       1
3679          5000       1
36652         5000       1
5246          5000       1
18569         5000       1
2892          5000       1
1422          5000       1
32819         5000       1
5883          5000       1
43623         5000       1
47087         5000       1
1987          5000       1
7442          5000       1
13679         5000       1
49845         5000       1
344           5000       1
17984         5000       1
9643          5000       1
24362         5000       1
24413         5000       2
1171          5000       2
28372         5000       8
31054         5000       9
35009         5000      10
17079         5000      10
15747         5000      12
3416          5000      12
5132          5000      13
...            ...     ...
39425         5000   42500
24174         5000   44500
32216         5000   45500
47241         5000   48000
22801         5000   48490
22483         5000   49500
46782         5000   49900
8215          5000   50000
5998          5000   52000
10429         5000   52500
34712         5000   53000
22057         5000   55000
22405         5000   55000
16599         5000   56000
28851         5000   56800
32981         5000   64280
40026         5000   70000
4045          5000   72600
3283          5000   80000
15368         5000   84000
15934         5000   99000
22060         5000  114400
7402          5000  115000
11433         5000  175000
28090         5000  194000
40918         5000  198000
38299         5000  250000
12682         5000  265000
35923         5000  295000
36818         5000  350000

[823 rows x 2 columns]

In [105]:
autos[autos['odometer_km'] == 40000][['odometer_km','price']].sort_values('price')

       odometer_km   price
38669        40000      70
42869        40000     120
17261        40000     200
26861        40000     300
1124         40000     300
40252        40000     350
49741        40000     400
28727        40000     500
898          40000     500
25542        40000     550
49650        40000     580
49554        40000     599
47333        40000     650
8068         40000     690
1429         40000     750
46911        40000     750
15240        40000     900
32102        40000     950
42288        40000     999
28368        40000     999
33176        40000    1111
47997        40000    1200
37016        40000    1250
48228        40000    1300
12599        40000    1450
34147        40000    1500
26807        40000    1550
14446        40000    1550
45598        40000    1799
12406        40000    1800
...            ...     ...
28355        40000   44000
27104        40000   44000
12297        40000   44777
45083        40000   45500
27077        40000   46000
38124        40000   46999
47489        40000   47500
40865        40000   47500
37842        40000   48500
34562        40000   49500
39145        40000   49900
46531        40000   49999
7798         40000   51000
23819        40000   53000
1564         40000   54500
8389         40000   58500
27577        40000   59000
35692        40000   59500
41208        40000   64990
5761         40000   65990
44153        40000   67000
13775        40000   68750
37940        40000   72500
16149        40000   73900
38551        40000   76997
19216        40000   83000
10382        40000   84997
38002        40000   85000
44943        40000   89000
32840        40000  169999

[815 rows x 2 columns]

In [104]:

autos[autos['odometer_km'] == 150000][['odometer_km','price']].sort_values('price')

       odometer_km   price
17110       150000       1
30382       150000       1
25281       150000       1
11671       150000       1
33067       150000       1
49377       150000       1
12006       150000       1
6604        150000       1
4253        150000       1
19547       150000       1
42445       150000       1
44816       150000       1
21342       150000       1
32839       150000       1
23307       150000       1
34506       150000       1
9636        150000       1
46990       150000       1
40681       150000       1
1115        150000       1
21898       150000       1
14350       150000       1
20663       150000       1
49528       150000       1
4787        150000       1
45754       150000       1
30759       150000       1
4632        150000       1
38064       150000       1
4928        150000       1
...            ...     ...
16376       150000   39900
21986       150000   39990
28668       150000   39999
13633       150000   41000
21          150000   41500
2097        150000   41500
15527       150000   41900
6538        150000   46911
46123       150000   47000
15912       150000   47500
33189       150000   48700
42190       150000   49000
34535       150000   49900
23503       150000   51500
31688       150000   52900
41421       150000   52900
43059       150000   52911
36073       150000   53000
10133       150000   55996
29489       150000   59000
16006       150000   60000
43564       150000   60000
46558       150000   64900
48097       150000   67911
41891       150000   69993
34375       150000   80000
2184        150000   99000
17540       150000  105000
38814       150000  119500
43668       150000  197000

[31414 rows x 2 columns]

In [106]:
autos[autos['odometer_km'] == 30000][['odometer_km','price']].sort_values('price')

       odometer_km   price
16398        30000       1
37141        30000      20
245          30000      50
461          30000     100
47102        30000     156
8133         30000     160
127          30000     190
48307        30000     200
11628        30000     299
33348        30000     340
32593        30000     350
14063        30000     356
39250        30000     400
2032         30000     400
18902        30000     414
49701        30000     500
28384        30000     520
19155        30000     555
17838        30000     555
25937        30000     600
20187        30000     650
6635         30000     650
30758        30000     650
22160        30000     700
3990         30000     750
6011         30000     750
8545         30000     750
3201         30000     780
12711        30000     790
32138        30000     800
...            ...     ...
10047        30000   47900
24           30000   48500
27746        30000   48500
32575        30000   48900
47104        30000   49000
13860        30000   49900
14325        30000   52500
17991        30000   55800
200          30000   56500
35928        30000   57800
33790        30000   61900
13217        30000   61999
31664        30000   64900
34111        30000   64900
35936        30000   66500
7597         30000   68500
22587        30000   68900
31678        30000   70850
39885        30000   74900
23342        30000   74900
17122        30000   74999
1719         30000   75900
47406        30000   79500
2683         30000   93000
29286        30000  104900
49391        30000  109999
33884        30000  116000
43282        30000  119900
14268        30000  135000
37840        30000  220000

[780 rows x 2 columns]

In [107]:
autos.groupby('price').groups.keys()

dict_keys([20480, 1, 2, 3, 4100, 5, 16390, 8199, 8, 9, 10, 11, 12, 13, 14, 15, 16400, 17, 18, 4099, 20, 24600, 25, 4123, 28700, 29, 30, 32800, 35, 36900, 23890, 40999, 40, 3420, 45, 47, 8240, 49, 50, 12340, 4149, 4150, 55, 8249, 8250, 59, 60, 12349, 12350, 4159, 65, 66, 12299, 70, 12300, 75, 28750, 79, 80, 99000, 1379, 4180, 295000, 89, 90, 4111, 8285, 4190, 16480, 8290, 99, 100, 12390, 4199, 4200, 4201, 16490, 8299, 8300, 20589, 110, 111, 12400, 4210, 20595, 16500, 117, 1385, 120, 20500, 122, 24699, 4220, 125, 4222, 28800, 129, 130, 32900, 135, 37000, 139, 140, 8333, 4239, 250000, 145, 8899, 149, 150, 163991, 4249, 4250, 156, 8350, 160, 12449, 12450, 65699, 65700, 710, 16550, 17777, 8360, 170, 73900, 173, 4270, 175, 28850, 179, 180, 40990, 12470, 4279, 4280, 185, 188, 190, 12480, 193, 4290, 195, 98500, 1398, 8390, 199, 200, 17100, 12490, 4299, 4300, 205, 16590, 8399, 8400, 210, 12499, 12500, 24790, 215, 16600, 217, 219, 220, 222, 4320, 225, 8419, 8420, 18470, 230, 32999, 33000, 25980, 235, 4333, 238, 4335, 240, 41000, 6849, 248, 249, 250, 251, 53500, 4349, 4350, 255, 8449, 8450, 2899, 260, 12549, 12550, 16650, 69900, 269, 270, 12333, 12560, 24850, 275, 16660, 277, 28950, 2777, 280, 16666, 285, 3010, 290, 12580, 25990, 4390, 295, 16680, 8490, 299, 300, 12590, 4399, 4400, 16690, 8499, 8500, 310, 12599, 12600, 2100, 24890, 16699, 16700, 28990, 24895, 320, 24900, 325, 28999, 29000, 329, 330, 21850, 333, 340, 3470, 4440, 49500, 349, 350, 4450, 356, 8550, 359, 360, 61500, 8555, 69997, 16750, 69999, 70000, 369, 370, 4470, 375, 378, 4475, 380, 4480, 385, 4650, 388, 4485, 390, 197000, 4490, 395, 16450, 8590, 4495, 400, 4497, 4498, 8595, 4500, 10990, 16790, 8599, 8600, 410, 12699, 12700, 414, 16799, 16800, 420, 20550, 24999, 25000, 425, 7395, 4525, 430, 20911, 33200, 435, 37300, 151990, 440, 6795, 444, 16830, 449, 450, 4549, 4550, 57800, 8650, 459, 460, 16845, 12750, 8655, 16850, 38990, 470, 4567, 1444, 8666, 475, 480, 30800, 4580, 485, 12777, 490, 11687, 12780, 4590, 495, 16880, 8690, 499, 500, 501, 8200, 4599, 4600, 20985, 16890, 8699, 8700, 3498, 510, 12799, 12800, 16899, 16900, 517, 20999, 520, 25100, 525, 8720, 530, 33300, 37400, 8730, 7599, 540, 549, 550, 4649, 554, 555, 8750, 4655, 560, 6920, 12850, 566, 21049, 570, 12860, 8970, 575, 16960, 578, 579, 580, 4680, 8777, 37450, 15799, 590, 16975, 4690, 595, 16980, 598, 599, 600, 12889, 12890, 4699, 4700, 17850, 8798, 8799, 8800, 12898, 12899, 12900, 16998, 16999, 17000, 6840, 620, 5749, 25200, 625, 628, 21950, 630, 21111, 37499, 37500, 640, 2749, 12395, 644, 648, 649, 650, 53900, 4750, 655, 8850, 4755, 660, 20590, 8854, 666, 12399, 669, 670, 25250, 675, 29350, 679, 680, 4777, 12970, 8875, 4780, 686, 8880, 689, 690, 115, 12980, 4790, 695, 8888, 8890, 699, 700, 12990, 4799, 4800, 12995, 8900, 12998, 12999, 13000, 119500, 719, 720, 33490, 8995, 25300, 725, 29400, 729, 730, 33499, 33500, 139997, 4830, 54990, 8930, 740, 6950, 45800, 745, 49900, 749, 750, 8944, 4850, 755, 8950, 4855, 760, 13049, 2175, 4860, 17149, 21200, 21250, 29445, 25350, 777, 29450, 780, 4877, 785, 8980, 789, 790, 94999, 4888, 4890, 795, 1498, 8990, 799, 800, 4899, 4900, 17190, 8999, 9000, 21980, 810, 36999, 13100, 25390, 17200, 29490, 21299, 820, 32222, 25400, 825, 29499, 29500, 829, 830, 33600, 834, 37700, 2870, 839, 840, 41900, 45900, 846, 49999, 50000, 849, 850, 4949, 4950, 855, 9050, 4955, 860, 27450, 13150, 17249, 17250, 21990, 870, 12986, 25450, 875, 29550, 879, 880, 3560, 33650, 4980, 885, 37750, 887, 888, 889, 890, 45949, 4990, 895, 2880, 898, 4995, 900, 4998, 4999, 5000, 17290, 6295, 9100, 606, 910, 13199, 13200, 25490, 17299, 5012, 2349, 8345, 920, 6980, 25499, 25500, 925, 29600, 22000, 930, 33700, 37800, 9130, 940, 46000, 945, 20490, 949, 950, 951, 259000, 5049, 5050, 9149, 958, 960, 13250, 21444, 965, 17350, 16399, 970, 14498, 975, 980, 6990, 33750, 985, 37850, 989, 990, 995, 996, 8790, 998, 999, 1000, 13290, 9195, 4125, 11090, 9199, 9200, 30888, 21490, 9203, 13300, 25590, 17400, 21499, 21500, 20650, 5120, 7680, 29699, 29700, 33800, 3444, 17419, 37900, 1039, 42000, 13333, 1049, 1050, 5150, 9249, 9250, 1059, 13349, 13350, 169000, 17450, 82987, 1070, 13362, 4275, 9270, 1080, 34996, 33850, 5180, 37950, 21995, 9280, 5185, 1090, 32950, 5190, 1095, 20495, 9290, 13387, 1100, 5198, 5199, 5200, 29777, 17490, 9299, 9300, 21590, 1111, 1112, 17499, 17500, 1119, 1120, 3600, 25698, 25699, 5222, 29800, 33900, 9325, 6333, 17520, 2920, 7699, 4286, 46200, 1149, 1150, 5248, 5249, 5250, 58500, 9349, 9350, 5255, 8222, 11799, 17550, 1169, 1170, 74900, 25750, 29850, 1180, 99900, 33950, 15899, 198, 1190, 13480, 5290, 1195, 9390, 1199, 1200, 1201, 5298, 5299, 5300, 17590, 9399, 9400, 1209, 13498, 13499, 1212, 17599, 17600, 29890, 21700, 1221, 33990, 25800, 29900, 1570, 33999, 13520, 1234, 5333, 4985, 1240, 41850, 1247, 1249, 1250, 75900, 54500, 5350, 9450, 13550, 9455, 1265, 17650, 13555, 45950, 1270, 74999, 13560, 25850, 1275, 29950, 1280, 2944, 5380, 1285, 3998, 9480, 1290, 16599, 4994, 5390, 1295, 9490, 899, 1300, 5399, 5400, 9499, 29980, 1310, 13599, 13600, 17699, 17700, 29989, 29990, 11825, 21800, 20700, 25900, 1325, 29999, 30000, 1330, 32990, 38200, 1340, 1345, 9099, 50500, 1349, 1350, 5450, 1355, 58700, 5454, 24800, 13650, 9555, 17750, 71000, 28900, 1370, 1375, 7825, 5475, 1380, 34150, 9577, 5485, 1390, 13680, 5489, 5490, 1395, 9590, 5495, 1400, 17300, 5499, 5500, 9599, 21888, 13888, 21890, 25987, 13700, 1414, 17799, 17800, 919, 1420, 25999, 26000, 1425, 66964, 1430, 1432, 21750, 1440, 2288, 5540, 17830, 1448, 1449, 1450, 5550, 9650, 5555, 62900, 13750, 9655, 67000, 1466, 1470, 9666, 1475, 21959, 1480, 17996, 1485, 194000, 1490, 13780, 1494, 1495, 1497, 9690, 1499, 1500, 13790, 5599, 5600, 17890, 9699, 9700, 13798, 13799, 13800, 17899, 17900, 21999, 1520, 345000, 1525, 30200, 41800, 1530, 10495, 9725, 38400, 5634, 42500, 3670, 1545, 1549, 1550, 2989, 5650, 1555, 58900, 9750, 1560, 13850, 8099, 17950, 5666, 26150, 1575, 1579, 1580, 9773, 190000, 9777, 9600, 5685, 1590, 10995, 5689, 5690, 1595, 17980, 9790, 5695, 1600, 2099, 13890, 5699, 5700, 17989, 17990, 9799, 9800, 73996, 13899, 13900, 17999, 18000, 20750, 13911, 26200, 1630, 38500, 1640, 1642, 5740, 1645, 79980, 1650, 9150, 5750, 59000, 9850, 1659, 1660, 13950, 1666, 1670, 26250, 1675, 79500, 23490, 9870, 1680, 13970, 29380, 13975, 1689, 1690, 13980, 5790, 1695, 9890, 1699, 1700, 13990, 9895, 5800, 18090, 13995, 9900, 11890, 13999, 14000, 3699, 18100, 26294, 22199, 34490, 26300, 21450, 9845, 30400, 1730, 34499, 34500, 72600, 3020, 22222, 3012, 46800, 50900, 1749, 1750, 55000, 5849, 5850, 1755, 9950, 5855, 1760, 27600, 14050, 1765, 18150, 1770, 5870, 1775, 1777, 9970, 1780, 34550, 9975, 5880, 9980, 1790, 7295, 5888, 5890, 1795, 9989, 9990, 5895, 1800, 6444, 9995, 5900, 9998, 9999, 10000, 22290, 14100, 4398, 26390, 18200, 10009, 8495, 1820, 26400, 15200, 30499, 5924, 38700, 1840, 46900, 1845, 51000, 1849, 1850, 5949, 5950, 46911, 1856, 10050, 1860, 20790, 7820, 18250, 744, 1870, 115000, 26450, 1875, 1649, 1880, 34650, 5980, 10080, 1890, 9190, 5990, 1895, 38760, 6460, 30570, 5995, 1900, 5997, 5998, 5999, 6000, 1906, 10100, 1399, 14199, 14200, 20799, 18300, 10111, 22400, 20800, 5099, 26500, 1925, 18310, 5100, 1930, 1933, 46990, 1935, 38800, 42900, 14230, 6039, 47000, 1945, 1949, 1950, 24888, 6050, 1955, 6470, 10150, 33777, 1960, 14250, 18350, 1970, 13299, 1975, 3060, 30650, 1980, 1981, 34750, 10175, 1984, 1985, 38850, 18888, 1990, 1995, 1996, 1698, 1998, 1999, 2000, 2001, 14290, 6099, 6100, 20499, 10199, 10200, 13988, 22490, 14299, 14300, 4295, 18399, 18400, 22499, 22500, 26600, 5799, 30700, 42990, 34800, 2033, 2035, 38900, 10230, 42999, 43000, 6140, 18430, 14337, 2050, 9899, 6149, 6150, 10250, 6155, 14350, 169999, 18450, 2070, 6170, 22555, 84000, 34850, 26660, 38950, 10280, 4444, 2090, 6190, 2095, 3080, 10290, 6195, 22580, 2398, 14390, 6199, 6200, 6202, 10299, 10300, 79933, 2111, 6208, 2400, 18499, 18500, 22600, 34890, 26700, 6222, 2128, 34900, 2134, 38999, 39000, 41999, 2140, 10333, 1040, 51900, 2149, 2150, 1299, 6249, 6250, 14444, 10350, 5879, 14450, 18550, 69993, 22650, 34940, 2410, 26750, 79999, 80000, 2180, 34950, 6279, 2190, 6290, 2195, 18798, 10390, 2199, 2200, 14489, 14490, 6299, 6300, 10399, 10400, 2210, 14499, 14500, 18599, 18600, 22700, 20850, 2222, 34990, 26800, 2225, 30899, 30900, 34999, 35000, 14525, 2241, 13500, 6340, 2245, 2249, 2250, 55500, 6350, 10450, 30933, 14550, 12290, 2265, 18650, 75997, 22750, 6895, 26849, 26850, 379, 11199, 30950, 2280, 3111, 7890, 10480, 2290, 6389, 6390, 2295, 10488, 10490, 2299, 2300, 14590, 6399, 6400, 10498, 10499, 10500, 22790, 14599, 14600, 6410, 18699, 18700, 30990, 22799, 22800, 2321, 26899, 26900, 30999, 31000, 21900, 66500, 2333, 3120, 7899, 2340, 14399, 51500, 25650, 2350, 6447, 6450, 10550, 2359, 8008, 10555, 10556, 18750, 3125, 32949, 22850, 29750, 26950, 67911, 14400, 27020, 2380, 6479, 6480, 83000, 2390, 6490, 399, 10590, 6495, 22880, 6498, 6499, 6500, 18790, 10599, 10600, 22890, 14699, 14700, 12690, 26990, 18799, 18800, 2399, 22899, 22900, 26999, 27000, 24980, 78911, 22250, 2430, 6530, 39300, 6550, 31111, 47499, 47500, 6543, 12696, 2450, 35222, 2455, 10650, 2459, 2460, 20890, 14750, 68000, 18850, 24987, 2470, 10666, 13383, 2479, 2480, 6578, 11389, 24990, 10680, 2490, 1098, 6590, 2495, 2496, 2498, 1099, 2500, 43461, 14790, 6599, 6600, 59850, 10699, 10700, 22989, 22990, 14800, 18900, 13390, 22999, 23000, 20900, 31199, 31200, 22950, 7995, 43500, 42750, 2550, 55800, 6650, 2555, 18940, 10750, 55555, 14850, 18950, 2569, 2570, 13399, 14863, 13400, 2580, 6680, 10777, 145000, 2589, 2590, 1797, 14880, 18977, 6690, 1798, 10790, 2599, 2600, 119900, 35370, 1799, 6700, 18990, 10799, 10800, 22280, 14899, 14900, 128000, 18999, 19000, 21599, 21600, 5899, 6725, 39500, 10830, 2270, 31313, 23123, 24750, 6745, 770, 2651, 55900, 6749, 6750, 5195, 60000, 10850, 6755, 2660, 14950, 45500, 2666, 2670, 2671, 6770, 2680, 6777, 35450, 10880, 2690, 14980, 6790, 4545, 10888, 10890, 2699, 2700, 10690, 14990, 6799, 6800, 2499, 10900, 15470, 14998, 5913, 15000, 22980, 37999, 19100, 23200, 38000, 22299, 27300, 65990, 31400, 22300, 35499, 35500, 19121, 47800, 55996, 18890, 2750, 55999, 56000, 23233, 6850, 4555, 10949, 10950, 61900, 68300, 23250, 27350, 2775, 30500, 31450, 2780, 10975, 2785, 35555, 10980, 2789, 2790, 6888, 6889, 6890, 10988, 10989, 2798, 2799, 2800, 3880, 6899, 6900, 10998, 10999, 11000, 22996, 15099, 15100, 3266, 6911, 19200, 31490, 23300, 20950, 27400, 7980, 31499, 31500, 7298, 137999, 39700, 51990, 64280, 7300, 3777, 6940, 51999, 52000, 2849, 2850, 23333, 25600, 7985, 265000, 2860, 72500, 23350, 6969, 6970, 13450, 4510, 6977, 6979, 88900, 7990, 93000, 15500, 2890, 6989, 47950, 2895, 198000, 15186, 6995, 2900, 6998, 6999, 7000, 86500, 11100, 2910, 15199, 220000, 27490, 19299, 19300, 11111, 23400, 27499, 27500, 31600, 35700, 39800, 3220, 7999, 43900, 47997, 48000, 11140, 2949, 2950, 7050, 11149, 11150, 15249, 15250, 68500, 19350, 175000, 1599, 23450, 2980, 89000, 2985, 2986, 7085, 2990, 2993, 2995, 2997, 2998, 2999, 3000, 3001, 15290, 7099, 7100, 2549, 11200, 15298, 15299, 15300, 4598, 19399, 19400, 20300, 7849, 23499, 23500, 3550, 35790, 130000, 39890, 35800, 39900, 1189, 44000, 20987, 39911, 11240, 3049, 3050, 7150, 3055, 3240, 11250, 19444, 61950, 15350, 19450, 63999, 20888, 27650, 3075, 84997, 11270, 85000, 4740, 7190, 19480, 3099, 3100, 15390, 7199, 7200, 19490, 11299, 11300, 23590, 15399, 15400, 27690, 39979, 19500, 13490, 3119, 23600, 21000, 35890, 27700, 15413, 39990, 31799, 31800, 3129, 35900, 6666, 39999, 40000, 1888, 7234, 35911, 7240, 3149, 3150, 7249, 7250, 5015, 11350, 64600, 3940, 15450, 11499, 21690, 19550, 11360, 29200, 23650, 27750, 59500, 33980, 3178, 3180, 35950, 7280, 3190, 15480, 7290, 3195, 34980, 10090, 11390, 3199, 3200, 27777, 15490, 7299, 15492, 11399, 11400, 3210, 3211, 35980, 70850, 68750, 19599, 19600, 2449, 23700, 14190, 3222, 27800, 31900, 3230, 35999, 36000, 1222, 11430, 44200, 41500, 48300, 3249, 3250, 3955, 56500, 7350, 11448, 11450, 3260, 15550, 19650, 15555, 72900, 76997, 23750, 27850, 7373, 31950, 3279, 3280, 19666, 7380, 3285, 11480, 3290, 7390, 3295, 34000, 11490, 18299, 3300, 2598, 15590, 7399, 7400, 24444, 19690, 6695, 11500, 23790, 15600, 14888, 19699, 19700, 129000, 31990, 23799, 23800, 22690, 22399, 7420, 14890, 31999, 32000, 3330, 6699, 3333, 7430, 7435, 3970, 26499, 11540, 3349, 3350, 7449, 7450, 61999, 11550, 3360, 62000, 15650, 11555, 7460, 19750, 23850, 120000, 20980, 7470, 350000, 3380, 15670, 3390, 19777, 7490, 2874, 19780, 16950, 11590, 3399, 3400, 7498, 7499, 7500, 7333, 19199, 11599, 11600, 42760, 3299, 15700, 27990, 19800, 23899, 23900, 4666, 27999, 28000, 3425, 48490, 11495, 18490, 48500, 155000, 3449, 3450, 7550, 3455, 3456, 11650, 7555, 64900, 15749, 15750, 105000, 19850, 46999, 29250, 23950, 63499, 11666, 3475, 42222, 32150, 3993, 3480, 44444, 3485, 11982, 15777, 3490, 7590, 3495, 21300, 3996, 11690, 3499, 3500, 3501, 3799, 109999, 7600, 19890, 11699, 11700, 23989, 23990, 6870, 15800, 19900, 23999, 24000, 4000, 3318, 19911, 8098, 15823, 40400, 44497, 44499, 44500, 48600, 8100, 3549, 64990, 56800, 7650, 3555, 11749, 11750, 64999, 65000, 27900, 15850, 12199, 19950, 3580, 15870, 19968, 19970, 11780, 3589, 3590, 15880, 7690, 19980, 11790, 3599, 15888, 12888, 15890, 2888, 7700, 19990, 2649, 11800, 12790, 19995, 15900, 2650, 19998, 19999, 20000, 3620, 15911, 28200, 22450, 3633, 40499, 40500, 16990, 7655, 2655, 48700, 75000, 4895, 3650, 3122, 56900, 7750, 11850, 3660, 15950, 3666, 16995, 24150, 20990, 1759, 3680, 7777, 3690, 29970, 7790, 11888, 37480, 21400, 7795, 3700, 15990, 7799, 7800, 21780, 11899, 11900, 64500, 3710, 15999, 16000, 28290, 35990, 63000, 24200, 115991, 28300, 3725, 32400, 25880, 38450, 36500, 40900, 11930, 20123, 11546, 7840, 52900, 3749, 3750, 9500, 7850, 163500, 27250, 11950, 52911, 3760, 45000, 24242, 21790, 20150, 11960, 29300, 2444, 17695, 3774, 116000, 11970, 3780, 52500, 7880, 1899, 11980, 3790, 16333, 7888, 48850, 3795, 11989, 11990, 93911, 3800, 68900, 11995, 7900, 11999, 114400, 24290, 16100, 24950, 20199, 20200, 44777, 32490, 46500, 24300, 28399, 28400, 6879, 104900, 32500, 48888, 2004, 7930, 21275, 20222, 48900, 53000, 3849, 3850, 7949, 7950, 14995, 27950, 16150, 35460, 20250, 73500, 24350, 26725, 180000, 28450, 3876, 3879, 24360, 2695, 89900, 3888, 6792, 3890, 28470, 3895, 3899, 3900, 14986, 16190, 1333, 8000, 20290, 36675, 12100, 16200, 28490, 20299, 3540, 24400, 28499, 28500, 135000, 40800, 27280, 44900, 15499, 48999, 49000, 3945, 3949, 3950, 3952, 19499, 8050, 10899, 3957, 12150, 16250, 69500, 3965, 29333, 3969, 24450, 16499, 12950, 3975, 23540, 14999, 3980, 40850, 3395, 3989, 3990, 30987, 5444, 3995, 4840, 12190, 3999, 24480, 16290, 47900, 4004, 4005, 20390, 14321, 12200, 24490, 16299, 16300, 20399, 20400, 24499, 24500, 28600, 42996, 32700, 12000, 44990, 36800, 44996, 5590, 16375, 4499, 4770, 6545, 4050, 27299, 9550, 8150, 12250, 16350, 2725, 20450, 24550, 3410, 36850, 8180, 33449, 299000, 4090, 8190])

## How much cheaper are cars with damage than their non-damaged counterparts?

In [108]:
autos.columns

Index(['brand', 'name', 'model', 'V', 'vehicle_type', 'fuel_type', 'gearbox',
       'power_ps', 'odometer_km', 'unrepaired_damage', 'abtest',
       'registration_year', 'registration_month', 'date_crawled', 'ad_created',
       'last_seen', 'price', 'postal_code'],
      dtype='object')

In [109]:
autos.sort_values('price')

,brand,name,model,V,vehicle_type,fuel_type,gearbox,power_ps,odometer_km,unrepaired_damage,abtest,registration_year,registration_month,date_crawled,ad_created,last_seen,price,postal_code
38064,bmw,Schlachte e39 touring aspensilber 339,5er,39,kombi,gasoline,manual,193,150000,NaN,control,1996,12,20160329,20160329,20160405,1,26532
23307,opel,Opel vectra c 1.8,vectra,1,kombi,gasoline,manual,122,150000,no,test,2004,4,20160308,20160308,20160308,1,37290
23308,renault,Renault twingo,twingo,NaN,kleinwagen,NaN,manual,58,125000,NaN,control,1998,0,20160321,20160321,20160322,1,59519
15731,opel,Opel Zafira 1 9 CDTI schoene 7 Sitze fuer dein...,zafira,1,bus,diesel,manual,150,150000,NaN,control,2009,4,20160402,20160401,20160407,1,56075
8322,fiat,Fiat Punto 1.2 SCHLACHTFEST,punto,1,kleinwagen,gasoline,manual,60,150000,yes,test,2000,3,20160311,20160311,20160326,1,25813
21898,volkswagen,Golf 2 teile,golf,2,NaN,gasoline,manual,116,150000,NaN,control,2016,0,20160321,20160321,20160327,1,33129
5246,bmw,Autoaufbereitung,6er,NaN,NaN,NaN,NaN,0,5000,NaN,test,2015,12,20160312,20160312,20160312,1,29640
25281,audi,Schlachte Audi 80 b4,80,80,limousine,gasoline,NaN,133,150000,NaN,control,1992,0,20160308,20160308,20160315,1,49419
10204,sonstige_autos,Alles Muss weg..Auch als Paket,NaN,NaN,NaN,NaN,NaN,0,100000,NaN,test,2000,0,20160328,20160328,20160328,1,52525
14350,volkswagen,Suche vw lupo gti kein umbau,lupo,NaN,NaN,NaN,manual,125,150000,NaN,control,2005,7,20160403,20160403,20160405,1,58456
11314,sonstige_autos,Suche Autos mit und ohne. Tuev,NaN,NaN,NaN,NaN,NaN,0,150000,NaN,test,2000,0,20160319,20160319,20160320,1,49808
7791,volvo,Volvo 850 T5,850,850,kombi,gasoline,manual,211,150000,NaN,control,1995,0,20160325,20160325,20160402,1,90480
9296,volkswagen,VW Golf 1 Cabrio TÜV kein Rost,NaN,1,cabrio,gasoline,manual,95,150000,NaN,control,1989,0,20160321,20160321,20160321,1,39615
30114,audi,Audi 80 Typ89.automatilk,80,80,limousine,gasoline,NaN,0,150000,NaN,control,1989,2,20160311,20160311,20160311,1,51103
36053,volkswagen,Caddy zu verkaufen,caddy,NaN,NaN,diesel,manual,64,150000,NaN,test,2000,9,20160309,20160309,20160310,1,14727
20663,bmw,Schlachte BMW e36 318is Teile abzugeben.,3er,36,andere,gasoline,manual,140,150000,no,test,1996,6,20160320,20160320,20160402,1,87761
18569,audi,Suche Leasing Audi A4 Avant A6 oder Q5 SQ5 P...,NaN,4,NaN,NaN,NaN,0,5000,NaN,test,2014,0,20160405,20160405,20160405,1,82166
15579,ford,Ford mustang,mustang,NaN,NaN,NaN,NaN,0,150000,NaN,test,2005,0,20160404,20160404,20160406,1,20095
5354,volkswagen,Schlachtfest,golf,NaN,NaN,NaN,NaN,0,150000,yes,test,2000,0,20160329,20160329,20160406,1,35232
27171,sonstige_autos,Wartburg Scheunenfund Teilespender,NaN,NaN,NaN,NaN,NaN,0,5000,NaN,test,1990,0,20160331,20160331,20160406,1,16269
45546,bmw,ICH SUCHE EINEN BMW E36 AB 2 LITER,3er,36,NaN,NaN,manual,0,125000,no,control,1995,0,20160322,20160322,20160327,1,41849
5883,volkswagen,Suche ein Auto,NaN,NaN,NaN,NaN,NaN,0,5000,NaN,test,2005,0,20160328,20160328,20160402,1,61118
49240,bmw,Suche 7 Sitzer Espace oder Biete s.Beschreibung,NaN,7,kombi,gasoline,manual,0,150000,NaN,test,1999,4,20160310,20160310,20160328,1,41199
55,mercedes_benz,Mercedes E320 AMG zu Tauschen,e_klasse,320,NaN,gasoline,automatic,224,125000,no,test,2017,7,20160307,20160306,20160308,1,22111
12006,mercedes_benz,CLK 230 Avantgarde Final Edition Cabrio gegen ...,clk,230,cabrio,gasoline,automatic,197,150000,no,test,2002,9,20160307,20160307,20160324,1,42929
26414,bmw,Hallo hier bitte ich mein BMW zum Tausch oder ...,5er,NaN,limousine,gasoline,manual,150,150000,NaN,test,1996,10,20160403,20160403,20160405,1,58089
20671,hyundai,Hyundai coupe FINGER WEG,andere,NaN,coupe,NaN,NaN,0,60000,NaN,control,2005,8,20160310,20160310,20160310,1,73430
26647,mercedes_benz,Verkaufe CLK W209 320,clk,209,coupe,gasoline,automatic,243,150000,no,test,2002,7,20160327,20160327,20160327,1,10585
12698,opel,Opel Astra H twintop Cabrio rueckfahrkamera,astra,NaN,cabrio,gasoline,manual,140,80000,yes,test,2007,6,20160403,20160403,20160405,1,32805
39507,volkswagen,Tausche gegen anderen Pkw,golf,NaN,NaN,NaN,manual,75,150000,no,test,2016,5,20160402,20160402,20160406,1,4229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43282,porsche,Porsche 911 Carrera 4S Cabriolet PDK,911,911,cabrio,gasoline,automatic,400,30000,no,control,2014,2,20160403,20160403,20160405,119900,51465
44406,mercedes_benz,Mercedes Benz 170 S Cabriolet A Startklar fue...,andere,170,cabrio,gasoline,manual,52,20000,no,control,1951,5,20160315,20160315,20160406,120000,1067
2751,porsche,Porsche 911 993 4S,911,911,coupe,gasoline,manual,286,125000,no,control,1998,3,20160315,20160315,20160405,120000,25488
8232,porsche,Porsche 993 S Schalter BRD neuwertig,911,993,coupe,gasoline,manual,286,100000,no,test,1997,4,20160401,20160401,20160405,128000,81543
1878,porsche,Porsche 911 Turbo,911,911,coupe,gasoline,manual,408,125000,no,control,1995,9,20160312,20160312,20160405,129000,70180
49815,ford,SUCHE TIPPS Ford Mustang Shelby GT 350 500 K...,mustang,350,coupe,gasoline,NaN,0,50000,NaN,control,1968,7,20160308,20160308,20160323,130000,56070
14268,porsche,Porsche 997 GT3 Approved Lift Unfallfrei Mj.2011,911,997,coupe,gasoline,manual,435,30000,no,test,2010,7,20160401,20160401,20160407,135000,83684
2454,porsche,Porsche 911 GT3,911,911,coupe,gasoline,manual,435,20000,no,control,2010,7,20160321,20160321,20160407,137999,80636
32185,porsche,Porsche 997 GT3 MKII EIN SAMMLERSTÜCK IN VOLLA...,911,997,coupe,gasoline,manual,435,20000,no,test,2010,3,20160325,20160325,20160406,139997,71159
49668,porsche,"Porsche 911 993 Carrera S ""SONDERMODELL""",911,911,coupe,gasoline,manual,286,60000,no,control,1998,7,20160331,20160331,20160406,145000,63179
33638,porsche,Porsche 911 GT3 RS,911,911,coupe,gasoline,manual,415,20000,no,test,2007,10,20160324,20160324,20160407,151990,40479
10500,porsche,Porsche 991,911,991,coupe,NaN,NaN,476,20000,no,test,2013,11,20160317,20160317,20160326,155000,90768
45387,porsche,Porsche 911 GT3 Clubsp. Lift nur bis 25.03. v...,911,911,coupe,gasoline,automatic,476,10000,no,test,2015,9,20160318,20160318,20160318,163500,74078
22673,porsche,Porsche 911 991 GT3 LED Licht Chrono Navi Club...,911,911,coupe,gasoline,automatic,476,10000,no,test,2014,6,20160305,20160305,20160309,163991,51702
18509,porsche,Porsche 991 GT3,911,991,coupe,gasoline,automatic,476,20000,no,control,2013,9,20160327,20160327,20160405,169000,83629
32840,mercedes_benz,Mercedes Benz G 500 7G TRONIC Cabrio Desingno ...,g_klasse,500,cabrio,gasoline,automatic,387,40000,no,control,2012,3,20160322,20160322,20160405,169999,42655
11433,audi,Audi R8 V10 plus 5.2 FSI quattro S tronic Akra...,andere,8,coupe,gasoline,automatic,610,5000,no,test,2016,1,20160330,20160330,20160405,175000,94244
17140,mercedes_benz,Mercedes Benz SLS AMG Roadster AMG SPEEDSHIFT DCT,andere,NaN,cabrio,gasoline,automatic,571,50000,no,test,2012,2,20160305,20160305,20160320,180000,14193
20351,bmw,BMW Z8 roadster,z_reihe,8,cabrio,gasoline,manual,400,60000,no,control,2000,9,20160322,20160322,20160402,190000,14473
28090,sonstige_autos,Tesla Model X P90D Signature Sondermodel Neuw...,NaN,90,suv,electricity,automatic,0,5000,no,test,2016,3,20160308,20160308,20160316,194000,97990
43668,porsche,Porsche 993/911 Turbo WLS II Exclusive S deuts...,911,993,coupe,NaN,manual,450,150000,no,control,1998,3,20160316,20160316,20160407,197000,46147
40918,porsche,Porsche 911 991 GT3 RS,911,911,coupe,gasoline,automatic,500,5000,no,test,2015,6,20160320,20160320,20160321,198000,51491
37840,porsche,Porsche 997,911,997,coupe,gasoline,manual,415,30000,no,test,2008,7,20160321,20160321,20160406,220000,69198
38299,bmw,Glas BMW mit Wasser,x_reihe,NaN,NaN,NaN,NaN,0,5000,NaN,test,2015,0,20160328,20160328,20160328,250000,60489
47337,bmw,BMW Z8 roadster,z_reihe,8,cabrio,gasoline,manual,400,20000,no,test,2001,6,20160405,20160405,20160405,259000,61462
12682,porsche,Porsche GT3 RS PCCB Lift grosser Exklusiv ...,911,3,coupe,gasoline,automatic,500,5000,no,control,2016,3,20160328,20160328,20160405,265000,70193
35923,porsche,Porsche 911 Targa Exclusive Edition 1 von 15 ...,911,911,cabrio,gasoline,automatic,400,5000,no,test,2015,6,20160403,20160403,20160403,295000,74078
34723,porsche,Porsche Porsche 911/930 Turbo 3.0 deutsche Au...,911,911,coupe,gasoline,manual,260,100000,no,test,1977,7,20160323,20160323,20160406,299000,61462
14715,sonstige_autos,Rolls Royce Phantom Drophead Coupe,NaN,NaN,cabrio,gasoline,automatic,460,20000,no,control,2012,8,20160330,20160330,20160407,345000,73525
36818,porsche,Porsche 991,911,991,coupe,gasoline,manual,500,5000,no,control,2016,3,20160327,20160327,20160327,350000,70499

In [112]:
damages = autos[['unrepaired_damage','price']]

In [115]:
damages.groupby('unrepaired_damage')['price'].mean()

unrepaired_damage
no     7086.102355
yes    2221.887609
Name: price, dtype: float64

grouping by unrepaired_damage to find the mean price between cars having no unrepaired_damage and repaired damange, the price difference about $4500 where repaired cars are values less