In [1]:

# Import pandas package  
import pandas as pd 
  
# create a dictionary with five fields each 
data = { 
    'A':['A1', 'A2', 'A3', 'A4', 'A5'],  
    'B':['B1', 'B2', 'B3', 'B4', 'B4'],  
    'C':['C1', 'C2', 'C3', 'C3', 'C3'],  
    'D':['D1', 'D2', 'D2', 'D2', 'D2'],  
    'E':['E1', 'E1', 'E1', 'E1', 'E1'] } 
  
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data)

In [4]:
df

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E1
2  A3  B3  C3  D2  E1
3  A4  B4  C3  D2  E1
4  A5  B4  C3  D2  E1

In [3]:
# Get the unique values of 'E' column 
df.B.unique()

array(['B1', 'B2', 'B3', 'B4'], dtype=object)