In [1]:
import pandas as pd
path = r'/home/tony/Downloads/AMEX_20190905.csv'

df = pd.read_csv(path,names=['stock','date','open','high','low','close','volume','dividends'])

In [2]:
df.head()

  stock         date   open     high      low    close  volume  dividends
0  AAAU  05-Sep-2019  15.35  15.3500  15.0600  15.1550  162700        NaN
1  AADR  05-Sep-2019  50.14  50.1400  49.8300  49.9600    8500        NaN
2  AAMC  05-Sep-2019  10.70  10.9550  10.7000  10.7000    2000        NaN
3   AAU  05-Sep-2019   0.72   0.7301   0.6400   0.6701  704900        NaN
4  ACES  05-Sep-2019  31.05  31.0700  30.7164  30.8064   11100        NaN

In [3]:
df['stock'].value_counts(normalize=True).sort_values()

PQLC    0.000452
FXP     0.000452
HYIH    0.000452
PFFD    0.000452
PLG     0.000452
          ...
BDCZ    0.000452
UUU     0.000452
BDRY    0.000452
VCF     0.000452
NRGU    0.000452
Name: stock, Length: 2213, dtype: float64

In [4]:
df = df.loc[:10,'stock']
df

0     AAAU
1     AADR
2     AAMC
3      AAU
4     ACES
5     ACIM
6     ACIO
7     ACSG
8     ACSI
9      ACU
10    ACWF
Name: stock, dtype: object

In [5]:
import yfinance as yf

list_data= []

for i,stock in enumerate(df):
    names = yf.Ticker(stock)
    history = names.history(start='2018-01-01',end='2020-02-01')
    names = pd.DataFrame(history)
    print(names)
    names['PCT_Change_Close'] =  names.Close.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['PCT_Change_Low'] = names.Low.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['PCT_Change_Open'] = names.Open.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['PCT_Change_High'] = names.High.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['PCT_Change_Vol'] = names.Volume.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names = names[['PCT_Change_Close','PCT_Change_Open','PCT_Change_Low','PCT_Change_High','PCT_Change_Vol']]
    list_data.append(names)
#     names['Stock'] = stock
# pd.options.display.float_format = '${:,.2f}'.format

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-08-15  11.84  11.84  11.74  11.74   27300          0             0
2018-08-16  11.78  11.80  11.74  11.74  428400          0             0
2018-08-17  11.80  11.82  11.77  11.82   52400          0             0
2018-08-20  11.88  11.91  11.85  11.90   28700          0             0
2018-08-21  11.92  11.95  11.89  11.93   30600          0             0
...           ...    ...    ...    ...     ...        ...           ...
2020-01-02  15.24  15.28  15.20  15.25   43100          0             0
2020-01-03  15.45  15.49  15.42  15.45   53400          0             0
2020-01-06  15.76  15.77  15.59  15.62   84100          0             0
2020-01-07  15.64  15.70  15.64  15.68   35000          0             0
2020-01-08  15.75  15.75  15.49  15.56  133600          0             0

[352 rows x 7 columns]

/home/tony/Desktop/github_repos/Dataquest-modules/venv/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  # Remove the CWD from sys.path while we load stuff.
/home/tony/Desktop/github_repos/Dataquest-modules/venv/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  # This is added back by InteractiveShellApp.init_path()
/home/tony/Desktop/github_repos/Dataquest-modules/venv/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  if sys.path[0] == '':
/home/tony/Desktop/github_repos/Dataquest-modules/venv/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  del sys.path[0]
/home/tony/Desktop/github_repos/Dataquest-modules/venv/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-01-02  58.98  59.83  58.58  59.60   73100        0.0             0
2018-01-03  59.83  60.31  59.83  60.22   44400        0.0             0
2018-01-04  60.60  60.94  60.27  60.45  104500        0.0             0
2018-01-05  60.61  60.92  60.46  60.92   73200        0.0             0
2018-01-08  61.15  61.15  60.73  60.92   64300        0.0             0
...           ...    ...    ...    ...     ...        ...           ...
2020-01-02  54.56  54.86  54.45  54.86    9300        0.0             0
2020-01-03  54.36  54.78  54.31  54.57   10600        0.0             0
2020-01-06  54.11  54.43  53.75  54.35   74100        0.0             0
2020-01-07  54.35  54.52  54.19  54.43   10900        0.0             0
2020-01-08  54.07  54.63  54.07  54.48  184700        0.0             0

[508 rows x 7 columns]
             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-01-02  81.60  81.60  81.60  81.60       0          0             0
2018-01-03  77.95  77.95  77.95  77.95     200          0             0
2018-01-04  80.20  80.20  80.20  80.20     200          0             0
2018-01-05  80.20  80.20  80.20  80.20       0          0             0
2018-01-08  80.20  80.20  80.20  80.20       0          0             0
...           ...    ...    ...    ...     ...        ...           ...
2020-01-02  12.31  13.17  12.31  13.17    1700          0             0
2020-01-03  14.48  14.48  13.19  13.60    3000          0             0
2020-01-06  13.59  14.05  13.59  13.66    5300          0             0
2020-01-07  13.75  14.25  13.57  13.90    1500          0             0
2020-01-08  13.53  13.68  12.83  13.68    2500          0             0

[508 rows x 7 columns]
            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2018-01-02  1.03  1.05  1.03   1.03  156200          0             0
2018-01-03  1.04  1.04  1.00   1.00  207300          0             0
2018-01-04  1.01  1.02  0.98   0.98  335100          0             0
2018-01-05  0.99  1.02  0.99   1.00   94400          0             0
2018-01-08  0.98  1.00  0.95   0.95  209000          0             0
...          ...   ...   ...    ...     ...        ...           ...
2020-01-02  0.60  0.60  0.55   0.57  235100          0             0
2020-01-03  0.61  0.61  0.55   0.58  246200          0             0
2020-01-06  0.61  0.61  0.55   0.56  199700          0             0
2020-01-07  0.55  0.58  0.55   0.57  177400          0             0
2020-01-08  0.57  0.59  0.54   0.54  302300          0             0

[508 rows x 7 columns]
             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-06-29  24.82  24.83  24.64  24.77  298200        0.0             0
2018-07-02  24.87  24.87  24.76  24.77    3200        0.0             0
2018-07-03  24.91  24.91  24.86  24.86    6800        0.0             0
2018-07-05  24.76  25.05  24.76  25.05    2300        0.0             0
2018-07-06  25.24  25.24  25.24  25.24     100        0.0             0
...           ...    ...    ...    ...     ...        ...           ...
2020-01-02  34.34  34.34  33.81  34.23   19600        0.0             0
2020-01-03  34.20  34.42  34.15  34.29   12500        0.0             0
2020-01-06  34.39  34.57  34.15  34.56   15600        0.0             0
2020-01-07  34.72  34.81  34.60  34.75   27800        0.0             0
2020-01-08  34.80  35.10  34.75  34.99   12400        0.0             0

[384 rows x 7 columns]
             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-01-02  76.56  76.86  76.48  76.86    9700        0.0             0
2018-01-03  77.05  77.42  76.81  77.41   10800        0.0             0
2018-01-04  77.79  78.16  77.79  77.94    3200        0.0             0
2018-01-05  77.98  78.48  77.98  78.41    2300        0.0             0
2018-01-08  78.30  78.69  78.26  78.40    3500        0.0             0
...           ...    ...    ...    ...     ...        ...           ...
2019-09-18  80.48  80.85  80.17  80.77    3700        0.0             0
2019-09-19  80.87  81.05  80.81  80.81   10300        0.0             0
2019-09-20  80.90  80.95  80.43  80.48    3300        0.0             0
2019-09-23  80.48  80.48  80.48  80.48       0        0.0             0
2019-09-24  80.48  80.48  80.48  80.48       0        0.0             0

[434 rows x 7 columns]
             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2019-07-10  24.93  24.97  24.85  24.93  170000        0.0             0
2019-07-11  24.86  24.92  24.80  24.92  385700        0.0             0
2019-07-12  24.96  25.03  24.96  25.03  229600        0.0             0
2019-07-15  24.97  25.01  24.97  24.98  292600        0.0             0
2019-07-16  24.85  24.94  24.85  24.93  167100        0.0             0
...           ...    ...    ...    ...     ...        ...           ...
2020-01-02  25.71  25.71  25.63  25.70   10000        0.0             0
2020-01-03  25.62  25.66  25.59  25.61   14800        0.0             0
2020-01-06  25.31  25.59  25.31  25.59    9400        0.0             0
2020-01-07  26.06  26.06  25.50  25.52    7700        0.0             0
2020-01-08  25.64  25.69  25.61  25.61   11300        0.0             0

[127 rows x 7 columns]
             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-12-06  23.52  23.52  23.34  23.34  300100        0.0             0
2018-12-07  23.34  23.34  23.34  23.34       0        0.0             0
2018-12-10  23.60  23.60  23.60  23.60       0        0.0             0
2018-12-11  23.23  23.34  23.23  23.34     400        0.0             0
2018-12-12  23.71  23.71  23.68  23.68     700        0.0             0
...           ...    ...    ...    ...     ...        ...           ...
2020-01-02  28.34  28.37  28.34  28.37    1200        0.0             0
2020-01-03  28.14  28.14  28.07  28.07    3100        0.0             0
2020-01-06  28.04  28.05  28.04  28.05    1200        0.0             0
2020-01-07  28.01  28.01  28.01  28.01     100        0.0             0
2020-01-08  28.13  28.13  28.13  28.13     500        0.0             0

[274 rows x 7 columns]
             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-01-02  29.96  29.96  29.96  29.96     900        0.0             0
2018-01-03  30.11  30.11  30.11  30.11     600        0.0             0
2018-01-04  30.12  30.15  30.12  30.15     700        0.0             0
2018-01-05  30.22  30.27  30.22  30.27     700        0.0             0
2018-01-08  30.28  30.38  30.28  30.38    1900        0.0             0
...           ...    ...    ...    ...     ...        ...           ...
2020-01-02  35.56  35.56  35.41  35.53    7200        0.0             0
2020-01-03  35.26  35.44  35.26  35.37    2800        0.0             0
2020-01-06  35.29  35.49  35.24  35.49    3500        0.0             0
2020-01-07  35.42  35.44  35.36  35.37    2200        0.0             0
2020-01-08  35.43  35.67  35.42  35.53    1800        0.0             0

[508 rows x 7 columns]
             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-01-02  22.03  22.34  21.82  21.82    3700       0.00             0
2018-01-03  23.23  23.62  22.50  23.17    9000       0.00             0
2018-01-04  23.00  23.12  21.98  22.93    3100       0.00             0
2018-01-05  22.52  22.75  22.34  22.34    4500       0.11             0
2018-01-08  22.41  23.03  21.70  21.74    5400       0.00             0
...           ...    ...    ...    ...     ...        ...           ...
2020-01-02  23.86  24.11  23.86  24.01    2700       0.00             0
2020-01-03  23.84  24.53  23.37  23.37   11600       0.00             0
2020-01-06  23.54  24.14  23.19  24.04   20500       0.00             0
2020-01-07  23.89  23.96  23.13  23.52   18900       0.12             0
2020-01-08  23.62  23.92  23.60  23.85    8700       0.00             0

[508 rows x 7 columns]

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2018-01-02  29.56  29.57  29.53  29.53    7000        0.0             0
2018-01-03  29.70  29.88  29.66  29.82    8000        0.0             0
2018-01-04  29.99  30.02  29.90  29.90    4000        0.0             0
2018-01-05  30.03  30.56  30.03  30.30   13800        0.0             0
2018-01-08  30.25  30.38  30.25  30.35    9800        0.0             0
...           ...    ...    ...    ...     ...        ...           ...
2020-01-02  31.38  31.44  31.30  31.44    6400        0.0             0
2020-01-03  31.16  31.23  31.14  31.17    4200        0.0             0
2020-01-06  31.06  31.20  31.05  31.16    6600        0.0             0
2020-01-07  31.13  31.15  31.08  31.12    4900        0.0             0
2020-01-08  31.05  31.32  31.05  31.24    5500        0.0             0

[508 rows x 7 columns]

In [6]:
list_data = pd.concat(list_data)

In [7]:
# list_data = list_data[['Stock','Close','Dividends','High','Low','Open','Stock Splits','Volume']]

In [8]:
# list_data.drop(['Close','Open','High'],axis=1)

In [9]:
# list_data.index

In [10]:
list_data.drop(list_data.index[0],inplace=True)

percent change matrix row index days percent till 100. column day percent of previous days

In [11]:
list_data.head()

,PCT_Change_Close,PCT_Change_Open,PCT_Change_Low,PCT_Change_High,PCT_Change_Vol
Date,,,,,
2018-08-16,0.000000,-0.506757,0.000000,-0.337838,1469.230769
2018-08-17,0.681431,0.169779,0.255537,0.169492,-87.768441
2018-08-20,0.676819,0.677966,0.679694,0.761421,-45.229008
2018-08-21,0.252101,0.336700,0.337553,0.335852,6.620209
2018-08-22,0.251467,0.503356,0.420521,0.251046,230.718954

In [12]:
import numpy as np

In [13]:
array = np.concatenate((list_data.PCT_Change_Close.values[1:], np.array([np.nan])))

In [14]:
list_data = list_data.reset_index()

In [15]:
Close_array = list_data.PCT_Change_Close

In [16]:
type(Close_array)

pandas.core.series.Series

In [28]:
data = []
for i in range(100):
    days = list_data.PCT_Change_Close.shift(i)
    df = pd.DataFrame({f'Days {i}':days.values})
    print(df)
    data.append(df)

        Days 0
0     0.000000
1     0.681431
2     0.676819
3     0.252101
4     0.251467
...        ...
4605  0.769231
4606 -0.858779
4607 -0.032082
4608 -0.128370
4609  0.385604

[4610 rows x 1 columns]
        Days 1
0          NaN
1     0.000000
2     0.681431
3     0.676819
4     0.252101
...        ...
4605  0.128370
4606  0.769231
4607 -0.858779
4608 -0.032082
4609 -0.128370

[4610 rows x 1 columns]
        Days 2
0          NaN
1          NaN
2     0.000000
3     0.681431
4     0.676819
...        ...
4605 -0.351775
4606  0.128370
4607  0.769231
4608 -0.858779
4609 -0.032082

[4610 rows x 1 columns]
        Days 3
0          NaN
1          NaN
2          NaN
3     0.000000
4     0.681431
...        ...
4605  0.192246
4606 -0.351775
4607  0.128370
4608  0.769231
4609 -0.858779

[4610 rows x 1 columns]
        Days 4
0          NaN
1          NaN
2          NaN
3          NaN
4     0.000000
...        ...
4605  0.289203
4606  0.192246
4607 -0.351775
4608  0.128370
4609  0.769231

[4610 rows x 1 columns]
        Days 5
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.032144
4606  0.289203
4607  0.192246
4608 -0.351775
4609  0.128370

[4610 rows x 1 columns]
        Days 6
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.096525
4606  0.032144
4607  0.289203
4608  0.192246
4609 -0.351775

[4610 rows x 1 columns]
        Days 7
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.355182
4606  0.096525
4607  0.032144
4608  0.289203
4609  0.192246

[4610 rows x 1 columns]
        Days 8
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.000000
4606  0.355182
4607  0.096525
4608  0.032144
4609  0.289203

[4610 rows x 1 columns]
        Days 9
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.096962
4606  0.000000
4607  0.355182
4608  0.096525
4609  0.032144

[4610 rows x 1 columns]
       Days 10
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.161865
4606  0.096962
4607  0.000000
4608  0.355182
4609  0.096525

[4610 rows x 1 columns]
       Days 11
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.717313
4606  0.161865
4607  0.096962
4608  0.000000
4609  0.355182

[4610 rows x 1 columns]
       Days 12
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.163292
4606  0.717313
4607  0.161865
4608  0.096962
4609  0.000000

[4610 rows x 1 columns]
       Days 13
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.956149
4606  0.163292
4607  0.717313
4608  0.161865
4609  0.096962

[4610 rows x 1 columns]
       Days 14
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.463730
4606  0.956149
4607  0.163292
4608  0.717313
4609  0.161865

[4610 rows x 1 columns]
       Days 15
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.033113
4606  0.463730
4607  0.956149
4608  0.163292
4609  0.717313

[4610 rows x 1 columns]
       Days 16
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.395778
4606 -0.033113
4607  0.463730
4608  0.956149
4609  0.163292

[4610 rows x 1 columns]
       Days 17
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.864937
4606 -0.395778
4607 -0.033113
4608  0.463730
4609  0.956149

[4610 rows x 1 columns]
       Days 18
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.266845
4606  0.864937
4607 -0.395778
4608 -0.033113
4609  0.463730

[4610 rows x 1 columns]
       Days 19
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.705408
4606  0.266845
4607  0.864937
4608 -0.395778
4609 -0.033113

[4610 rows x 1 columns]
       Days 20
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.766667
4606  0.705408
4607  0.266845
4608  0.864937
4609 -0.395778

[4610 rows x 1 columns]
       Days 21
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.662252
4606 -0.766667
4607  0.705408
4608  0.266845
4609  0.864937

[4610 rows x 1 columns]
       Days 22
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.723208
4606 -0.662252
4607 -0.766667
4608  0.705408
4609  0.266845

[4610 rows x 1 columns]
       Days 23
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.329815
4606 -0.723208
4607 -0.662252
4608 -0.766667
4609  0.705408

[4610 rows x 1 columns]
       Days 24
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.165180
4606  0.329815
4607 -0.723208
4608 -0.662252
4609 -0.766667

[4610 rows x 1 columns]
       Days 25
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.799201
4606  0.165180
4607  0.329815
4608 -0.723208
4609 -0.662252

[4610 rows x 1 columns]
       Days 26
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.267112
4606  0.799201
4607  0.165180
4608  0.329815
4609 -0.723208

[4610 rows x 1 columns]
       Days 27
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.233178
4606  0.267112
4607  0.799201
4608  0.165180
4609  0.329815

[4610 rows x 1 columns]
       Days 28
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.365085
4606 -0.233178
4607  0.267112
4608  0.799201
4609  0.165180

[4610 rows x 1 columns]
       Days 29
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.232868
4606 -0.365085
4607 -0.233178
4608  0.267112
4609  0.799201

[4610 rows x 1 columns]
       Days 30
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.033278
4606  0.232868
4607 -0.365085
4608 -0.233178
4609  0.267112

[4610 rows x 1 columns]
       Days 31
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.602611
4606  0.033278
4607  0.232868
4608 -0.365085
4609 -0.233178

[4610 rows x 1 columns]
       Days 32
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.201275
4606  0.602611
4607  0.033278
4608  0.232868
4609 -0.365085

[4610 rows x 1 columns]
       Days 33
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.267648
4606  0.201275
4607  0.602611
4608  0.033278
4609  0.232868

[4610 rows x 1 columns]
       Days 34
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.100267
4606 -0.267648
4607  0.201275
4608  0.602611
4609  0.033278

[4610 rows x 1 columns]
       Days 35
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.133511
4606 -0.100267
4607 -0.267648
4608  0.201275
4609  0.602611

[4610 rows x 1 columns]
       Days 36
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.166611
4606 -0.133511
4607 -0.100267
4608 -0.267648
4609  0.201275

[4610 rows x 1 columns]
       Days 37
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.468698
4606 -0.166611
4607 -0.133511
4608 -0.100267
4609 -0.267648

[4610 rows x 1 columns]
       Days 38
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.033490
4606  0.468698
4607 -0.166611
4608 -0.133511
4609 -0.100267

[4610 rows x 1 columns]
       Days 39
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.134138
4606  0.033490
4607  0.468698
4608 -0.166611
4609 -0.133511

[4610 rows x 1 columns]
       Days 40
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.539447
4606  0.134138
4607  0.033490
4608  0.468698
4609 -0.166611

[4610 rows x 1 columns]
       Days 41
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  1.332422
4606  0.539447
4607  0.134138
4608  0.033490
4609  0.468698

[4610 rows x 1 columns]
       Days 42
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.678656
4606  1.332422
4607  0.539447
4608  0.134138
4609  0.033490

[4610 rows x 1 columns]
       Days 43
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.101902
4606 -0.678656
4607  1.332422
4608  0.539447
4609  0.134138

[4610 rows x 1 columns]
       Days 44
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.000000
4606  0.101902
4607 -0.678656
4608  1.332422
4609  0.539447

[4610 rows x 1 columns]
       Days 45
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.512120
4606  0.000000
4607  0.101902
4608 -0.678656
4609  1.332422

[4610 rows x 1 columns]
       Days 46
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.618344
4606  0.512120
4607  0.000000
4608  0.101902
4609 -0.678656

[4610 rows x 1 columns]
       Days 47
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.413936
4606  0.618344
4607  0.512120
4608  0.000000
4609  0.101902

[4610 rows x 1 columns]
       Days 48
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.034507
4606  0.413936
4607  0.618344
4608  0.512120
4609  0.000000

[4610 rows x 1 columns]
       Days 49
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.034518
4606  0.034507
4607  0.413936
4608  0.618344
4609  0.512120

[4610 rows x 1 columns]
       Days 50
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.660181
4606  0.034518
4607  0.034507
4608  0.413936
4609  0.618344

[4610 rows x 1 columns]
       Days 51
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.208044
4606  0.660181
4607  0.034518
4608  0.034507
4609  0.413936

[4610 rows x 1 columns]
       Days 52
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.313043
4606 -0.208044
4607  0.660181
4608  0.034518
4609  0.034507

[4610 rows x 1 columns]
       Days 53
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.277489
4606  0.313043
4607 -0.208044
4608  0.660181
4609  0.034518

[4610 rows x 1 columns]
       Days 54
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.945378
4606 -0.277489
4607  0.313043
4608 -0.208044
4609  0.660181

[4610 rows x 1 columns]
       Days 55
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.418410
4606  0.945378
4607 -0.277489
4608  0.313043
4609 -0.208044

[4610 rows x 1 columns]
       Days 56
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  1.955208
4606 -0.418410
4607  0.945378
4608 -0.277489
4609  0.313043

[4610 rows x 1 columns]
       Days 57
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.644007
4606  1.955208
4607 -0.418410
4608  0.945378
4609 -0.277489

[4610 rows x 1 columns]
       Days 58
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.866113
4606  0.644007
4607  1.955208
4608 -0.418410
4609  0.945378

[4610 rows x 1 columns]
       Days 59
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -1.563055
4606  0.866113
4607  0.644007
4608  1.955208
4609 -0.418410

[4610 rows x 1 columns]
       Days 60
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.424478
4606 -1.563055
4607  0.866113
4608  0.644007
4609  1.955208

[4610 rows x 1 columns]
       Days 61
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  1.217329
4606 -0.424478
4607 -1.563055
4608  0.866113
4609  0.644007

[4610 rows x 1 columns]
       Days 62
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.467626
4606  1.217329
4607 -0.424478
4608 -1.563055
4609  0.866113

[4610 rows x 1 columns]
       Days 63
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -1.662540
4606  0.467626
4607  1.217329
4608 -0.424478
4609 -1.563055

[4610 rows x 1 columns]
       Days 64
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -1.153846
4606 -1.662540
4607  0.467626
4608  1.217329
4609 -0.424478

[4610 rows x 1 columns]
       Days 65
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.456621
4606 -1.153846
4607 -1.662540
4608  0.467626
4609  1.217329

[4610 rows x 1 columns]
       Days 66
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.558854
4606  0.456621
4607 -1.153846
4608 -1.662540
4609  0.467626

[4610 rows x 1 columns]
       Days 67
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.209132
4606 -0.558854
4607  0.456621
4608 -1.153846
4609 -1.662540

[4610 rows x 1 columns]
       Days 68
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.455182
4606 -0.209132
4607 -0.558854
4608  0.456621
4609 -1.153846

[4610 rows x 1 columns]
       Days 69
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.867754
4606  0.455182
4607 -0.209132
4608 -0.558854
4609  0.456621

[4610 rows x 1 columns]
       Days 70
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.139034
4606 -0.867754
4607  0.455182
4608 -0.209132
4609 -0.558854

[4610 rows x 1 columns]
       Days 71
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.553059
4606  0.139034
4607 -0.867754
4608  0.455182
4609 -0.209132

[4610 rows x 1 columns]
       Days 72
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.138074
4606 -0.553059
4607  0.139034
4608 -0.867754
4609  0.455182

[4610 rows x 1 columns]
       Days 73
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.309704
4606 -0.138074
4607 -0.553059
4608  0.139034
4609 -0.867754

[4610 rows x 1 columns]
       Days 74
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.241463
4606 -0.309704
4607 -0.138074
4608 -0.553059
4609  0.139034

[4610 rows x 1 columns]
       Days 75
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.378007
4606  0.241463
4607 -0.309704
4608 -0.138074
4609 -0.553059

[4610 rows x 1 columns]
       Days 76
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.206612
4606 -0.378007
4607  0.241463
4608 -0.309704
4609 -0.138074

[4610 rows x 1 columns]
       Days 77
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.380228
4606  0.206612
4607 -0.378007
4608  0.241463
4609 -0.309704

[4610 rows x 1 columns]
       Days 78
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.801394
4606  0.380228
4607  0.206612
4608 -0.378007
4609  0.241463

[4610 rows x 1 columns]
       Days 79
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.069735
4606  0.801394
4607  0.380228
4608  0.206612
4609 -0.378007

[4610 rows x 1 columns]
       Days 80
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.139665
4606  0.069735
4607  0.801394
4608  0.380228
4609  0.206612

[4610 rows x 1 columns]
       Days 81
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.315236
4606  0.139665
4607  0.069735
4608  0.801394
4609  0.380228

[4610 rows x 1 columns]
       Days 82
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  1.277049
4606  0.315236
4607  0.139665
4608  0.069735
4609  0.801394

[4610 rows x 1 columns]
       Days 83
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  1.366415
4606  1.277049
4607  0.315236
4608  0.139665
4609  0.069735

[4610 rows x 1 columns]
       Days 84
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.607577
4606  1.366415
4607  1.277049
4608  0.315236
4609  0.139665

[4610 rows x 1 columns]
       Days 85
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.214900
4606 -0.607577
4607  1.366415
4608  1.277049
4609  0.315236

[4610 rows x 1 columns]
       Days 86
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  1.453488
4606  0.214900
4607 -0.607577
4608  1.366415
4609  1.277049

[4610 rows x 1 columns]
       Days 87
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.364697
4606  1.453488
4607  0.214900
4608 -0.607577
4609  1.366415

[4610 rows x 1 columns]
       Days 88
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.036456
4606  0.364697
4607  1.453488
4608  0.214900
4609 -0.607577

[4610 rows x 1 columns]
       Days 89
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.771492
4606 -0.036456
4607  0.364697
4608  1.453488
4609  0.214900

[4610 rows x 1 columns]
       Days 90
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -2.262118
4606  0.771492
4607 -0.036456
4608  0.364697
4609  1.453488

[4610 rows x 1 columns]

       Days 91
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.035894
4606 -2.262118
4607  0.771492
4608 -0.036456
4609  0.364697

[4610 rows x 1 columns]
       Days 92
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.905469
4606 -0.035894
4607 -2.262118
4608  0.771492
4609 -0.036456

[4610 rows x 1 columns]
       Days 93
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -0.611951
4606  0.905469
4607 -0.035894
4608 -2.262118
4609  0.771492

[4610 rows x 1 columns]
       Days 94
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.871460
4606 -0.611951
4607  0.905469
4608 -0.035894
4609 -2.262118

[4610 rows x 1 columns]
       Days 95
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  1.436464
4606  0.871460
4607 -0.611951
4608  0.905469
4609 -0.035894

[4610 rows x 1 columns]
       Days 96
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  0.518327
4606  1.436464
4607  0.871460
4608 -0.611951
4609  0.905469

[4610 rows x 1 columns]
       Days 97
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -2.946461
4606  0.518327
4607  1.436464
4608  0.871460
4609 -0.611951

[4610 rows x 1 columns]
       Days 98
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605  1.384335
4606 -2.946461
4607  0.518327
4608  1.436464
4609  0.871460

[4610 rows x 1 columns]
       Days 99
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4605 -1.400862
4606  1.384335
4607 -2.946461
4608  0.518327
4609  1.436464

[4610 rows x 1 columns]

In [29]:
data = pd.concat(data,axis=1)

In [30]:
data

,Days 0,Days 1,Days 2,Days 3,Days 4,Days 5,Days 6,Days 7,Days 8,Days 9,...,Days 90,Days 91,Days 92,Days 93,Days 94,Days 95,Days 96,Days 97,Days 98,Days 99
0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.681431,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.676819,0.681431,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.252101,0.676819,0.681431,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.251467,0.252101,0.676819,0.681431,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4605,0.769231,0.128370,-0.351775,0.192246,0.289203,0.032144,0.096525,0.355182,0.000000,0.096962,...,-2.262118,-0.035894,0.905469,-0.611951,0.871460,1.436464,0.518327,-2.946461,1.384335,-1.400862
4606,-0.858779,0.769231,0.128370,-0.351775,0.192246,0.289203,0.032144,0.096525,0.355182,0.000000,...,0.771492,-2.262118,-0.035894,0.905469,-0.611951,0.871460,1.436464,0.518327,-2.946461,1.384335
4607,-0.032082,-0.858779,0.769231,0.128370,-0.351775,0.192246,0.289203,0.032144,0.096525,0.355182,...,-0.036456,0.771492,-2.262118,-0.035894,0.905469,-0.611951,0.871460,1.436464,0.518327,-2.946461
4608,-0.128370,-0.032082,-0.858779,0.769231,0.128370,-0.351775,0.192246,0.289203,0.032144,0.096525,...,0.364697,-0.036456,0.771492,-2.262118,-0.035894,0.905469,-0.611951,0.871460,1.436464,0.518327
4609,0.385604,-0.128370,-0.032082,-0.858779,0.769231,0.128370,-0.351775,0.192246,0.289203,0.032144,...,1.453488,0.364697,-0.036456,0.771492,-2.262118,-0.035894,0.905469,-0.611951,0.871460,1.436464