In [1]:
import pandas as pd 
import numpy as np

path = r'/home/tony/Downloads/MarkoPractice1.csv'

df = pd.read_csv(path)
df2 = pd.read_csv(r'/home/tony/Downloads/MarkoPractice2.csv')

In [4]:
df3 = pd.concat([df,df2])

In [5]:
df3

,driver,vehicle_number,best,avg,1,2,3,4,5,6,...,56,57,58,59,60,61,62,63,64,65
0,Clint Bowyer,14,178.4,176.2,174.5,175.8,176.1,176.1,X,177,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aric Almirola,10,178.7,175.8,173.1,176.3,176.8,177.4,176.2,176.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Chase Elliott,9,177.2,175.8,173.5,175.9,176.5,176.7,177.2,177.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alex Bowman,88,177.6,175.7,172.4,175,176.2,176,175.9,176.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kurt Busch,1,177.2,175.6,172.8,175.4,176,176.5,X,174.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,J.J. Yeley,52,172.1,171.4,168.7,169,171.2,171.2,171.7,171.7,...,X,X,X,X,X,X,X,X,X,X
34,Reed Sorenson,77,171.5,170.6,169.5,171.5,5.8,170.2,170.8,170.7,...,X,X,X,X,X,X,X,X,X,X
35,Garrett Smithley,51,167.3,167.3,164.8,167.3,9.1,165.6,6,164.4,...,X,X,X,X,X,X,X,X,X,X
36,Joey Gase,53,168.9,168.9,160.3,165.2,163.5,164.1,7.8,167.8,...,X,X,X,X,X,X,X,X,X,X
37,Timmy Hill,66,164.1,164.1,159.2,X,162.5,162.3,13.7,163.2,...,X,X,X,X,X,X,X,X,X,X

In [ ]:
df.head()

In [ ]:
type(df.iloc[0,29])

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
df.replace('X',np.nan,inplace=True)

In [ ]:
df = df.sort_values(['vehicle_number']).set_index(['vehicle_number'])

In [ ]:
df

In [ ]:
df.best.mean() - df.avg.mean()

In [ ]:
df.best.mean()

In [ ]:
df.avg.mean()

In [ ]:
df.columns

In [ ]:
df.drop(['driver','best'],axis=1).mean(axis=1)

In [ ]:
df.drop(['driver','best'],axis=1).mean(axis=1)

In [ ]:
 df.avg

In [ ]:
df.best.unique()

In [ ]:
df.avg.unique()

In [ ]:
df.best.nunique()

In [ ]:
df.avg.nunique()