In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

fullpath = r"C:\Users\Tony\Downloads\201406hourlySS.txt"

dateCols = ['Date','Time']
df = pd.read_csv(fullpath, nrows=500, usecols=[1, 2, 12])#, parse_dates=dateCols


df.dropna
# time = df['Time'].apply(lambda x: x.strptime('%H:%M'))
# print(time)
df.head()

       Date  Time DryBulbCelsius
0  20140601    57           17.0
1  20140601   119           17.0
2  20140601   157           16.0
3  20140601   217           16.0
4  20140601   239           16.0

In [2]:
df.columns

Index(['Date', 'Time', 'DryBulbCelsius'], dtype='object')

In [3]:
# df['Time'] = df['Time'].dt.time
# df['Time']

In [4]:
df = df.astype(str)
df

         Date  Time DryBulbCelsius
0    20140601    57           17.0
1    20140601   119           17.0
2    20140601   157           16.0
3    20140601   217           16.0
4    20140601   239           16.0
..        ...   ...            ...
495  20140609  1217           17.0
496  20140609  1257           17.0
497  20140609  1317           18.0
498  20140609  1337           18.0
499  20140609  1357           18.0

[500 rows x 3 columns]

In [5]:
type(df.loc[1,'Date'])

str

In [6]:
type(df.loc[1,'Time'])

str

In [7]:

df['Time']=['00'+x if len(x)==2 else '0'+x if len(x) == 3 else x for x in df['Time'] ]
df

         Date  Time DryBulbCelsius
0    20140601  0057           17.0
1    20140601  0119           17.0
2    20140601  0157           16.0
3    20140601  0217           16.0
4    20140601  0239           16.0
..        ...   ...            ...
495  20140609  1217           17.0
496  20140609  1257           17.0
497  20140609  1317           18.0
498  20140609  1337           18.0
499  20140609  1357           18.0

[500 rows x 3 columns]

In [8]:
df['Date'] = df['Date'] + ' ' + df['Time']
df['Date']

0      20140601 0057
1      20140601 0119
2      20140601 0157
3      20140601 0217
4      20140601 0239
           ...
495    20140609 1217
496    20140609 1257
497    20140609 1317
498    20140609 1337
499    20140609 1357
Name: Date, Length: 500, dtype: object

In [9]:
df['Date'] = pd.to_datetime(df['Date'],format='%Y%m%d %H%M')
type(df['Date'])

pandas.core.series.Series

In [10]:
df.drop(columns=['Time'])

                   Date DryBulbCelsius
0   2014-06-01 00:57:00           17.0
1   2014-06-01 01:19:00           17.0
2   2014-06-01 01:57:00           16.0
3   2014-06-01 02:17:00           16.0
4   2014-06-01 02:39:00           16.0
..                  ...            ...
495 2014-06-09 12:17:00           17.0
496 2014-06-09 12:57:00           17.0
497 2014-06-09 13:17:00           18.0
498 2014-06-09 13:37:00           18.0
499 2014-06-09 13:57:00           18.0

[500 rows x 2 columns]

In [11]:
df.set_index('Date')

                     Time DryBulbCelsius
Date
2014-06-01 00:57:00  0057           17.0
2014-06-01 01:19:00  0119           17.0
2014-06-01 01:57:00  0157           16.0
2014-06-01 02:17:00  0217           16.0
2014-06-01 02:39:00  0239           16.0
...                   ...            ...
2014-06-09 12:17:00  1217           17.0
2014-06-09 12:57:00  1257           17.0
2014-06-09 13:17:00  1317           18.0
2014-06-09 13:37:00  1337           18.0
2014-06-09 13:57:00  1357           18.0

[500 rows x 2 columns]

In [30]:
def four_hour_temp(filename,string):
#     compare_time = pd.to_datetime(string)
    compare_time = datetime.strptime(string,'%Y-%m-%d')
    print(type(compare_time))
    
    
    fullpath = filename
    dateCols = ['Date','Time']
    df = pd.read_csv(fullpath, nrows=500, usecols=[1, 2, 12])#, parse_dates=dateCols
    df.dropna
    df = df.astype(str)
    df['Time']=['00'+x if len(x)==2 else '0'+x if len(x) == 3 else x for x in df['Time'] ]
    df['Date'] = df['Date'] + ' ' + df['Time']
    df['Date'] = pd.to_datetime(df['Date'],format='%Y%m%d %H%M')
    df[['Date','Time']] = df[['Date','Time']].to_datetime()
    
    df.drop(columns=['Time'])
    df = df[df['Date'].dt.date >= compare_time]
    print(type(df['Date']))
    df.set_index('Date')
    return df

In [31]:
print(four_hour_temp(r'C:\Users\Tony\Downloads\201406hourlySS.txt','2014-06-17'))

<class 'datetime.datetime'>

AttributeError: 'DataFrame' object has no attribute 'to_datetime'

In [14]:
from datetime import datetime
string = '2014-06-17'
string_date = datetime.strptime(string,'%Y-%m-%d')
print(type(string_date))

<class 'datetime.datetime'>

In [15]:
 compare_time = pd.to_datetime(string)