In [1]:
import urllib
# import requests
import pandas as pd
import re
from bs4 import BeautifulSoup

url = urllib.request.urlopen('https://www.federalreserve.gov/releases/g19/current/default.htm').read()
soup = BeautifulSoup(url,features="html.parser")
# print(soup)

In [2]:
Consumer_Oustanding = soup.find('table',title='Consumer Credit Outstanding')

table = Consumer_Oustanding.find('tbody')
# print(table)
row = table.find_all('tr')

In [3]:
matrix = []
for tr in row:
    # List = []
    text = str(tr.getText())
    value = text.split('\n')
    value = [i for i in value if i != '']
    
    
    matrix.append(value)
print(matrix)

[[' Total percent change (annual rate)2', ' 7.2 ', ' 7.1 ', ' 6.8 ', ' 5.1 ', ' 4.7 ', ' 5.5 ', ' 5.4 ', ' 4.3 ', ' 4.2 ', ' 5.1 ', ' 5.4 ', ' 2.8 ', ' 5.5 '], [' Revolving ', ' 3.9 ', ' 5.4 ', ' 6.8 ', ' 5.6 ', ' 3.1 ', ' 3.4 ', ' 5.0 ', ' 1.5 ', ' 5.2 ', ' 3.6 ', ' -1.0 ', ' 0.2 ', ' 8.8 '], [' Nonrevolving 3', ' 8.4 ', ' 7.7 ', ' 6.9 ', ' 4.9 ', ' 5.3 ', ' 6.2 ', ' 5.6 ', ' 5.3 ', ' 3.8 ', ' 5.6 ', ' 7.7 ', ' 3.7 ', ' 4.3 '], [' Total flow (annual rate)2,4', ' 221.1 ', ' 233.8 ', ' 233.1 ', ' 184.1 ', ' 181.8 ', ' 212.8 ', ' 214.7 ', ' 171.2 ', ' 168.5 ', ' 207.1 ', ' 223.8 ', ' 115.0 ', ' 226.9 '], [' Revolving ', ' 33.4 ', ' 48.0 ', ' 61.2 ', ' 54.2 ', ' 31.6 ', ' 34.9 ', ' 52.0 ', ' 15.9 ', ' 54.8 ', ' 38.6 ', ' -10.7 ', ' 2.2 ', ' 94.9 '], [' Nonrevolving 3', ' 187.7 ', ' 185.9 ', ' 171.9 ', ' 129.9 ', ' 150.1 ', ' 177.9 ', ' 162.7 ', ' 155.3 ', ' 113.6 ', ' 168.5 ', ' 234.5 ', ' 112.7 ', ' 132.0 '], [' Total outstanding ', ' 3,312.5 ', ' 3,411.0 ', ' 3,644.1 ', ' 3,828.3 ', ' 4,009.7 ', ' 3,956.0 ', ' 4,009.7 ', ' 4,052.5 ', ' 4,094.6 ', ' 4,146.4 ', ' 4,136.8 ', ' 4,146.4 ', ' 4,165.3 '], [' Revolving ', ' 888.0 ', ' 906.7 ', ' 968.0 ', ' 1,022.1 ', ' 1,053.5 ', ' 1,040.5 ', ' 1,053.5 ', ' 1,057.5 ', ' 1,071.2 ', ' 1,080.8 ', ' 1,080.6 ', ' 1,080.8 ', ' 1,088.7 '], [' Nonrevolving 3', ' 2,424.5 ', ' 2,504.3 ', ' 2,676.2 ', ' 2,806.1 ', ' 2,956.2 ', ' 2,915.6 ', ' 2,956.2 ', ' 2,995.1 ', ' 3,023.5 ', ' 3,065.6 ', ' 3,056.2 ', ' 3,065.6 ', ' 3,076.6 '], ['\xa0'], [' Terms of Credit', '          Not seasonally adjusted. Percent except as noted.'], [' Commercial bank interest rates 5'], [' New car loans '], [' 48-month', ' 4.24 ', ' 4.19 ', ' 4.30 ', ' 4.61 ', ' 5.03 ', ' 5.05 ', ' 5.29 ', ' 5.50 ', ' 5.35 ', ' 5.27 ', ' 5.27 ', ' n.a. ', ' n.a. '], [' 60-month', ' 4.25 ', ' 4.20 ', ' 4.14 ', ' 4.33 ', ' 5.02 ', ' 4.96 ', ' 5.36 ', ' 5.24 ', ' 5.36 ', ' 5.27 ', ' 5.27', ' n.a.', ' n.a. '], [' Credit card plans '], [' All accounts ', ' 11.87 ', ' 12.09 ', ' 12.35 ', ' 12.89 ', ' 14.22 ', ' 14.38 ', ' 14.73 ', ' 15.09 ', ' 15.13 ', ' 15.10 ', ' 15.10 ', ' n.a. ', ' n.a.'], [' Accounts assessed interest ', ' 13.19 ', ' 13.66 ', ' 13.56 ', ' 14.44 ', ' 16.04 ', ' 16.46 ', ' 16.86 ', ' 16.91 ', ' 17.14 ', ' 16.97 ', ' 16.97 ', ' n.a. ', ' n.a. '], [' Personal loans '], [' 24-month ', ' 10.23 ', ' 9.75 ', ' 9.69 ', ' 10.13 ', ' 10.32 ', ' 10.08 ', ' 10.65 ', ' 10.36 ', ' 10.63 ', ' 10.07 ', ' 10.07 ', ' n.a. ', ' n.a. '], ['\xa0'], ['Finance companies (new car loans)6'], [' Interest rates ', ' 4.9 ', ' 5.1 ', ' 5.1 ', ' 5.4 ', ' 6.1 ', ' 6.4 ', ' 6.7 ', ' 6.5 ', ' 6.7 ', ' 6.4 ', ' n.a. ', ' 6.4 ', ' n.a. '], [' Maturity (months) ', ' 64 ', ' 65 ', ' 66 ', ' 67 ', ' 66 ', ' 66 ', ' 66 ', ' 66 ', ' 66 ', ' 66 ', ' n.a. ', ' 66 ', ' n.a. '], [' Amount financed (dollars) ', ' 26,288 ', ' 27,472 ', ' 28,601 ', ' 29,288 ', ' 30,173 ', ' 29,921 ', ' 30,494 ', ' 30,865 ', ' 31,171 ', ' 31,514 ', ' n.a. ', ' 31,514 ', ' n.a. ']]

In [4]:
df = pd.DataFrame(matrix)


df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Total percent change (annual rate)2,7.2,7.1,6.8,5.1,4.7,5.5,5.4,4.3,4.2,5.1,5.4,2.8,5.5
1,Revolving,3.9,5.4,6.8,5.6,3.1,3.4,5.0,1.5,5.2,3.6,-1.0,0.2,8.8
2,Nonrevolving 3,8.4,7.7,6.9,4.9,5.3,6.2,5.6,5.3,3.8,5.6,7.7,3.7,4.3
3,"Total flow (annual rate)2,4",221.1,233.8,233.1,184.1,181.8,212.8,214.7,171.2,168.5,207.1,223.8,115.0,226.9
4,Revolving,33.4,48.0,61.2,54.2,31.6,34.9,52.0,15.9,54.8,38.6,-10.7,2.2,94.9
5,Nonrevolving 3,187.7,185.9,171.9,129.9,150.1,177.9,162.7,155.3,113.6,168.5,234.5,112.7,132.0
6,Total outstanding,"3,312.5","3,411.0","3,644.1","3,828.3","4,009.7","3,956.0","4,009.7","4,052.5","4,094.6","4,146.4","4,136.8","4,146.4","4,165.3"
7,Revolving,888.0,906.7,968.0,"1,022.1","1,053.5","1,040.5","1,053.5","1,057.5","1,071.2","1,080.8","1,080.6","1,080.8","1,088.7"
8,Nonrevolving 3,"2,424.5","2,504.3","2,676.2","2,806.1","2,956.2","2,915.6","2,956.2","2,995.1","3,023.5","3,065.6","3,056.2","3,065.6","3,076.6"
9,,None,None,None,None,None,None,None,None,None,None,None,None,None
10,Terms of Credit,Not seasonally adjusted. Percent exc...,None,None,None,None,None,None,None,None,None,None,None,None
11,Commercial bank interest rates 5,None,None,None,None,None,None,None,None,None,None,None,None,None
12,New car loans,None,None,None,None,None,None,None,None,None,None,None,None,None
13,48-month,4.24,4.19,4.30,4.61,5.03,5.05,5.29,5.50,5.35,5.27,5.27,n.a.,n.a.
14,60-month,4.25,4.20,4.14,4.33,5.02,4.96,5.36,5.24,5.36,5.27,5.27,n.a.,n.a.
15,Credit card plans,None,None,None,None,None,None,None,None,None,None,None,None,None
16,All accounts,11.87,12.09,12.35,12.89,14.22,14.38,14.73,15.09,15.13,15.10,15.10,n.a.,n.a.
17,Accounts assessed interest,13.19,13.66,13.56,14.44,16.04,16.46,16.86,16.91,17.14,16.97,16.97,n.a.,n.a.
18,Personal loans,None,None,None,None,None,None,None,None,None,None,None,None,None
19,24-month,10.23,9.75,9.69,10.13,10.32,10.08,10.65,10.36,10.63,10.07,10.07,n.a.,n.a.
20,,None,None,None,None,None,None,None,None,None,None,None,None,None
21,Finance companies (new car loans)6,None,None,None,None,None,None,None,None,None,None,None,None,None
22,Interest rates,4.9,5.1,5.1,5.4,6.1,6.4,6.7,6.5,6.7,6.4,n.a.,6.4,n.a.
23,Maturity (months),64,65,66,67,66,66,66,66,66,66,n.a.,66,n.a.
24,Amount financed (dollars),"26,288","27,472","28,601","29,288","30,173","29,921","30,494","30,865","31,171","31,514",n.a.,"31,514",n.a.

In [5]:
df = df.set_index(0)

In [6]:
df.columns = [2014,2015,2016,2017,2018,'Q3r','Q4r','Q1r','Q2r','Q3r','Augr','Sepr','Octp']

In [7]:
df

,2014,2015,2016,2017,2018,Q3r,Q4r,Q1r,Q2r,Q3r,Augr,Sepr,Octp
0,,,,,,,,,,,,,
Total percent change (annual rate)2,7.2,7.1,6.8,5.1,4.7,5.5,5.4,4.3,4.2,5.1,5.4,2.8,5.5
Revolving,3.9,5.4,6.8,5.6,3.1,3.4,5.0,1.5,5.2,3.6,-1.0,0.2,8.8
Nonrevolving 3,8.4,7.7,6.9,4.9,5.3,6.2,5.6,5.3,3.8,5.6,7.7,3.7,4.3
"Total flow (annual rate)2,4",221.1,233.8,233.1,184.1,181.8,212.8,214.7,171.2,168.5,207.1,223.8,115.0,226.9
Revolving,33.4,48.0,61.2,54.2,31.6,34.9,52.0,15.9,54.8,38.6,-10.7,2.2,94.9
Nonrevolving 3,187.7,185.9,171.9,129.9,150.1,177.9,162.7,155.3,113.6,168.5,234.5,112.7,132.0
Total outstanding,"3,312.5","3,411.0","3,644.1","3,828.3","4,009.7","3,956.0","4,009.7","4,052.5","4,094.6","4,146.4","4,136.8","4,146.4","4,165.3"
Revolving,888.0,906.7,968.0,"1,022.1","1,053.5","1,040.5","1,053.5","1,057.5","1,071.2","1,080.8","1,080.6","1,080.8","1,088.7"
Nonrevolving 3,"2,424.5","2,504.3","2,676.2","2,806.1","2,956.2","2,915.6","2,956.2","2,995.1","3,023.5","3,065.6","3,056.2","3,065.6","3,076.6"
,None,None,None,None,None,None,None,None,None,None,None,None,None
Terms of Credit,Not seasonally adjusted. Percent exc...,None,None,None,None,None,None,None,None,None,None,None,None
Commercial bank interest rates 5,None,None,None,None,None,None,None,None,None,None,None,None,None
New car loans,None,None,None,None,None,None,None,None,None,None,None,None,None
48-month,4.24,4.19,4.30,4.61,5.03,5.05,5.29,5.50,5.35,5.27,5.27,n.a.,n.a.
60-month,4.25,4.20,4.14,4.33,5.02,4.96,5.36,5.24,5.36,5.27,5.27,n.a.,n.a.
Credit card plans,None,None,None,None,None,None,None,None,None,None,None,None,None
All accounts,11.87,12.09,12.35,12.89,14.22,14.38,14.73,15.09,15.13,15.10,15.10,n.a.,n.a.
Accounts assessed interest,13.19,13.66,13.56,14.44,16.04,16.46,16.86,16.91,17.14,16.97,16.97,n.a.,n.a.
Personal loans,None,None,None,None,None,None,None,None,None,None,None,None,None
24-month,10.23,9.75,9.69,10.13,10.32,10.08,10.65,10.36,10.63,10.07,10.07,n.a.,n.a.
,None,None,None,None,None,None,None,None,None,None,None,None,None
Finance companies (new car loans)6,None,None,None,None,None,None,None,None,None,None,None,None,None
Interest rates,4.9,5.1,5.1,5.4,6.1,6.4,6.7,6.5,6.7,6.4,n.a.,6.4,n.a.
Maturity (months),64,65,66,67,66,66,66,66,66,66,n.a.,66,n.a.
Amount financed (dollars),"26,288","27,472","28,601","29,288","30,173","29,921","30,494","30,865","31,171","31,514",n.a.,"31,514",n.a.

In [8]:
df.index

Index([' Total percent change (annual rate)2', ' Revolving ',
       ' Nonrevolving 3', ' Total flow (annual rate)2,4', ' Revolving ',
       ' Nonrevolving 3', ' Total outstanding ', ' Revolving ',
       ' Nonrevolving 3', ' ', ' Terms of Credit',
       ' Commercial bank interest rates 5', ' New car loans ', ' 48-month',
       ' 60-month', ' Credit card plans ', ' All accounts ',
       ' Accounts assessed interest ', ' Personal loans ', ' 24-month ', ' ',
       'Finance companies (new car loans)6', ' Interest rates ',
       ' Maturity (months) ', ' Amount financed (dollars) '],
      dtype='object', name=0)

In [9]:
df.index = [ 'Total percent change(annual rate)',
            'Revolving_1','Nonrevolving_1',
            'Total flow(annual rate)',
            'Revolving_1',
           'Nonrevolving_2',
           'Total outstanding',
           'Revolving_2',
           'Nonrevolving_3',
           ' ',
           'Terms of Credit',
           'Commerical bank interest rates 5',
           'New car loans',
           '48-month',
           '60-month',
           'Credit card plans',
           'All accounts',
           'Accounts assessed interest',
           'Personal loans',
           '24-months',
           ' ',
           'Finance companies(new car loans)',
           'Interest rates',
           'Maturity(months)',
           'Amount financed(dollars)',
           ]

In [12]:
df

,2014,2015,2016,2017,2018,Q3r,Q4r,Q1r,Q2r,Q3r,Augr,Sepr,Octp
Total percent change(annual rate),7.2,7.1,6.8,5.1,4.7,5.5,5.4,4.3,4.2,5.1,5.4,2.8,5.5
Revolving_1,3.9,5.4,6.8,5.6,3.1,3.4,5.0,1.5,5.2,3.6,-1.0,0.2,8.8
Nonrevolving_1,8.4,7.7,6.9,4.9,5.3,6.2,5.6,5.3,3.8,5.6,7.7,3.7,4.3
Total flow(annual rate),221.1,233.8,233.1,184.1,181.8,212.8,214.7,171.2,168.5,207.1,223.8,115.0,226.9
Revolving_1,33.4,48.0,61.2,54.2,31.6,34.9,52.0,15.9,54.8,38.6,-10.7,2.2,94.9
Nonrevolving_2,187.7,185.9,171.9,129.9,150.1,177.9,162.7,155.3,113.6,168.5,234.5,112.7,132.0
Total outstanding,"3,312.5","3,411.0","3,644.1","3,828.3","4,009.7","3,956.0","4,009.7","4,052.5","4,094.6","4,146.4","4,136.8","4,146.4","4,165.3"
Revolving_2,888.0,906.7,968.0,"1,022.1","1,053.5","1,040.5","1,053.5","1,057.5","1,071.2","1,080.8","1,080.6","1,080.8","1,088.7"
Nonrevolving_3,"2,424.5","2,504.3","2,676.2","2,806.1","2,956.2","2,915.6","2,956.2","2,995.1","3,023.5","3,065.6","3,056.2","3,065.6","3,076.6"
,None,None,None,None,None,None,None,None,None,None,None,None,None
Terms of Credit,Not seasonally adjusted. Percent exc...,None,None,None,None,None,None,None,None,None,None,None,None
Commerical bank interest rates 5,None,None,None,None,None,None,None,None,None,None,None,None,None
New car loans,None,None,None,None,None,None,None,None,None,None,None,None,None
48-month,4.24,4.19,4.30,4.61,5.03,5.05,5.29,5.50,5.35,5.27,5.27,n.a.,n.a.
60-month,4.25,4.20,4.14,4.33,5.02,4.96,5.36,5.24,5.36,5.27,5.27,n.a.,n.a.
Credit card plans,None,None,None,None,None,None,None,None,None,None,None,None,None
All accounts,11.87,12.09,12.35,12.89,14.22,14.38,14.73,15.09,15.13,15.10,15.10,n.a.,n.a.
Accounts assessed interest,13.19,13.66,13.56,14.44,16.04,16.46,16.86,16.91,17.14,16.97,16.97,n.a.,n.a.
Personal loans,None,None,None,None,None,None,None,None,None,None,None,None,None
24-months,10.23,9.75,9.69,10.13,10.32,10.08,10.65,10.36,10.63,10.07,10.07,n.a.,n.a.
,None,None,None,None,None,None,None,None,None,None,None,None,None
Finance companies(new car loans),None,None,None,None,None,None,None,None,None,None,None,None,None
Interest rates,4.9,5.1,5.1,5.4,6.1,6.4,6.7,6.5,6.7,6.4,n.a.,6.4,n.a.
Maturity(months),64,65,66,67,66,66,66,66,66,66,n.a.,66,n.a.
Amount financed(dollars),"26,288","27,472","28,601","29,288","30,173","29,921","30,494","30,865","31,171","31,514",n.a.,"31,514",n.a.

In [15]:
df = df.loc[['Nonrevolving_1','Nonrevolving_2','Nonrevolving_3','Total outstanding']]
df

,2014,2015,2016,2017,2018,Q3r,Q4r,Q1r,Q2r,Q3r,Augr,Sepr,Octp
Nonrevolving_1,8.4,7.7,6.9,4.9,5.3,6.2,5.6,5.3,3.8,5.6,7.7,3.7,4.3
Nonrevolving_2,187.7,185.9,171.9,129.9,150.1,177.9,162.7,155.3,113.6,168.5,234.5,112.7,132.0
Nonrevolving_3,"2,424.5","2,504.3","2,676.2","2,806.1","2,956.2","2,915.6","2,956.2","2,995.1","3,023.5","3,065.6","3,056.2","3,065.6","3,076.6"
Total outstanding,"3,312.5","3,411.0","3,644.1","3,828.3","4,009.7","3,956.0","4,009.7","4,052.5","4,094.6","4,146.4","4,136.8","4,146.4","4,165.3"

In [16]:
def total_consumer_credit():
    url = urllib.request.urlopen('https://www.federalreserve.gov/releases/g19/current/default.htm').read()
    soup = BeautifulSoup(url,features="html.parser")
    Consumer_Oustanding = soup.find('table',title='Consumer Credit Outstanding')
    table = Consumer_Oustanding.find('tbody')
    row = table.find_all('tr')
    
    matrix = []
    for tr in row:
        text = str(tr.getText())
        value = text.split('\n')
        value = [i for i in value if i != '']
        matrix.append(value)
#     print(matrix) 
    
    df = pd.DataFrame(matrix)
    df = df.set_index(0)
    df.columns = [2014,2015,2016,2017,2018,'Q3r','Q4r','Q1r','Q2r','Q3r','Augr','Sepr','Octp']
    df.index = [ 'Total percent change(annual rate)',
            'Revolving_1','Nonrevolving_1',
            'Total flow(annual rate)',
            'Revolving_1',
           'Nonrevolving_2',
           'Total outstanding',
           'Revolving_2',
           'Nonrevolving_3',
           ' ',
           'Terms of Credit',
           'Commerical bank interest rates 5',
           'New car loans',
           '48-month',
           '60-month',
           'Credit card plans',
           'All accounts',
           'Accounts assessed interest',
           'Personal loans',
           '24-months',
           ' ',
           'Finance companies(new car loans)',
           'Interest rates',
           'Maturity(months)',
           'Amount financed(dollars)',
           ]
    df = df.loc[['Nonrevolving_1','Nonrevolving_2','Nonrevolving_3','Total outstanding']]
    return df

In [17]:
total_consumer_credit()

,2014,2015,2016,2017,2018,Q3r,Q4r,Q1r,Q2r,Q3r,Augr,Sepr,Octp
Nonrevolving_1,8.4,7.7,6.9,4.9,5.3,6.2,5.6,5.3,3.8,5.6,7.7,3.7,4.3
Nonrevolving_2,187.7,185.9,171.9,129.9,150.1,177.9,162.7,155.3,113.6,168.5,234.5,112.7,132.0
Nonrevolving_3,"2,424.5","2,504.3","2,676.2","2,806.1","2,956.2","2,915.6","2,956.2","2,995.1","3,023.5","3,065.6","3,056.2","3,065.6","3,076.6"
Total outstanding,"3,312.5","3,411.0","3,644.1","3,828.3","4,009.7","3,956.0","4,009.7","4,052.5","4,094.6","4,146.4","4,136.8","4,146.4","4,165.3"