In [1]:

import pandas as pd
path = r'/home/tony/Downloads/AMEX_20190905.csv'

df = pd.read_csv(path,names=['stock','date','open','high','low','close','volume','dividends'])



df.head()

  stock         date   open     high      low    close  volume  dividends
0  AAAU  05-Sep-2019  15.35  15.3500  15.0600  15.1550  162700        NaN
1  AADR  05-Sep-2019  50.14  50.1400  49.8300  49.9600    8500        NaN
2  AAMC  05-Sep-2019  10.70  10.9550  10.7000  10.7000    2000        NaN
3   AAU  05-Sep-2019   0.72   0.7301   0.6400   0.6701  704900        NaN
4  ACES  05-Sep-2019  31.05  31.0700  30.7164  30.8064   11100        NaN

In [2]:


df['stock'].value_counts(normalize=True).sort_values()



df = df.loc[:10,'stock']
df

0     AAAU
1     AADR
2     AAMC
3      AAU
4     ACES
5     ACIM
6     ACIO
7     ACSG
8     ACSI
9      ACU
10    ACWF
Name: stock, dtype: object

In [3]:
import yfinance as yf

data= []

for i,stock in enumerate(df):
    names = yf.Ticker(stock)
    history = names.history(start='2018-01-01',end='2020-02-01')
    names = pd.DataFrame(history)

    names['PCT_Change_Close'] =  names.Close.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['PCT_Change_Low'] = names.Low.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['PCT_Change_Open'] = names.Open.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['PCT_Change_High'] = names.High.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['PCT_Change_Vol'] = names.Volume.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['Stock'] = stock
    names.drop(names.index[0],inplace=True)
    names = names.reset_index()
    names = names[['Stock','PCT_Change_Close','PCT_Change_Open','PCT_Change_Low','PCT_Change_High','PCT_Change_Vol','Date']]

    matrix = []
    for i in range(100):
#         days = names.PCT_Change_Close.iloc[i:]
        days = names.PCT_Change_Close.shift(-i)
        df = pd.DataFrame({f'Days {i}':days.values})
        # print(df)
        
        matrix.append(df)
    matrix = pd.concat(matrix,axis=1)
    matrix.insert(loc=0, column='Stock', value=stock)
    data.append(matrix)

#     names = names[['Stock','Date','PCT_Change_Close']]
#     matrix = pd.pivot_table(names,index='Stock',columns='Date',values='PCT_Change_Close')

# pd.options.display.float_format = '${:,.2f}'.format

/home/tony/Desktop/github_repos/Dataquest-modules/venv/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  # Remove the CWD from sys.path while we load stuff.
/home/tony/Desktop/github_repos/Dataquest-modules/venv/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  # This is added back by InteractiveShellApp.init_path()
/home/tony/Desktop/github_repos/Dataquest-modules/venv/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  if sys.path[0] == '':
/home/tony/Desktop/github_repos/Dataquest-modules/venv/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  del sys.path[0]
/home/tony/Desktop/github_repos/Dataquest-modules/venv/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning

In [4]:
stock = data[0]

In [8]:
stock

,Stock,Days 0,Days 1,Days 2,Days 3,Days 4,Days 5,Days 6,Days 7,Days 8,...,Days 90,Days 91,Days 92,Days 93,Days 94,Days 95,Days 96,Days 97,Days 98,Days 99
0,AAAU,0.000000,0.681431,0.676819,0.252101,0.251467,-0.919732,1.687764,0.414938,-0.743802,...,-0.078864,0.631413,0.392157,0.156250,1.794072,-0.919540,-0.696056,0.311526,-0.232919,0.544747
1,AAAU,0.681431,0.676819,0.252101,0.251467,-0.919732,1.687764,0.414938,-0.743802,0.333056,...,0.631413,0.392157,0.156250,1.794072,-0.919540,-0.696056,0.311526,-0.232919,0.544747,-0.464396
2,AAAU,0.676819,0.252101,0.251467,-0.919732,1.687764,0.414938,-0.743802,0.333056,-0.331950,...,0.392157,0.156250,1.794072,-0.919540,-0.696056,0.311526,-0.232919,0.544747,-0.464396,0.077760
3,AAAU,0.252101,0.251467,-0.919732,1.687764,0.414938,-0.743802,0.333056,-0.331950,-0.083264,...,0.156250,1.794072,-0.919540,-0.696056,0.311526,-0.232919,0.544747,-0.464396,0.077760,0.310800
4,AAAU,0.251467,-0.919732,1.687764,0.414938,-0.743802,0.333056,-0.331950,-0.083264,-0.666667,...,1.794072,-0.919540,-0.696056,0.311526,-0.232919,0.544747,-0.464396,0.077760,0.310800,-0.232378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,AAAU,-0.578406,0.646412,-0.770713,-0.064725,0.518135,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,AAAU,0.646412,-0.770713,-0.064725,0.518135,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,AAAU,-0.770713,-0.064725,0.518135,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,AAAU,-0.064725,0.518135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,AAAU,0.518135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:

list_data = pd.concat(data)




# import numpy as np



# array = np.concatenate((list_data.PCT_Change_Close.values[1:], np.array([np.nan])))



# list_data = list_data.reset_index()



# Close_array = list_data.PCT_Change_Close



# type(Close_array)



# data.corr()

In [6]:
# import pandas_profiling as pp
# pp.ProfileReport(list_data)

In [7]:
from sklearn.model_selection import train_test_split
import numpy as np 

X = np.array(stock.loc[:,'Days 1':])
y = np.array(stock['Days 0'])

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state = 0)