In [1]:
import pandas as pd
# path = r'/home/tony/Downloads/AMEX_20190905.csv'
path = r'C:\Users\Tony\AppData\Local\Packages\microsoft.windowscommunicationsapps_8wekyb3d8bbwe\LocalState\Files\S0\7535\Attachments\AMEX_20190905[9799].csv'
df = pd.read_csv(path,names=['stock','date','open','high','low','close','volume','dividends'])

In [2]:
df.head()

  stock         date   open     high      low    close  volume  dividends
0  AAAU  05-Sep-2019  15.35  15.3500  15.0600  15.1550  162700        NaN
1  AADR  05-Sep-2019  50.14  50.1400  49.8300  49.9600    8500        NaN
2  AAMC  05-Sep-2019  10.70  10.9550  10.7000  10.7000    2000        NaN
3   AAU  05-Sep-2019   0.72   0.7301   0.6400   0.6701  704900        NaN
4  ACES  05-Sep-2019  31.05  31.0700  30.7164  30.8064   11100        NaN

In [3]:
df['stock'].value_counts(normalize=True).sort_values()

NUGT    0.000452
EEMX    0.000452
TMFC    0.000452
CEV     0.000452
ESGW    0.000452
          ...
REGL    0.000452
EMEM    0.000452
XPP     0.000452
FLRT    0.000452
GGN     0.000452
Name: stock, Length: 2213, dtype: float64

In [4]:
df = df.loc[:10,'stock']
df

0     AAAU
1     AADR
2     AAMC
3      AAU
4     ACES
5     ACIM
6     ACIO
7     ACSG
8     ACSI
9      ACU
10    ACWF
Name: stock, dtype: object

In [5]:
import yfinance as yf
AAAU = []
data= []

for i,stock in enumerate(df):
    if stock == 'ACIM':
        continue
    names = yf.Ticker(stock)
    history = names.history(start='2019-12-01',end='2020-01-08')
    print(history.shape)
    names = pd.DataFrame(history)
#     print(names.columns)
        
    names['PCT_Change_Close'] =  names.Close.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['PCT_Change_Low'] = names.Low.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['PCT_Change_Open'] = names.Open.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['PCT_Change_High'] = names.High.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['PCT_Change_Vol'] = names.Volume.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
    names['Stock'] = stock
    names['VMs'] = [f'VM{x}'for x in range(25)]
#     names.drop(names.index[0],inplace=True)
    names = names.reset_index()
    names = names[['Date','Stock','PCT_Change_Close','PCT_Change_Open','PCT_Change_Low','PCT_Change_High','PCT_Change_Vol']]
#     print(names)
    if stock == 'AAAU':
        names = names[['Date','Stock','PCT_Change_Close']]
        names = names.pivot(index='Stock',columns='Date',values='PCT_Change_Close')
        AAAU.append(names)
  
        
#     matrix = []
#     for i in range(1,101):
#         days = names.PCT_Change_Close.shift(i)
#         df = pd.DataFrame({f'Days {i}':days.values})
        
#         matrix.append(df)
#     matrix = pd.concat(matrix,axis=1)
#     matrix.insert(loc=0, column='Stock', value=stock)
    
# #     print(matrix)
#     data.append(matrix)

# pd.options.display.float_format = '${:,.2f}'.format

(25, 7)

c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning

c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  from ipykernel import kernelapp as app
c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  app.launch_new_instance()
c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:17: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning

(25, 7)
(25, 7)
(25, 7)
(25, 7)
(25, 7)
(25, 7)
(25, 7)
(25, 7)
(25, 7)

In [6]:
AAAU[0]

Date,2019-12-02,2019-12-03,2019-12-04,2019-12-05,2019-12-06,2019-12-09,2019-12-10,2019-12-11,2019-12-12,2019-12-13,...,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31,2020-01-02,2020-01-03,2020-01-06,2020-01-07
Stock,,,,,,,,,,,,,,,,,,,,,
AAAU,NaN,1.028101,-0.135685,0.067935,-1.086219,0.068634,0.205761,0.684463,-0.339905,0.545703,...,0.542741,0.944669,0.735294,0.066357,0.198939,0.264725,0.660066,1.311475,1.100324,0.384123

In [7]:
data[1].corr()

IndexError: list index out of range

In [ ]:
list_data = pd.concat(data)

In [ ]:
# list_data.index

In [ ]:
# list_data.drop(list_data.index[0],inplace=True)

percent change matrix row index days percent till 100. column day percent of previous days

In [ ]:
list_data

In [ ]:
# import numpy as np

In [ ]:
# array = np.concatenate((list_data.PCT_Change_Close.values[1:], np.array([np.nan])))

In [ ]:
# list_data = list_data.reset_index()

In [ ]:
# Close_array = list_data.PCT_Change_Close

In [ ]:
# type(Close_array)

In [ ]:
# data = []
# for i in range(100):
#     days = list_data.PCT_Change_Close.shift(i)
#     df = pd.DataFrame({f'Days {i}':days.values})
#     print(df)
#     data.append(df)

In [ ]:
# data = pd.concat(data,axis=1)

In [ ]:
# data

In [ ]:
# data.corr()