In [1]:
import pandas as pd
path = r'C:\Users\Tony\AppData\Local\Packages\microsoft.windowscommunicationsapps_8wekyb3d8bbwe\LocalState\Files\S0\7535\Attachments\TONY.csv'

df = pd.read_csv(path,names=['stock','date','open','close','high','low','volume','dividends'])

In [2]:
df.head()

  stock      date   open    close     high      low  volume  dividends
0  AAAU  5-Sep-19  15.35  15.3500  15.0600  15.1550  162700        NaN
1  AADR  5-Sep-19  50.14  50.1400  49.8300  49.9600    8500        NaN
2  AAMC  5-Sep-19  10.70  10.9550  10.7000  10.7000    2000        NaN
3   AAU  5-Sep-19   0.72   0.7301   0.6400   0.6701  704900        NaN
4  ACES  5-Sep-19  31.05  31.0700  30.7164  30.8064   11100        NaN

In [3]:
df = df.loc[:10,'stock']
df

0     AAAU
1     AADR
2     AAMC
3      AAU
4     ACES
5     ACIM
6     ACIO
7     ACSG
8     ACSI
9      ACU
10    ACWF
Name: stock, dtype: object

In [4]:
import yfinance as yf

list_data= []

for i,stock in enumerate(df):
    names = yf.Ticker(stock)
    history = names.history(start='2018-01-01',end='2019-01-01')
    names = pd.DataFrame(history)
    names['Stock'] = stock
    
    list_data.append(names)

- ACIO: Data doesn't exist for startDate = 1514736000, endDate = 1546272000

In [5]:
list_data = pd.concat(list_data)

c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [6]:
list_data = list_data[['Stock','Adj Close','Close','Dividends','High','Low','Open','Stock Splits','Volume']]

In [7]:
list_data

,Stock,Adj Close,Close,Dividends,High,Low,Open,Stock Splits,Volume
Date,,,,,,,,,
2018-08-15,AAAU,NaN,11.74,0.000,11.84,11.74,11.84,0.0,27300.0
2018-08-16,AAAU,NaN,11.74,0.000,11.80,11.74,11.78,0.0,428400.0
2018-08-17,AAAU,NaN,11.82,0.000,11.82,11.77,11.80,0.0,52400.0
2018-08-20,AAAU,NaN,11.90,0.000,11.91,11.85,11.88,0.0,28700.0
2018-08-21,AAAU,NaN,11.93,0.000,11.95,11.89,11.92,0.0,30600.0
...,...,...,...,...,...,...,...,...,...
2018-12-24,ACWF,NaN,24.19,0.000,24.55,24.18,24.44,0.0,34400.0
2018-12-26,ACWF,NaN,25.02,0.000,25.02,24.10,24.25,0.0,422200.0
2018-12-27,ACWF,NaN,25.11,0.000,25.11,24.53,24.72,0.0,19800.0
2018-12-28,ACWF,NaN,25.15,0.175,25.45,25.12,25.35,0.0,57500.0
2018-12-31,ACWF,NaN,25.32,0.000,25.43,25.24,25.43,0.0,32800.0

In [8]:
list_data.loc['2018-08-15','Adj Close'].dtypes

dtype('float64')

In [9]:
import numpy as np

list_data['Adj Close'].notna()

Date
2018-08-15    False
2018-08-16    False
2018-08-17    False
2018-08-20    False
2018-08-21    False
              ...
2018-12-24    False
2018-12-26    False
2018-12-27    False
2018-12-28    False
2018-12-31    False
Name: Adj Close, Length: 1996, dtype: bool

In [10]:
list_data['Adj Close'].value_counts(normalize=True)

Series([], Name: Adj Close, dtype: float64)

In [11]:
list_data = list_data.drop(columns=['Adj Close'])

In [12]:
list_data.head()

,Stock,Close,Dividends,High,Low,Open,Stock Splits,Volume
Date,,,,,,,,
2018-08-15,AAAU,11.74,0.0,11.84,11.74,11.84,0.0,27300.0
2018-08-16,AAAU,11.74,0.0,11.80,11.74,11.78,0.0,428400.0
2018-08-17,AAAU,11.82,0.0,11.82,11.77,11.80,0.0,52400.0
2018-08-20,AAAU,11.90,0.0,11.91,11.85,11.88,0.0,28700.0
2018-08-21,AAAU,11.93,0.0,11.95,11.89,11.92,0.0,30600.0

In [13]:
list_data['PCT_Change'] = list_data.Close.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
list_data.PCT_Change

c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

Date
2018-08-15         NaN
2018-08-16    0.000000
2018-08-17    0.681431
2018-08-20    0.676819
2018-08-21    0.252101
                ...
2018-12-24   -1.626678
2018-12-26    3.431170
2018-12-27    0.359712
2018-12-28    0.159299
2018-12-31    0.675944
Name: PCT_Change, Length: 1996, dtype: float64

In [14]:
list_data.head()

,Stock,Close,Dividends,High,Low,Open,Stock Splits,Volume,PCT_Change
Date,,,,,,,,,
2018-08-15,AAAU,11.74,0.0,11.84,11.74,11.84,0.0,27300.0,NaN
2018-08-16,AAAU,11.74,0.0,11.80,11.74,11.78,0.0,428400.0,0.000000
2018-08-17,AAAU,11.82,0.0,11.82,11.77,11.80,0.0,52400.0,0.681431
2018-08-20,AAAU,11.90,0.0,11.91,11.85,11.88,0.0,28700.0,0.676819
2018-08-21,AAAU,11.93,0.0,11.95,11.89,11.92,0.0,30600.0,0.252101

In [15]:
# pd.options.display.float_format = '${:,.2f}'.format
list_data.PCT_Change = list_data.PCT_Change.map('{:,.2f}%'.format)
list_data = list_data[['Stock','PCT_Change','Close','Open','High','Close','Stock Splits','Dividends','Volume']]

In [16]:
list_data

,Stock,PCT_Change,Close,Open,High,Close,Stock Splits,Dividends,Volume
Date,,,,,,,,,
2018-08-15,AAAU,nan%,11.74,11.84,11.84,11.74,0.0,0.000,27300.0
2018-08-16,AAAU,0.00%,11.74,11.78,11.80,11.74,0.0,0.000,428400.0
2018-08-17,AAAU,0.68%,11.82,11.80,11.82,11.82,0.0,0.000,52400.0
2018-08-20,AAAU,0.68%,11.90,11.88,11.91,11.90,0.0,0.000,28700.0
2018-08-21,AAAU,0.25%,11.93,11.92,11.95,11.93,0.0,0.000,30600.0
...,...,...,...,...,...,...,...,...,...
2018-12-24,ACWF,-1.63%,24.19,24.44,24.55,24.19,0.0,0.000,34400.0
2018-12-26,ACWF,3.43%,25.02,24.25,25.02,25.02,0.0,0.000,422200.0
2018-12-27,ACWF,0.36%,25.11,24.72,25.11,25.11,0.0,0.000,19800.0
2018-12-28,ACWF,0.16%,25.15,25.35,25.45,25.15,0.0,0.175,57500.0
2018-12-31,ACWF,0.68%,25.32,25.43,25.43,25.32,0.0,0.000,32800.0